@import '../../src/style/scss/v1/vars/vars';
@import '../../src/style/scss/mixins/mixins';
@import '../../src/style/scss/mixins/breakpoints';

:host{
    @extend %reset;
}

.main-content {
  position: relative;
  margin-left: $leftMenuWidth;
  padding-right: $contentMargin;
  height: calc(100vh - #{$headerPaddingSm} - #{$headerPanelHeight});
  overflow-y: auto;
  transition: margin .45s ease-out;
  background-color: $light-200;

  &.is-components-examples {
    background-color: $White;
    .page-view{
      padding: $componentsPagePadding;
    }
  }

  .mainLoader {
    z-index: getZIndexLayerOffset(system, 13);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    background-color: #f3f5f7;
    fusion-loader {
      vertical-align: middle;
      display: table-cell;
    }
  }
  @include media-breakpoint-max('sm') {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    height: calc(100vh - #{$headerPaddingMobile} - #{$headerPanelHeight});
  }

  @include media-breakpoint-between('sm','md') {
    margin-left: $contentMargin;
  }

  @include media-breakpoint-min('xl') {
    height: calc(100vh - #{$headerPaddingLarge} - #{$headerPanelHeight});
  }
}

.collapsed {
  .main-content {
    @include media-breakpoint-min('md') {
      margin-left: $leftMenuCollapsedWidth;
    }
  }
}

.page-view {
  height: calc(100vh - #{$headerPaddingSm} - #{$headerPanelHeight});
  .app-route-content-holder{
    height: 100%;
  }
}

@include media-breakpoint-min('xl') {
  .page-view {
    height: calc(100vh - #{$headerPaddingSm} - #{$headerPanelHeight} - #{$headerPaddingDesktop});
  }
}
