<!-- region Expand rows Cell -->
@for (expandCell of (expandCellCount | async); track expandCell; let isLast = $last, idx = $index){
    @if(cellShown | generic:'cell-expand'){
        <td class="expand-cell"
            [class.total-row]="isRowTotal"
            [class.expanded]="isExpanded"
            [class.inner-row]="isInnerRow"
            [class.sticky-left]="options?.rowsExpandableOptions?.sticky"
            [attr.rowspan]="attrRowspan | generic:'cell-expand'"
            [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:(tableTestIdModifiers.CELL+'-r'+rowIndex+'-c'+idx)"
        >
            @if(isLast && showExpandIcon()){
                <fusion-icon-button
                        [iconName]="expandArrowIconName"
                        [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:(tableTestIdModifiers.EXPAND_ICON_BUTTON+'-r'+rowIndex+'-c'+idx)"
                        (click)="expandRow.emit({rowIndex: rowIndex, row: row, isExpanded: !isExpanded})"
                ></fusion-icon-button>
            }
        </td>
    }
}
<!-- endregion Expand Cell -->
@for (column of columns; track column; let columnIndex = $index, isLast = $last){
    @if (cellShown | generic:column.key){
        <td fusionTableCell
            [fusionTooltip]="columnsData[columnIndex]?.tooltip"
            [data]="row[column.key]"
            [row]="row"
            [rowIndex]="rowIndex"
            [rowSpanIndex]="rowSpanIndex"
            [column]="column"
            [options]="options"
            [position]="{x: rowIndex, y: columnIndex}"
            [isRemove]="columnsData[columnIndex]?.isRemove"
            [infoIconTooltip]="columnsData[columnIndex]?.infoIconOnHoverTooltip"
            [isRowSelected]="isRowSelected"
            [isLastColumn]="isLast"
            [isReadOnly]="isRowReadOnly"
            [customClass]="row['customClass']"
            [class]="columnsData[columnIndex]?.classes"
            [class.cell-tooltip]="columnsData[columnIndex]?.hasTooltip"
            [class.after-sticky]="hasAfterSticky"
            [class.inner-row]="isInnerRow"
            [class.is-checkbox-holder]="tableService.isTypeCheckbox(column)"
            [ngStyle]="columnsData[columnIndex]?.styles"
            [style.width]="columnsData[columnIndex]?.width"
            [attr.colspan]="columnsData[columnIndex]?.colspan"
            [attr.rowspan]="attrRowspan | generic:column.key"
            [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:(tableTestIdModifiers.CELL+'-r'+rowIndex+'-c'+columnIndex)"
            (remove)="rowRemoved.emit()"
            (selectedChange)="selectedChange.emit($event)"
            (dataChange)="onDataChange($event, column.key)"
        ></td>
    }
}

