@import '../../../src/style/scss/mixins/mixins';

:host {
    .link-container {
        position: absolute;
        right: 21px;
    }

    label{
        cursor: pointer;
    }

    &.active{
        label{
            cursor: default;
        }
    }

    @include icon-style(null, currentColor, 15px, false, true) {
        left: 20px;
        top: 17px;
        position: absolute;
    }
}

:host-context(fusion-menu.collapsed) {
    label {
        transition: opacity .3s ease;
        opacity: 0;
    }
}

:host-context(fusion-menu.collapsed.opened) {
    label {
        opacity: 1;
    }
}
