@import '../../../src/style/scss/v4/vars/vars';

:host{
    @extend %reset;
    height: 100%;
    width: 276px;
    .fu-navigation-menu{
        display: block;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
}
