<div class="fu-navigation-menu">
    <fusion-navigation-primary-menu #primaryMenu
        [menuBarItems]="menuItems"
        [layoutUser]="layoutUser"
        [menuCollapsed]="secondaryMenuCollapsed$ | async"
        (primaryMenuItemClicked)="onPrimaryMainMenuItemClicked($event)"
        (primaryMenuItemMouseEnter)="onPrimaryMainMenuItemMouseEnter($event)"
        (changeColorTheme)="onChangeColorTheme($event)"
        (toggleMenu)="toggleMenu()"
        (resetSecondaryMenu)="resetSecondaryMenu()"
        (menuItemClick)="onMenuItemClicked($event)"
    ></fusion-navigation-primary-menu>
    <fusion-navigation-secondary-menu
        [menuItems]="secondaryMenuItems$ | async"
        [menuName]="secondaryMenuName$ | async"
        [menuLogoSrc]="secondaryMenuLogoSrc$ | async"
        [class.fu-menu-showed]="secondaryMenuShowed$ | async"
        [class.fu-menu-expanded]="(secondaryMenuCollapsed$ | async) === false"
        (menuItemClick)="onMenuItemClicked($event)"
    ></fusion-navigation-secondary-menu>
</div>
