<div class="fu-navigation-menu">
    <fusion-navigation-primary-menu
        [menuBarItems]="menuItems"
        [layoutUser]="layoutUser"
        [menuCollapsed]="secondaryMenuCollapsed | async"
        (menuItemClick)="onMenuItemClicked($event)"
        (primaryMenuItemClicked)="onPrimaryMainMenuItemClicked($event)"
        (changeColorTheme)="onChangeColorTheme($event)"
        (toggleMenu)="toggleMenu()"
        (resetSecondaryMenu)="resetSecondaryMenu()"
    ></fusion-navigation-primary-menu>
    <fusion-navigation-secondary-menu
        [class.fu-menu-expanded]="(secondaryMenuCollapsed | async) === false"
        [menuItems]="secondaryMenuItems | async"
        [menuName]="secondaryMenuName | async"
        [menuLogoSrc]="secondaryMenuLogoSrc | async"
        (menuItemClick)="onMenuItemClicked($event)"
    ></fusion-navigation-secondary-menu>
</div>
