@import '../../../../src/style/scss/v4/mixins/mixins';
@import '../../../../src/style/scss/v4/vars/vars';
@import '../../../../src/style/scss/v4/vars/layout';

:host{
    @extend %reset;
    display: block;
    height: 100vh;
    width: $navBarPrimaryWidth;
    .fu-navigation-bar-holder{
        position: fixed;
        z-index: getZIndexLayerOffset(application, 4);
        background-color: var(--fu-navbar-background-color, $fu-nav-primary-unity);
        transition: background-color .8s;


        height: 100%;
        width: $navBarPrimaryWidth;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .fu-navigation-bar-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            &.fu-home{
                height: 64px;
                .fu-navigation-bar-button:hover{
                    cursor: pointer;
                }
            }
            &.fu-network{
                height: 64px;
                position: relative;
                .fu-navigation-bar-button{
                    @include icon-style('fu-navigation-bar-button-icon', $fu-nav-menu-white-100, $navBarIconSize, true, true) {
                        @include size($navBarIconSize);
                    }
                    .fu-navigation-bar-button-icon-wrapper{
                        @include size($navBarIconSize);
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    &.fu-triangle{
                        &:after {
                            content:'';
                            position: absolute;
                            top: 17px;
                            right: 0;
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;
                            border-right: 6px solid var(--background-paper, #{$color-v4-background-paper});
                            border-bottom: 8px solid transparent;
                        }
                    }
                }
                &:first-child{
                    margin-top: 8px;
                }
            }
            &.fu-bottom-block{
                height: 40px;
                &:last-of-type{
                    padding-bottom: 8px;
                }
            }
        }

        .fu-navigation-bar-bottom-items{
            width: 100%;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;

            .fu-menu-toggle-button-holder{
                height: 48px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: solid 1px $fu-nav-menu-white-12;
                background-color: $fu-nav-menu-white-16;
                margin-top: 8px;
                margin-bottom: -8px;
                gap: 2px;
            }
        }

        .fu-navigation-bar-network-name{
            color: $fu-nav-menu-white-80;
            font-size: 10px;
            line-height: 16px;
            @extend %font-v4-semibold;
        }

        .fu-navigation-bar-button{
            @include size($navButtonSize);
            border-radius: $borderRadiusV4-md;
            display: flex;
            align-items: center;
            justify-content: center;
            @include icon-style('fu-navigation-bar-button-icon', $fu-nav-menu-white-100, $navBarIconSize, true, true) {
                @include size($navBarIconSize);
                opacity: 0.82;
            }

            &:hover{
                background-color: $fu-nav-menu-white-16;
                @include icon-style('fu-navigation-bar-button-icon', $fu-nav-menu-white-100, $navBarIconSize, true, true){
                    opacity: 1;
                }
            }
            &.fu-selected {
                border: solid 1px $fu-nav-menu-white-12;
                background-color: $fu-nav-menu-white-16;
                @include icon-style('fu-navigation-bar-button-icon', $fu-nav-menu-white-100, $navBarIconSize, true, true){
                    opacity: 1;
                }

                &:hover {
                    cursor: default;
                }
                & + .fu-navigation-bar-network-name {
                    color: $fu-nav-menu-white-100;
                }
            }
            &.fu-menu-toggle{
                @include size($navButtonSize);
                &:hover{
                    cursor: pointer;
                    background-color: $fu-nav-menu-white-16;
                }
            }
            &.fu-with-pop-menu{
                cursor: pointer;
            }
        }
    }
}
