<div class="fu-navigation-bar-holder">
    <div *ngIf="homeItem" class="fu-navigation-bar-item fu-home" [fusionTooltip]="homeItem.menuTooltip">
        <div class="fu-navigation-bar-button" [class.fu-selected]="homeItem === selectedBarItem" (click)="networkItemClicked(null)">
            <fusion-icon *ngIf="homeItem.menuIcon"
                         class="fu-navigation-bar-button-icon"
                         [name]="homeItem.menuIcon"
            ></fusion-icon>
        </div>
    </div>
    <ng-container *ngIf="(networkItems$ | async) as networkItems">
        <div class="fu-navigation-bar-item fu-network" *ngFor="let networkItem of networkItems" [fusionTooltip]="networkItem.menuTooltip">
            <div class="fu-navigation-bar-button" [class.fu-selected]="networkItem === selectedBarItem" (click)="networkItemClicked(networkItem)">
                <fusion-icon *ngIf="networkItem.menuIcon" class="fu-navigation-bar-button-icon" [name]="networkItem.menuIcon"></fusion-icon>
            </div>
            <div *ngIf="networkItem.menuTitle" class="fu-navigation-bar-network-name">{{networkItem.menuTitle}}</div>
        </div>
    </ng-container>
    <ng-container *ngIf="(bottomItems$ | async) as bottomItems">
        <div class="fu-navigation-bar-bottom-items">
            <div class="fu-navigation-bar-item fu-bottom-block" *ngFor="let bottomItem of bottomItems" [fusionTooltip]="bottomItem.menuTooltip">
                <div class="fu-navigation-bar-button">
                    <fusion-icon *ngIf="bottomItem.menuIcon" class="fu-navigation-bar-button-icon" [name]="bottomItem.menuIcon"></fusion-icon>
                </div>
            </div>
            <div class="fu-menu-toggle-button-holder" *ngIf="selectedBarItem" [fusionTooltip]="menuToggleButtonTooltip">
                <div class="fu-navigation-bar-button fu-menu-toggle">
                    <fusion-icon *ngIf="menuCollapsed" class="fu-navigation-bar-button-icon" [name]="menuCollapsedIcon"></fusion-icon>
                    <fusion-icon *ngIf="!menuCollapsed" class="fu-navigation-bar-button-icon" [name]="menuExpandedIcon"></fusion-icon>
                </div>
            </div>
        </div>
    </ng-container>
</div>
