<ul class="fu-list-wrapper">
    @for (listItem of list; track listItem){
        <li class="fu-list-item">
            @if (listItem.flag){
                <fusion-flag [countryCode]="listItem.flag"></fusion-flag>
            }
            @if (listItem.imageUrl){
                <img class="fu-list-item-image" [src]="listItem.imageUrl" alt="listItem.label" loading="lazy">
            }
            <div class="fu-list-item-label truncate" [fusionTooltip]="listItem.label">{{listItem.label}}</div>
        </li>
    }
</ul>

