<div class="fu-chart-labels-wrapper">
    <div class="fu-chart-label" *ngFor="let datasetLabel of labels;"
         (mouseenter)="labelHover.emit(datasetLabel)"
         (mouseleave)="labelHover.emit(null)"
    >
        <div class="fu-chart-label-color"
             [style.background-color]="getLabelBGColor(datasetLabel.color)"
             [style.border-color]="datasetLabel.color"
        >
        </div>
        <fusion-icon class="fu-chart-label-icon" *ngIf="datasetLabel.icon" [name]="datasetLabel.icon"></fusion-icon>
        <div class="fu-chart-label-text truncate" [fusionTooltip]="datasetLabel.label">{{ datasetLabel.label }}</div>
    </div>
</div>
