@import '../../src/style/scss/vars/vars';
@import '../../src/style/scss/vars/mixins';
@import '../../src/style/scss/vars/border';

$smallHeight: 24px;
$smallMinWidth: 64px;
$smallPadding: 4px 16px 5px;

$mediumHeight: 32px;
$mediumMinWidth: 92px;
$mediumPadding: 8px 16px 8px;

$largeHeight: 40px;
$largeMinWidth: 144px;
$largePadding: 8px 16px 8px;
$largePaddingButtonComponent: 11px 16px 9px;
$largePaddingButtonComponentWithIcon: 15px 5px 15px 5px;

$buttonBorderRadius: 100px;
$iconInTableButtonSize: 28px;
$iconInTableButtonIconSize: 16px;

:host:not(.fusion-style-v1) {
    @extend %reset;
    outline: none;
    height: $mediumHeight;
    min-width: $mediumMinWidth;
    padding: $mediumPadding;
    color: $White;
    background-color: $fu-primary-500;
    border-radius: $buttonBorderRadius;
    @extend %noBorder;
    @extend %font-subtitle;
    cursor: pointer;
    text-align: var(--button-text-align, center);

    &:hover {
        background-color: $fu-primary-400;
    }

    &:active {
        background-color: $fu-primary-600;
    }

    &.small {
        height: $smallHeight;
        min-width: $smallMinWidth;
        padding: $smallPadding;
    }

    &.large{
        height: $largeHeight;
        min-width: $largeMinWidth;
        padding: $largePadding;
    }

    &.is-iconed {
        @include size($mediumHeight);
        min-width: inherit;
        padding: var(--button-iconed-padding, 5px 2px 2px);
        @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-icon-size, 16px), false, true){
            padding: var(--button-icon-padding);
            height: 16px;
        };

        &.small {
            @include size($smallHeight);
            @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-small-icon-size, 12px), false, true){
                height: 12px;
            };
        }
        &.large {
            @include size($largeHeight);
        }
        &.is-with-content{
            width: initial;
            padding: $mediumPadding;
            &.transparent {
                min-width: $mediumMinWidth;
                height: $mediumHeight;
                &.small {
                    height: $smallHeight;
                    min-width: $smallMinWidth;
                }
                &.large {
                    min-width: $largeMinWidth;
                    height: $largeHeight;
                }
            }
            &.small {
                padding: $smallPadding;
                @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-small-icon-size, 12px), false, true);
            }
            &.large{
                padding: $largePadding;
            }
            &.is-with-loading {
                min-width: $mediumMinWidth;
                @include icon-style('loader-dots-v4', currentColor, (height: 16px, width: 36px), false, true);
                &.large{
                    min-width: $largeMinWidth;
                    @include icon-style('loader-dots-v4', currentColor, (height: 16px, width: 36px), false, true);
                }
                &.small{
                    min-width: $smallMinWidth;
                    @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 24px), false, true);
                }
            }
            & > span{
                display: flex;
                align-items: center;
                justify-content: center;
                & > span{
                    margin-left: 7px;
                }
            }
        }

        &.in-table {
            @include size($iconInTableButtonSize);
            background-color: $White;
            color: $fu-light-900;
            margin-right: 8px;
            &.small{
                @include size($smallHeight);
            }

            &:hover {
                background-color: $fu-primary-500;
                color: $White;
            }

            &:active {
                background-color: $fu-primary-600;
                color: $White;
            }
        }
    }

    &.secondary {
        color: $fu-light-800;
        background-color: $fu-light-300;

        &:hover {
            background-color: $fu-light-400;
        }

        &:active {
            background-color: $fu-light-500;
        }
        &.disabled,
        &:disabled {
            color: $White;
            background-color: $fu-light-700;
        }
    }

    &.negative {
        color: $White;
        background-color: $fu-negative-500;

        &:hover {
            background-color: $fu-negative-400;
        }

        &:active {
            background-color: $fu-negative-700;
        }
    }

    &:disabled,
    &.disabled{
        @extend %disabled;
        background-color: $fu-light-700;
    }

    &.is-with-loading {
        > span > span {
            visibility: hidden;
        }
        .loading {
            display: none
        }
        @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 36px), false, true) {
            display: block;
        }
        &:disabled{
            background-color: $fu-primary-500;
        }
        &.small {
            min-width: 24px;
            @include icon-style('loader-dots-v4', currentColor, (height: 8px, width: 20px), false, true)
        }
        &.large{
            @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 36px), false, true) {
                padding-top: 5px;
            }
        }
        &.secondary:disabled{
            color: $fu-light-800;
            background-color: $fu-light-200;
        }
        &.negative:disabled{
            background-color: $fu-negative-500;
        }
        &.is-iconed{
            @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 24px), false, true);
            &.large{
                @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 30px), false, true){
                    padding: 0;
                }
            }
            &.small {
                @include icon-style('loader-dots-v4', currentColor, (height: 8px, width: 20px), false, true)
            }

            &.is-with-content {
                > span > span {
                    margin-left: 0;
                    display: none;
                }
            }
        }
    }

    &.transparent{
        background-color: transparent;
        color: $fu-primary-500;

        height: $smallHeight;
        min-width: $smallMinWidth;
        padding: $smallPadding;

        &.medium{
            height: $mediumHeight;
            min-width: $mediumMinWidth;
            padding: $mediumPadding;
        }
        &.large{
            height: $largeHeight;
            min-width: $largeMinWidth;
            padding: $largePadding;
        }
        &:hover{
            background-color: $fu-primary-100;
        }
        &.negative{
            color: $fu-negative-500;
            &:hover{
                background-color: $fu-negative-100;
            }
        }
        &.secondary{
            color: $fu-light-800;
            &:hover{
                background-color: $fu-light-300;
            }
        }
        &.disabled,
        &:disabled {
            color: $fu-light-700;
            background-color: transparent;
            &:hover{
                background-color: transparent;
            }
        }
        &.is-with-loading{
            background-color: transparent;
            color: $fu-primary-500;
            &.negative{
                color: $fu-negative-500;
                background-color: transparent;
            }
            &.secondary{
                color: $fu-light-800;
                background-color: transparent;
            }
        }
    }
}

:host-context(fusion-button):not(.fusion-style-v1) {
    @extend %reset;
    display: inline-flex;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    line-height: 1px;
    min-width: $mediumMinWidth;
    height: $mediumHeight;
    .is-with-content {
        &.large{
            height: $largeHeight;
            min-width: $largeMinWidth;
            padding: $largePaddingButtonComponent;
        }
    }
    &.is-iconed {
        align-items: center;
        padding:0;
        line-height: 1px;
        @include size($mediumHeight);
        min-width: inherit;
        @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-icon-size, 16px), false, true){
            height: 16px;
        };
        &.transparent{
            padding:0;
            &.small {
                min-width: 24px;
            }
            &.large {
                min-width: 40px;
            }
        }
        &.small {
            @include size($smallHeight);
            @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-small-icon-size, 12px), false, true);
        }
        &.large {
            @include size($largeHeight);
            @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-icon-size, 16px), false, true){
                height: 16px;
            };
        }
        &.is-with-loading {
            @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 24px), false, true);
            &.large{
                @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 30px), false, true){
                    padding: 0;
                }
            }
            &.small {
                @include icon-style('loader-dots-v4', currentColor, (height: 8px, width: 20px), false, true)
            }
        }
        &.is-with-content {
            padding: 8px 16px 8px;
            min-width: 92px;
            @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-icon-size, 16px), false, true){
                height: 16px;
            };
            line-height: inherit;
            &.small {
                @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-icon-size, 12px), false, true){
                    height: 12px;
                };
                min-width: 64px;
                width: inherit;
            }
            &.large {
                width: inherit;
                min-width: 144px;
            }
            &.is-with-loading {
                min-width: $mediumMinWidth;
                @include icon-style('loader-dots-v4', currentColor, (height: 16px, width: 36px), false, true);
                &.large{
                    min-width: $largeMinWidth;
                    @include icon-style('loader-dots-v4', currentColor, (height: 16px, width: 36px), false, true);
                }
                &.small{
                    min-width: $smallMinWidth;
                    @include icon-style('loader-dots-v4', currentColor, (height: 10px, width: 24px), false, true);
                }
            }
        }
    }
    &.is-with-loading {
        background-color: $fu-primary-500;
        span {
            line-height: 0;
        }
        &.large{
            padding: $largePaddingButtonComponent;
            @include icon-style('loader-dots-v4', currentColor, (height: 16px, width: 36px), false, true){
                padding: 0;
            }
            &.is-iconed {
                padding: $largePaddingButtonComponentWithIcon;
            }
        }
        &.secondary{
            color: $fu-light-800;
            background-color: $fu-light-200;
        }
        &.negative{
            background-color: $fu-negative-500;
        }
        &.transparent{
            background-color: transparent;
            color: $fu-primary-500;
            &.large{
                padding: $largePaddingButtonComponent;
            }
            &.negative{
                color: $fu-negative-500;
                background-color: transparent;
            }
            &.secondary{
                color: $fu-light-800;
                background-color: transparent;
            }
        }
    }
}


:host-context(a):not(.fusion-style-v1) {
    @extend %font-bodyStrong;
    line-height: 1.33;
    color: $fu-primary-500;
    background-color: transparent;
    &:hover {
        background-color: transparent;
        color: $fu-primary-500;
    }
    &:disabled,
    &.disabled {
        @extend %disabled;
        color: $fu-light-900;
        background-color: transparent;
    }
    &.is-with-loading{
        text-align: center;
        @include icon-style('loader-dots-v4', $fu-light-900, (height: 16px, width: 36px), false, true) {
            display: inherit;
        }
    }
    &.is-iconed {
        padding: $mediumPadding;
        height: auto;
        width: auto;
        @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-small-icon-size, 12px), false, true){
            margin-right: 8px;
            vertical-align: middle;
        }
        &.is-with-loading{
            @include icon-style('icon', var(--button-icon-color, currentColor), var(--button-small-icon-size, 12px), false, true){
                display: none;
            }
        }
    }
    .is-icon-text{
        line-height: 1;
    }
}
