@import '../../../src/style/scss/v3/mixins/mixins';
@import '../../../src/style/scss/v3/vars/colors';
@import '../../../src/style/scss/v3/vars/fonts';


%chip-font {
    letter-spacing: 0.24px;
    font-size: 13px;
    line-height: 15.87px;
    font-family: $helveticaNueMd;
    font-weight: 500;
}

$chipHeight: 32px;
$chipMaxWidth: 352px;

$paddingChip:  4px 12px 4px 12px;
$paddingChipWithIcon:  4px 16px 4px 12px;
$paddingChipWithCloseButton: 4px 10px 4px 14px;

:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:$paddingChip;
    max-width: $chipMaxWidth;
    width: fit-content;
    height: $chipHeight;
    @extend %chip-font;
    border-radius: 100px;
    border: none;
    gap: 4px;
    background-color: $fu-primary-100;
    color:$fu-primary-500;

    @include icon-style('fu-icon-close', $fu-primary-300, 16px, true, true,true){
        margin-left: auto;
        width: 16px;
        height: 16px;
    };

    @include icon-style('fu-icon-close', $fu-primary-400, 16px, flase, true,true,true){
        &:hover {
            cursor: pointer;
        }
    };

    &:hover {
        background-color: $fu-primary-200;
        cursor: pointer;
    }

    .fu-chip-content-wrapper.truncate {
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        display: inline-block;
    }

    &.fu-date-filter {
        padding: $paddingChipWithIcon;
        .fu-icon-close {
            display: none;
        }
    }

    &.fu-add-filter {
        background-color: $fu-light-200;
        padding: $paddingChipWithIcon;
        color: $fu-black-500;
        &:hover {
            color: $fu-primary-500;
            cursor: pointer;
        }
    }

    &.fu-chip-select {
        &.with-closed-icon {
            padding: $paddingChipWithCloseButton;

            @include icon-style('fu-icon-close', $fu-primary-500, 16px, flase, true,true,true){
                &:hover {
                    cursor: pointer;
                }
            };
        }

        &.fu-labeled{
            @include icon-style('fu-icon-close', $fu-primary-400, 16px, flase, true,true,true){
                &:hover {
                    cursor: pointer;
                }
            };

            .fu-chip-content{
                > label {
                    font-family: $helveticaNueMd;
                    font-weight: 900;
                }
            }
        }
    }

    &.fu-disabled{
        background-color: $fu-light-100;
        cursor: not-allowed;
        color: $fu-light-900;
        .fu-icon-close{
            display: none;
        }
        pointer-events: none;
    }

}
