@import '../../../fusion-ui/src/style/scss/mixins/breakpoints';

fusion-icon.clear-full-circle, fusion-icon.arrow-dropdown, fusion-dropdown .is-dropdown-select fusion-icon {
    display: list-item;
    list-style-type: none;
}

fusion-tags-input ul:not(.options) {
    display: flex;
}

fusion-mobile-previewer:not(.fusion-style-v2) .deviceSelectionFooter .iconWrapper > fusion-icon {
    display: block;
    margin-top: 4px;
}

@include media-breakpoint-min('xl') {
    .is-header-menu .is-user fusion-icon.user {
        height: 22px;
    }
    .is-header-menu .is-help-menu fusion-icon.help {
        margin-top: 13px;
    }
}
