@import '../../../src/style/scss/vars/vars';
@import '../../../src/style/scss/vars/mixins';
@import '../../../src/style/scss/vars/border';

$selectHolderHeight: 39px;

:host:not(.fusion-style-v1) {
    @extend %reset;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;

    &.open-to-right .overlay {
        left: 0;
    }

    .overlay {
        @include icon-style('icon-prev',  $fu-dark-700, (height: 8px, width: 6px), true, true);
        @include icon-style('icon-next',  $fu-dark-700, (height: 8px, width: 6px), true, true);
        @extend %notificationLayer;
        position: absolute;
        right: 0;
        display: none;
        padding: 8px;
        min-width: 480px;
        border-radius: 4px;
        background-color: $White;
        box-shadow: $v2-box-shadow;
        visibility: hidden;

        &.singleDatePicker {
            min-width: 240px;

            .rightSide, .rightSide .calendarsWrap {
                width: 100%;
            }

            .rightSide .calendarsWrap {
                padding-bottom: 0;
            }
        }

        .rightSide {
            width: 460px;
            position: relative;

            .calendarsWrap {
                padding-bottom: 8px;
                width: 460px;
                display: flex;
                justify-content: space-between;
            }

            .calendarsFooter {
                border-top: 1px solid $fu-light-300;
                height: 32px;
                padding: 7px 0px 7px 4px;
                @extend %font-body;
                color: $fu-light-900;
                line-height: 24px;

                span {
                    float: left;
                }

                button {
                    float: right;
                }
            }

            .prev, .next {
                position: absolute;
                cursor: pointer;
                display: inline-block;
                top: 10px;
                text-align: center;
                width: 20px;
                height: 20px;
                border-radius: 100px;

                &:hover {
                    background-color: $fu-light-200;
                }
            }

            .prev {
                left: 4px;
            }

            .next {
                right: 4px;
            }
        }

        .presetsWrap {
            width: 206px;
            padding-right: 8px;
            @extend %font-body;
            ul{
                padding: 0;
                margin: 0;
                li {
                    color: $fu-dark-300;
                    height: 32px;
                    padding: 8px;
                    display: flex;
                    align-items: center;

                    &:not(.selected):hover {
                        cursor: pointer;
                        border-radius: 4px;
                        background-color: $fu-light-300;
                    }

                    &.selected {
                        border-radius: 3px;
                        background-color: $fu-primary-200;
                    }
                }
            }
        }

        &.isOpen {
            display: flex;
        }

        &.left {
            left: 0;
            right: initial;
        }
        &.visible{
            visibility: initial;
        }
    }
}

