@import '../../../../../../../styles/vars';

:host{
    --fu-tooltip-padding: 0;
    --fu-tooltip-background-color: white;
    .entity-count-wrapper{
        @extend %font-bodySmall;
        color: $fu-black-500;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 3px;
        cursor: default;
        & > span{
            text-transform: capitalize;
        }
        &.no-entities{
            text-decoration: none;
        }
    }
}
