<div
    class="is-dropdown is-multiselect"
    [id]="id"
    [style.width]="placeholderWidth"
    [clickOutsideActivate]="isOpen$ | async"
    (fusionClickOutside)="onOutsideClick()"
    [ngClass]="getHolderCSSClasses()"
>
    <fusion-dropdown-select
        [class.is-icon-right-position]="this.isIconRightPosition"
        (searchValueChanged)="searchValue.setValue($event)"
        (click)="openDropdown($event)"
        [configurations]="dropdownSelectConfigurations$ | async"
        #selectComponent
    >
    </fusion-dropdown-select>
    <div
        class="options-dropdown"
        [class.options-locate-left]="isLocatedLeft"
        [class.options-locate-right]="isLocatedRight"
        [ngClass]="{
            'dd-disabled': isDisabled || isDisabledForm,
            'dd-confirm': search || autoComplete,
            'dd-scroll': filteredOptions?.length >= optionsWithoutScroll
        }"
    >
        <!--search input-->
        <fusion-dropdown-search
            *ngIf="(search || autoComplete) && searchValue"
            [formControl]="searchValue"
            [placeholder]="searchPlaceholder"
            #searchComponent
        ></fusion-dropdown-search>
        <!--dropdown options holder-->
        <div class="options-holder" (scroll)="onScroll($event)" #optionsHolder>
            <ul class="options multi">
                <!--select all option checkbox-->
                <li *ngIf="selectAllLabel && !loading && (hasSearchValue$ | async) === false && filteredOptions?.length !== 0">
                    <label class="is-option-label" [for]="id + '-select-all'">
                        <fusion-checkbox
                            [id]="id + '-select-all'"
                            [checked]="isAllSelected"
                            [isIndeterminate]="isIndeterminate"
                            (changed)="selectAll($event)"
                            #selectAllCheckbox
                        ></fusion-checkbox>
                        <span [innerHTML]="selectAllLabel"></span>
                    </label>
                </li>
                <!--options-->
                <li class="option" [class.is-has-children]="option.childOptions"
                    (click)="optionParentClicked($event)" [ngClass]="getOptionClasses(option)"
                    *ngFor="let option of displayedOptions$ | async; index as i">
                    <!--option regular or parent for check-->
                    <ng-container *ngIf="!option.childOptions" [ngTemplateOutlet]="regularOption" [ngTemplateOutletContext]="{option: option}"></ng-container>
                    <ng-container *ngIf="option.childOptions" [ngTemplateOutlet]="parentOption" [ngTemplateOutletContext]="{option: option}"></ng-container>
                </li>
                <!--loader holder-->
                <li [fusionDropdownLoader]="(autoComplete || search) && loading"></li>
                <!--no-result holder-->
                <li class="no-results" *ngIf="!filteredOptions?.length && !loading && searchValue?.value">No results
                </li>
            </ul>
        </div>
        <!--action "confirm" buttons holder-->
        <div class="dd-actions" *ngIf="confirm">
            <button
                type="button"
                fusion-button
                class="secondary small"
                (click)="closeDropdown()"
                [disabled]="loading"
            >
                Cancel
            </button>
            <button
                type="button"
                fusion-button
                class="primary small"
                (click)="applySelect(true)"
                [disabled]="loading"
            >
                Apply
            </button>
        </div>
    </div>
</div>
<!--errors holder-->
<div class="error-msg" *ngIf="error">{{ error }}</div>

<!--INNER TEMPLATES-->
<!--regular option-->
<ng-template #regularOption let-option="option">
    <ng-container *ngIf="!option.isGroup; else groupOption">
        <label
            class="is-option-label truncate"
            [id]="option.id"
            [for]="id + '-' + option.id"
            [ngClass]="{'has-icon': option.icon}"
            [fusionTooltip]="dropdownService.optionToString(option, mappingOptions, {dropdownType: 'multi'})"
        >
            <fusion-checkbox
                [id]="id + '-' + option.id"
                [checked]="isSelected(option)"
                [value]="option.id"
                (changed)="changeSelected(option)"
            ></fusion-checkbox>
            <ng-container [ngTemplateOutlet]="templateRef || basicTemplate" [ngTemplateOutletContext]="{option: option}">
            </ng-container>
        </label>
    </ng-container>
    <ng-template #groupOption>
        <div class="is-dd-group">
            {{ dropdownService.optionToString(option, {dropdownType: 'multi'}) }}
        </div>
    </ng-template>
</ng-template>

<!--parent option-->
<ng-template #parentOption let-option="option">
    <div [id]="option.id" class="text truncate"
         [fusionTooltip]="dropdownService.optionToString(option, mappingOptions, {dropdownType: 'multi'})">
        <span innerHTML="{{ dropdownService.optionToString(option, {dropdownType: 'multi'}) }}"></span>
    </div>
    <fusion-icon class="option-icon-arrow"
                 [name]="dropdownArrowIconName"></fusion-icon>
    <ul class="is-subgroup-options">
        <li class="option" *ngFor="let childOption of option.childOptions; index as i">
            <ng-container [ngTemplateOutlet]="regularOption"
                          [ngTemplateOutletContext]="{option: childOption}"></ng-container>
        </li>
    </ul>
</ng-template>

<!--option basic content-->
<ng-template #basicTemplate let-option="option">
    <fusion-icon *ngIf="option.icon" [name]="option.icon" class="icon"></fusion-icon>
    <fusion-flag *ngIf="option.flag" [name]="option.flag"></fusion-flag>
    <img [src]="option.image" *ngIf="option.image" alt=""/>
    <span [innerHTML]="dropdownService.optionToString(option, mappingOptions, {dropdownType: 'multi'})"></span>
</ng-template>
