@import '../../src/style/scss/vars/vars';
@import '../../src/style/scss/vars/mixins';

:host:not(.fusion-style-v1) {
    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox'] + label {
        @extend %font-body;
        color: $fu-dark-700;
        user-select: none;
        cursor: pointer;

        &.maxWidth {
            width: 100%;
            display: inline-block;
            padding-right: 10px;
        }

        span {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 8px;
            vertical-align: sub;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Crect width='12' height='12' x='1' y='1' fill='none' stroke='%23A9AFB4' stroke-width='2' rx='3'/%3E%3C/svg%3E")
                left top no-repeat;
            cursor: pointer;
        }
    }

    input[type='checkbox']:checked + label span{
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 14 14'%3E%3Cdefs%3E%3Cpath id='a' d='M7.283 10.882l4.6-4.626a.406.406 0 000-.57l-.566-.568a.399.399 0 00-.566 0L7 8.89 5.249 7.129a.399.399 0 00-.566 0l-.566.57a.403.403 0 000 .568l2.6 2.615c.156.157.41.157.566 0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(-1 -1)'%3E%3Crect width='14' height='14' x='1' y='1' fill='%233083FF' rx='3'/%3E%3Cuse fill='%23FFF' xlink:href='%23a'/%3E%3C/g%3E%3C/svg%3E")
                left top no-repeat;
    }

    input[type='checkbox']:indeterminate + label span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(-1 -1)'%3E%3Crect width='14' height='14' x='1' y='1' fill='%233083FF' rx='3'/%3E%3Cpath fill='%23FFF' d='M5 7h6v2H5z'/%3E%3C/g%3E%3C/svg%3E")
                left top no-repeat;
    }

    input[type='checkbox']:disabled + label {
        color: $fu-light-900;
        cursor: default;

        span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Crect width='12' height='12' x='1' y='1' fill='none' stroke='%23D2D5D8' stroke-width='2' rx='3'/%3E%3C/svg%3E")
                left top no-repeat;
            cursor: default;
        }
    }

    input[type='checkbox']:disabled:checked + label {
        cursor: default;

        span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 14 14'%3E%3Cdefs%3E%3Cpath id='a' d='M6.283 9.882l4.6-4.626a.406.406 0 000-.57l-.566-.568a.399.399 0 00-.566 0L6 7.89 4.249 6.129a.399.399 0 00-.566 0l-.566.57a.403.403 0 000 .568l2.6 2.615c.156.157.41.157.566 0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='12' height='12' x='1' y='1' stroke='%23B7BBC0' stroke-width='2' rx='3'/%3E%3Crect width='14' height='14' fill='%23B7BBC0' rx='3'/%3E%3Cuse fill='%23FFF' xlink:href='%23a'/%3E%3C/g%3E%3C/svg%3E")
                left top no-repeat;
            cursor: default;
        }
    }

    input[type='checkbox']:disabled:indeterminate + label {
        cursor: default;

        span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(-1 -1)'%3E%3Crect width='14' height='14' x='1' y='1' fill='%23B7BBC0' rx='3'/%3E%3Cpath fill='%23FFF' d='M5 7h6v2H5z'/%3E%3C/g%3E%3C/svg%3E")
                left top no-repeat;
            cursor: default;
        }
    }

    label {
        fusion-flag {
            margin-right: 11px;
            margin-left: 1px;
        }

        @include icon-style(null, $light-700, 14px, false, true) {
            padding-right: 3px;
            vertical-align: sub;
        }
    }

    &.only-checkbox:not(.is-regular) {
        // multi-select dropdown
        width: 12px;
        height: 12px;
        input[type='checkbox'] + label span{
                width: 12px;
                height: 12px;
                margin-right: 0;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Crect width='11' height='11' x='.5' y='.5' fill='none' stroke='%23A9AFB4' rx='3'/%3E%3C/svg%3E")
                    left top no-repeat;
                vertical-align: text-top;
        }

        input[type='checkbox']:checked + label span {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 12 12'%3E%3Cdefs%3E%3Cpath id='a' d='M5.283 8.882l4.6-4.626a.406.406 0 000-.57l-.566-.568a.399.399 0 00-.566 0L5 6.89 3.249 5.129a.399.399 0 00-.566 0l-.566.57a.403.403 0 000 .568l2.6 2.615c.156.157.41.157.566 0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='12' height='12' fill='%233083FF' rx='3'/%3E%3Cuse fill='%23FFF' xlink:href='%23a'/%3E%3C/g%3E%3C/svg%3E")
                    left top no-repeat;
        }
        input[type='checkbox']:indeterminate + label span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='12' height='12' fill='%233083FF' rx='3'/%3E%3Cpath fill='%23FFF' d='M3 5h6v2H3z'/%3E%3C/g%3E%3C/svg%3E")
                left top no-repeat;
        }
        input[type='checkbox']:disabled + label span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Crect width='11' height='11' x='.5' y='.5' fill='none' stroke='%23D2D5D8' rx='3'/%3E%3C/svg%3E")
                left top no-repeat;
        }
        input[type='checkbox']:disabled:checked + label span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='12' viewBox='0 0 12 12'%3E %3Cdefs%3E %3Cpath id='prefix__a' d='M5.283 8.882l4.6-4.626c.156-.157.156-.412 0-.57l-.566-.568c-.156-.157-.41-.157-.566 0L5 6.89 3.249 5.129c-.157-.157-.41-.157-.566 0l-.566.57c-.156.156-.156.411 0 .568l2.6 2.615c.156.157.41.157.566 0z'/%3E %3C/defs%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='12' height='12' fill='%23B7BBC0' rx='3'/%3E %3Cuse fill='%23FFF' xlink:href='%23prefix__a'/%3E %3C/g%3E %3C/svg%3E ")
                left top no-repeat;
        }
        input[type='checkbox']:disabled:indeterminate + label span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='12' height='12' fill='%23B7BBC0' rx='3'/%3E%3Cpath fill='%23FFF' d='M3 5h6v2H3z'/%3E%3C/g%3E%3C/svg%3E")
                left top no-repeat;
        }
    }
    &.only-checkbox.is-regular {
        input[type='checkbox'] + label span {
            margin-right: 0;
        }
    }
}
