<label *ngIf="labelText" for="{{id}}" class="fu-label">{{ labelText }}</label>
<div class="fu-input-wrapper fu-size-{{size}} fu-variant-{{variant}}">
    <fusion-icon *ngIf="startIcon" class="fu-start-icon" [name]="startIcon"></fusion-icon>
    <div *ngIf="prefix" class="fu-input-prefix">{{prefix}}</div>
    <input #input
           [id]="id"
           class="fu-input"
           autocomplete="off"
           minlength="1"
           [class.fu-hide-step-arrows]="hideNumberArrows"
           [type]="type"
           [attr.maxlength]="maxLength"
           [attr.step]="step"
           [attr.min]="min"
           [attr.max]="max"
           [attr.placeholder]="placeholder"
           [attr.disabled]="((disabled$ | async) || viewOnly) ? 'disabled' : null"
           [formControl]="inputControl"
    />
    <div *ngIf="suffix" class="fu-input-suffix">{{suffix}}</div>
    <fusion-icon *ngIf="showClear" class="fu-clear-button" name="ph/fill/x-circle" (click)="clearButtonClicked()"></fusion-icon>
    <fusion-icon *ngIf="showApply" class="fu-apply-button" name="ph/check" (click)="applyButtonClicked.emit()"></fusion-icon>
    <fusion-icon *ngIf="showPasswordToggleButton$ | async" class="fu-show-password-button" name="{{type==='password' ? 'ph/eye-slash' : 'ph/eye'}}" (click)="togglePasswordShown()"></fusion-icon>
    <fusion-icon *ngIf="endIcon" class="fu-end-icon" [name]="endIcon"></fusion-icon>
    <fusion-icon *ngIf="inlineErrorText" [fusionTooltip]="inlineErrorText" class="fu-inline-error-icon" name="ph/info"></fusion-icon>
</div>
<div *ngIf="showLengthCounter" class="fu-input-underline">
    <!-- Add FieldHelperComponent here -->
    <div *ngIf="showLengthCounter" class="fu-max-length-counter">{{(valueLength$ | async)}} <ng-container *ngIf="maxLength">/{{maxLength}}</ng-container></div>
</div>
