<label *ngIf="labelText" for="{{id}}" class="fu-label">{{ labelText }}</label>
<div class="fu-input-wrapper fu-size-{{size}} fu-variant-{{variant}}"
     [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdInputModifiers.WRAPPER">
    <fusion-icon *ngIf="startIcon" class="fu-start-icon" [name]="startIcon"></fusion-icon>
    <div *ngIf="prefix" class="fu-input-prefix">{{ prefix }}</div>
    <input #input
           [id]="id"
           class="fu-input"
           autocomplete="off"
           minlength="1"
           [class.fu-hide-step-arrows]="hideNumberArrows"
           [type]="type"
           [attr.maxlength]="maxLength"
           [attr.step]="step"
           [attr.min]="min"
           [attr.max]="max"
           [attr.placeholder]="placeholder"
           [attr.disabled]="((disabled$ | async) || viewOnly) ? 'disabled' : null"
           [formControl]="inputControl"
           [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdInputModifiers.FIELD"
    />
    <div *ngIf="suffix" class="fu-input-suffix">{{ suffix }}</div>
    <fusion-icon *ngIf="showClear" class="fu-clear-button" name="ph/fill/x-circle"
                 (click)="clearButtonClicked()" [attr.data-testid]="testId"></fusion-icon>
    <fusion-icon *ngIf="showApply" class="fu-apply-button" name="ph/check"
                 (click)="applyButtonClicked.emit()" [attr.data-testid]="testId"></fusion-icon>
    <fusion-icon *ngIf="showPasswordToggleButton$ | async" class="fu-show-password-button"
                 name="{{type==='password' ? 'ph/eye-slash' : 'ph/eye'}}" (click)="togglePasswordShown()"
                 [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdInputModifiers.TOGGLE_PASSWORD"></fusion-icon>
    <fusion-icon *ngIf="endIcon" class="fu-end-icon" [name]="endIcon" [attr.data-testid]="testId"></fusion-icon>
    <fusion-icon *ngIf="inlineErrorText" [fusionTooltip]="inlineErrorText" class="fu-inline-error-icon"
                 [attr.data-testid]="testId"
                 name="ph/info"></fusion-icon>
</div>
<div *ngIf="helperText || showLengthCounter" class="fu-input-underline">
    <fusion-input-helper [text]="helperText" [state]="variant" [iconName]="helperIcon" [testId]="testId"></fusion-input-helper>
    <div *ngIf="showLengthCounter" class="fu-max-length-counter"
         [attr.data-testid]="testId">{{ (valueLength$ | async) }}
        <ng-container *ngIf="maxLength">/{{ maxLength }}</ng-container>
    </div>
</div>
