<div class="modal-footer" *ngIf="selectedVersion$ | async as currentStyleVersion">
    <div class="footer">
        <span class="is-error-message">{{ error }}</span>
        <button
            fusion-button
            [class]="cancelButtonClass"
            [ngClass]="{small: notificationFooter && currentStyleVersion === styleVersion.V2}"
            (click)="onCloseButtonClicked.emit()"
            *ngIf="!cancelButtonHidden"
        >
            {{ cancelButtonText }}
        </button>
        <button
            fusion-button
            [class]="saveButtonClass"
            [ngClass]="{small: notificationFooter && currentStyleVersion === styleVersion.V2}"
            [loading]="saveButtonLoading"
            [disabled]="saveButtonDisabled || loading || error"
            (click)="onSave.emit()"
        >
            {{ saveButtonText }}
        </button>
    </div>
</div>
