@import '../../src/style/scss/v1/vars/colors';
@import '../../src/style/scss/v1/mixins/mixins';

:host{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  @include icon-style('filter-full', $light-800, 14px, false, true);
  @include icon-style('gear', $light-800, 14.6px, false, true);
  @include icon-style('edit-columns', $light-800, 14px, false, true);
  @include icon-style('arrow-right', $light-800, (height:8px, width:5px), false, true, 90);

  .isOpen{
    @include icon-style('filter-full', $dark-300, 14px, false, true);
    @include icon-style('edit-columns', $dark-300, 14px, false, true);
    @include icon-style('gear',  $dark-300, 14.6px, false, true);
    @include icon-style('arrow-right', $dark-300, (height:8px, width:5px), false, true, 270);
  }

  .isActive:after {
    content: "";
    height: 8px;
    width: 8px;
    background-color: #e1174c;
    border-radius: 50%;
    border: solid 1px #FFF;
    display: block;
    top: -3px;
    right: -2px;
    position: absolute;
  }
}

.wrap {
    position: relative;
    width: 14px;
    .main-icon{
      position: relative;
      left: -5px;
  }

  .arrow-icon{
    width: 20px;
    position: absolute;
    left: 15px;
    top: -2px;
  }

  &.hideDropArrow{
    .main-icon{
      left: 0;
    }
  }


  &.isOpen:after{
    border-color: $light-900 transparent transparent;
  };
}

/* hover on parent */
:host-context(.header.isOpen),
:host-context(.wrap:hover) {
  @include icon-style('filter-full', $dark-300, 14px, false, true);
  @include icon-style('settings', $dark-300, 20px, false, true);
  @include icon-style('edit-columns', $dark-300, 14px, false, true);
  @include icon-style('arrow-right', $dark-300, (height:8px, width:5px), false, true, 90);
  @include icon-style('gear',  $dark-300, 14.6px, false, true);
}

:host-context(.header.isOpen) {
  @include icon-style('arrow-right', $dark-300, (height:8px, width:5px), false, true, 270);
  @include icon-style('gear',  $dark-300, 14.6px, false, true){
    top:1.4px;
  }
}
