@import '../../../src/style/scss/v1/vars/vars';

:host {
    .canvas-holder {
        .summary-holder {
            color: $dark-300;
            .fu-summary-data {
                @extend %font3;
            }
            .fu-summary-label {
                @extend %font9;
                line-height: 1;
            }
        }
    }
    .chart-nodata {
        @extend %font2;
        color: $light-700;
        border-bottom: solid 1px $light-500;
    }
}
