<button [class]="buttonClass" [class.fu-selected]="selected" [class.fu-loading]="loading"
        [disabled]="disabled || loading" [attr.data-testid]="testId">
    <fusion-icon *ngIf="startIconName" [style.color]="startIconColor" class="fu-button-start-icon"
                 [name]="startIconName"
                 [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdButtonModifiers.ICON"></fusion-icon>
    <fusion-icon *ngIf="iconName" class="fu-button-icon" [name]="iconName"
                 [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdButtonModifiers.ICON"></fusion-icon>
    <div *ngIf="!iconName" class="fu-button-content"
         [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdButtonModifiers.CONTENT">
        <ng-content></ng-content>
    </div>
    <fusion-icon *ngIf="endIconName" [style.color]="endIconColor" class="fu-button-end-icon" [name]="endIconName"
                 [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdButtonModifiers.ICON"></fusion-icon>
    <div class="fu-button-loading">
        <fusion-loader
            [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdButtonModifiers.LOADER"
            style="width: 16px; height: 16px"></fusion-loader>
    </div>
</button>
