@import "../../../../../src/style/scss/v4/vars/vars";

$fullCellHeight: 48px;
$failedCellHeight: 36px;

:host{
    .full-cell{
        background-color: var(--table-header-cell-bg-color);
        &.load-more, &.failed{
            td {
                height: $failedCellHeight;
                padding: var(--table-row-cell-padding) ;
                border-bottom: var(--table-border);
            }
        }
    }
    tr.is-row-in-request{
        pointer-events: none;
    }
}
