@import "../../../../../src/style/scss/v4/vars/vars";

$fullCellHeight: 48px;
$failedCellHeight: 36px;

:host{
    .full-cell{
        background-color: var(--table-header-cell-bg-color);
        &.load-more, &.failed{
            td {
                height: $failedCellHeight;
                padding: var(--table-row-cell-padding) ;
                border-bottom: var(--table-border);
                .fu-load-more-button-wrapper,
                .fu-load-failed {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                }
                .fu-load-failed{
                    padding: 16px;
                    flex-direction: column;
                    gap: 8px;
                }
            }
        }
    }
    tr.is-row-in-request{
        pointer-events: none;
    }
    tr.fu-inner-object{
        border-bottom: var(--table-border);
        .fu-inner-object-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
