@import '../../../src/style/scss/v3/mixins/mixins';
@import '../../../src/style/scss/v3/vars/colors';
@import '../../../src/style/scss/v3/vars/fonts';


// small
$smallMinWidth: 66px;
$smallHeight: 24px;
$smallPadding: 4px 12px 5px;
$smallPaddingWithIcon: 3px 10px 4px 8px;
$smallPaddingWithIconRight: 3px 28px 4px 10px;
$smallPaddingWithLoading: 9px 16px;

// medium - default
$mediumMinWidth: 74px;
$mediumHeight: 32px;
$mediumPadding: 7px 16px 8px;
$mediumPaddingWithIcon: 7px 16px 8px 12px;
$mediumPaddingWithIconRight: 7px 30px 8px 12px;
$mediumPaddingWithLoading: 7px 23px 7px;

// large
$largeMinWidth: 92px;
$largeHeight: 40px;
$largePadding: 12px 24px;
$largePaddingWithIcon: 8px 12px;
$largePaddingWithIconRight: 7px 40px 8px 16px;
$largePaddingWithLoading: 10px 30px;
$buttonBorderRadius: 100px;


:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

    @extend %font-bodySmallStrong;

    text-align: center;
    height: $mediumHeight;
    width: fit-content;
    padding: $mediumPadding;
    color: $White;
    background-color: $fu-primary-500;
    border-radius: $buttonBorderRadius;

    &.dark {
        --fu-button-dark-border-color: #ffff;
        --fu-button-dark-background-color: transparent;
        --fu-button-dark-font-color: #ffff;
        --fu-button-dark-disable-font-color: #8E959D;
        --fu-button-dark-disable-border-color: #8E959D;
        --fu-button-dark-border: 1px solid;
        --fu-button-dark-hover-background-color: rgba(255, 255, 255, 0.15);
    }

    &:hover,
    &:active {
        background-color: $fu-primary-700;
    }

    &.fu-with-content {
        & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            & > span {
                height: 16px;
                line-height: 16px;
            }
        }
    }

    &.small {
        height: $smallHeight;
        padding: $smallPadding;
        @extend %font-bodyXSmall;
    }

    &.large{
        height: $largeHeight;
        padding: $largePadding;
        font-size: 14px;
        @extend %font-bodyMediumStrong;
        &.fu-with-content {
            & > span {
                & > span {
                    height: 17px;
                    line-height: 17px;
                }
            }
        }
    }

    &.transparent:not(.danger){
        background-color: transparent;
        color: $fu-primary-500;
        border: 1px solid $fu-primary-500;

        &:hover,
        &:active {
            color: $White;
            background-color: $fu-primary-500;
        }

        &.third{
            color: $fu-black-500;
            border-color: $fu-light-200;
            &:hover,
            &:active {
                border-color: transparent;
                background-color: $fu-light-200;
            }
        }

        &.secondary{
            color: var(--fu-button-dark-font-color, $fu-black-500);
            border-color: var(--fu-button-dark-border-color, $fu-black-500);
            background-color: var(--fu-button-dark-background-color, transparent);
            &:hover,
            &:active {
                color: var(--fu-button-dark-font-color, $White);
                border: var(--fu-button-dark-border,none);
                background-color: var(--fu-button-dark-hover-background-color, $fu-black-200);
            }
        }

        &.disabled {
            color: $fu-light-600;
            border: 1px solid $fu-light-600;
            cursor: initial;
            pointer-events: none;
            &:hover,
            &:active {
                background-color: transparent;
            }
        }
    }

    &.third {
        color: $fu-light-900;
        background-color: $fu-light-200;
        &:hover,
        &:active {
            background-color: $fu-light-300;
        }
    }

    &.secondary {
        color: $White;
        background-color: var(--fu-button-dark-background-color, $fu-black-500);
        &:hover,
        &:active {
            background-color: var(--fu-button-dark-hover-background-color,$fu-black-900);
        }
    }

    &.danger {
        color: $White;
        background-color: $fu-negative-500;
        &:hover,
        &:active {
            background-color: $fu-negative-700;
        }
    }

    &.disabled {
        color: var(--fu-button-dark-disable-font-color,$White);
        border-color: var(--fu-button-dark-disable-border-color, initial);
        background-color: var(--fu-button-dark-background-color,$fu-light-600);
        cursor: initial;
        pointer-events: none;
    }

    &.fu-with-content {
        &.fu-iconed {
            > span > span {
                padding-left: 4px;
            }

            position: relative;

            height: $mediumHeight;

            width: fit-content;

            padding: $mediumPaddingWithIcon;

            @include icon-style('icon', currentColor, 16px, false, true){
                height: 16px;
            };

            &.fu-icon-right {
                padding: $mediumPaddingWithIconRight;
                @include icon-style('icon', currentColor, 16px, false, true){
                    height: 16px;
                    position: absolute;
                    right: 10px;
                };

                &.small {
                    padding: $smallPaddingWithIconRight;
                    > span > span {
                        padding: 0;
                    }
                    @include icon-style('icon', currentColor, 16px, false, true){
                        right: 10px;
                        bottom: 4px;
                    };

                }

                &.large {
                    padding: $largePaddingWithIconRight;
                    > span > span {
                        padding: 0;
                    }
                    @include icon-style('icon', currentColor, 17px, false, true){
                        height: 17px;
                        right: 14px;
                        bottom: 11px;
                    };
                }
            }

            &.small {
                height: $smallHeight;
                width: fit-content;
                padding: $smallPaddingWithIcon;
                > span > span {
                    padding-left: 4px;
                }
                @include icon-style('icon', currentColor, 16px, false, true){
                    height: 16px;
                    width: 16px;
                };
            }

            &.large {
                padding: $largePaddingWithIcon;
                height: $largeHeight;
                width: fit-content;
                @include icon-style('icon', currentColor, 17px, false, true){
                    height: 17px;
                };
                > span > span {
                    padding-left: 8px;
                }
            }
        }
    }

    &.fu-iconed {
        width: 32px;

        height: 32px;

        padding: 0;

        line-height: 0;

        @include icon-style('icon',currentColor, 16px, false, true) {
            height: 16px;
            width: 16px;
        }

        &.small {
            width: 24px;
            height: 24px;
            @include icon-style('icon', currentColor, 12px, false, true) {
                height: 12px;
                width: 12px;
            }
        }

        &.large {
            width: 40px;
            height: 40px;
            @include icon-style('icon', currentColor, 20px, false, true) {
                height: 20px;
                width: 20px;
            }
        }

        &.fu-with-loading {
            padding: 0;
            line-height: 0;

            > span {
                height: 20px;
                @extend %rotating-icon;
                > span {
                    display: none;
                }
            }

            @include icon-style('loading-clean', currentColor, 20px, false, true);

            &.large{
                padding: 0;
                line-height: 0;
                > span {
                    height: 24px;
                }
                @include icon-style('loading-clean', currentColor, 24px, false, true);
            }

            &.small {
                padding: 0;
                line-height: 0;
                > span {
                    height: 16px;
                }
                @include icon-style('loading-clean', currentColor, 16px, false, true);
            }
        }
    }

    &.fu-with-loading {
        padding: $mediumPaddingWithLoading;
        color: $White;
        background-color: $fu-primary-500;

        > span {
            height: 24px;
            > span {
                display: none;
            }
        }

        &.fu-with-content {
            &.fu-iconed {
                > span {
                    animation: none;
                }
                padding: $mediumPaddingWithLoading;
                &.transparent:not(.danger) {
                    background-color: transparent;
                }
                &.small {
                    padding: $smallPaddingWithLoading;
                }

                &.large {
                    padding: $largePaddingWithLoading;
                }
            }
        }

        &.transparent:not(.danger) {
            background-color: transparent;
            color: $fu-primary-500;
            border: 1px solid $fu-primary-500;
        }

        &.third {
            color: $fu-light-900;
            background-color: $fu-light-200;

            &.transparent {
                color: $fu-light-900;
                border: 1px solid $fu-light-500;
                background-color: transparent;
            }
        }

        &.secondary {
            color: var(--fu-button-dark-font-color, $White);
            border: var(--fu-button-dark-border, none);
            border-color: var(--fu-button-dark-border-color, $fu-black-500);
            background-color: var(--fu-button-dark-background-color, $fu-black-500);
            &.transparent {
                color: var(--fu-button-dark-font-color, $fu-black-500);
                border-color: var(--fu-button-dark-border-color, $fu-black-500);
            }
        }

        &.danger {
            color: $White;
            background-color: $fu-negative-500;
        }

        &.small {
            padding: $smallPaddingWithLoading;
        }

        &.large{
            padding: $largePaddingWithLoading;
            > span {
                height: 32px;
            }
        }
    }

    &.fu-link-button{
        border: none;
        letter-spacing: 0.24px;
        color: $fu-primary-500;
        background-color: transparent;
        padding: 0;
        height: 16px;

        &:hover {
            background-color: transparent;
        }

        span {
            display: inline-block;
        }

        &.third {
            color: $fu-light-900;
            span {
                text-decoration: underline;
            }
        }

        &.secondary {
            color: $fu-black-500;
            span {
                text-decoration: underline;
            }
        }

        &.disabled {
            color: $fu-light-800;
            cursor: initial;
            pointer-events: none;
            span {
                text-decoration: none;
            }
        }

        &.fu-with-loading{
            pointer-events: none;
            padding: $mediumPadding;
            color: $fu-primary-500;
            background-color: transparent;
            > span {
                height: 16px;
                > span {
                    display: none;
                }
            }

        }

        &.fu-iconed {
            &.fu-with-content {
                height: inherit;
                padding: 0 0 0 22px;

                > span > span {
                    padding: 0;
                }

                @include icon-style('icon', $fu-primary-500, 16px , false, true) {
                    height: 16px;
                    position: absolute;
                    left: 0;
                }

                &.third {
                    color: $fu-light-900;
                    text-decoration: underline;
                    @include icon-style('icon', $fu-light-900, 16px , false, true);
                }

                &.secondary {
                    color: $fu-black-500;
                    text-decoration: underline;
                    @include icon-style('icon', $fu-black-500, 16px , false, true);
                }

                &.disabled {
                    color:  $fu-light-800;
                    pointer-events: none;
                    @include icon-style('icon',  $fu-light-800, 16px , false, true);
                }

                &.fu-icon-right {
                    padding: 0 22px 0 0;

                    > span > span {
                        padding: 0;
                    }

                    @include icon-style('icon', $fu-primary-500, 16px, false, true){
                        left: initial;
                        right: 0;
                    };

                    &.third {
                        @include icon-style('icon', $fu-light-900, 16px , false, true);
                    }

                    &.secondary {
                        @include icon-style('icon', $fu-black-500, 16px , false, true);
                    }

                    &.disabled {
                        pointer-events: none;
                        @include icon-style('icon',  $fu-light-800, 16px , false, true);
                    }
                }
            }
        }
    }
}
