@import '../../../src/style/scss/v3/mixins/mixins';
@import '../../../src/style/scss/v3/vars/colors';
@import '../../../src/style/scss/v3/vars/fonts';

$buttonBorderRadius: 100px;

// small
$smallHeight: 24px;
$smallPadding: 8px 12px;
$smallIconSize: 16px;

// medium - default
$mediumHeight: 32px;
$mediumPadding: 8px 16px;
$mediumIconSize: 20px;

// large
$largeHeight: 40px;
$largePadding: 8px 16px;
$largeIconSize: 24px;

:host {
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    border: none;
    height: $mediumHeight;
    width: fit-content;
    padding: $mediumPadding;
    color: $White;
    background-color: $fu-primary-500;
    border-radius: $buttonBorderRadius;
    @extend %font-bodySmallStrong;

    & > span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    @include icon-style('icon', currentColor, $mediumIconSize, false, true) {
        @include size($mediumIconSize);
    }

    &:hover,
    &:active {
        background-color: $fu-primary-700;
    }

    //region Sizes
    &.small {
        height: $smallHeight;
        padding: $smallPadding;
        @extend %font-bodyXSmallStrong;
        @include icon-style('icon', currentColor, $smallIconSize, false, true) {
            @include size($smallIconSize);
        }
    }

    &.large {
        height: $largeHeight;
        padding: $largePadding;
        @extend %font-bodyMediumStrong;
        @include icon-style('icon', currentColor, $largeIconSize, false, true) {
            @include size($largeIconSize);
        }
    }

    //endregion

    // region icon modify and loading
    &.fu-icon-right {
        .icon {
            order: 2;
        }
    }

    &:not(.fu-with-content) {
        width: 32px;
        padding: 0;
        justify-content: center;
        align-items: center;

        & > span {
            gap: 0;
        }

        &.large {
            width: 40px;
        }

        &.small {
            width: 24px;
        }
    }

    &.fu-with-loading {
        & > span > span {
            display: none;
        }

        pointer-events: none;
    }

    // endregion

    // region Themes
    &.danger {
        color: $White;
        background-color: $fu-negative-500;

        &:hover,
        &:active {
            background-color: $fu-negative-700;
        }
    }

    &.third {
        color: $fu-light-900;
        background-color: $fu-light-200;

        &:hover,
        &:active {
            background-color: $fu-light-300;
        }
    }

    &.secondary {
        color: $White;
        background-color: $fu-black-500;

        &:hover,
        &:active {
            background-color: $fu-black-900;
        }
    }

    // endregion

    &.disabled {
        color: $White;
        background-color: $fu-light-600;
        pointer-events: none;
    }

    // region Variants
    &.fu-link-button {
        border: none;
        letter-spacing: 0.24px;
        color: $fu-primary-300;
        background-color: transparent;
        padding: 0;
        height: 16px;

        &:active,
        &:hover {
            color: $fu-primary-500;
            background-color: transparent;
        }

        &.secondary {
            color: $fu-light-600;

            &:active,
            &:hover {
                color: $fu-light-800;
                background-color: transparent;
                text-decoration: underline;
            }
        }

        &.third {
            color: $fu-light-700;

            &:active,
            &:hover {
                color: $fu-black-500;
                background-color: transparent;
                text-decoration: underline;
            }
        }

        &.danger {
            color: $fu-negative-500;

            &:active,
            &:hover {
                color: $fu-negative-700;
                background-color: transparent;
                text-decoration: underline;
            }
        }

        &.disabled {
            color: $fu-light-500;
        }
    }

    // region border (Transparent)
    &.transparent {
        background-color: transparent;
        color: $fu-primary-500;
        border: 1px solid $fu-primary-500;

        &:hover,
        &:active {
            color: $White;
            background-color: $fu-primary-500;
        }

        &.danger {
            color: $fu-negative-500;
            border-color: $fu-negative-500;

            &:hover,
            &:active {
                color: $White;
                background-color: $fu-negative-700;
            }
        }

        &.secondary {
            color: $fu-black-500;
            border-color: $fu-black-500;

            &:hover,
            &:active {
                color: $White;
                background-color: $fu-black-500;
            }
        }

        &.third {
            color: $fu-black-500;
            border-color: $fu-light-200;

            &:hover,
            &:active {
                background-color: $fu-light-200;
            }
        }

        &.disabled {
            color: $fu-light-600;
            border-color: $fu-light-600;
        }
    }

    &.ghost {
        background-color: transparent;
        color: $White;
        border: 1px solid $White;

        &:hover,
        &:active {
            background-color: rgba(255, 255, 255, 0.15);
        }

        &.disabled {
            color: $fu-light-800;
            border-color: $fu-light-800;
        }
    }

    // endregion
    // endregion
}

:host-context(fusion-modal-footer) {
    > span {
        display: flex;
        align-items: center;
        justify-content: center;

        & > span {
            height: 16px;
            line-height: 16px;
        }
    }

    &.large {
        & > span {
            & > span {
                height: 17px;
                line-height: 17px;
            }
        }
    }

    &.fu-with-loading {
        min-width: 63px;
    }
}
