@import '../../../src/style/scss/mixins/mixins';

:host {
    position: absolute;
    z-index: getZIndexLayerOffset(application, 1);
    width: 100%;
    min-width: 220px;
    display: none;
    user-select: none;
    .fu-year-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fu-arrow-holder {
            cursor: pointer;
            &.fu-disabled {
                pointer-events: none;
                cursor: default;
            }
        }
    }
    .fu-month-selector {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        .fu-month-name {
            text-align: center;
            cursor: pointer;
            position: relative;
            &.fu-disabled {
                pointer-events: none;
            }
        }
    }

    &.fu-opened {
        display: block;
    }
}
