<div class="fu-dropdown-select-wrapper fu-size-{{size}}"
     [class.fu-disabled]="disabled"
     [class.fu-open]="isOpen"
     [class.fu-error]="validationState === 'error'"
     [class.fu-success]="validationState === 'success'"
     [class.fu-warning]="validationState === 'warning'"
>
    @if (imageUrl){
        <img class="fu-dropdown-select-image" src="{{imageUrl}}" alt=""/>
    }
    @if (country){
        <fusion-flag class="fu-dropdown-select-flag" [countryCode]="country"></fusion-flag>
    }
    @if (icon){
        <fusion-icon class="fu-dropdown-select-icon" [style.color]="iconColor" name="{{icon}}"></fusion-icon>
    }
    <div class="fu-placeholder-text truncate"
         [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:testIdDropdownModifiers.BUTTON_CONTENT"
         [fusionTooltip]="placeholder?.value" [innerHTML]="placeholder?.value"></div>
    @if(!hideCaretIcon){
        <fusion-icon class="fu-arrow-icon" name="ph/caret-down"></fusion-icon>
    }
</div>
