@import '../../../../../src/style/scss/v4/vars/vars';
@import '../../../../../src/style/scss/v4/mixins/mixins';

:host {
    position: relative;
    @extend %font-v4-body-1;
    height: var(--table-row-height);
    padding: var(--table-row-cell-padding) ;
    border-bottom: var(--table-border);

    &.is-checkbox-holder{
        width: var(--table-checkbox-cell-width);
    }

    & > div {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 350px;
        word-break: break-all;
        &.right {
            justify-content: flex-end;
        }
        &.center {
            justify-content: center;
        }
        &.checkbox-cell {
            margin: 0 auto;
            justify-content: center;
        }

        &.fu-input-cell{
            position: relative;
            left: calc(#{$spacingV4-100} * -1);
            &.fu-type-number{
                left: initial;
                right: calc(#{$spacingV4-100} * -1);
            }
        }
    }

    .truncate{
        @extend %truncate-flex-child;
    }

    .fu-button-holder{
        display: block;
        position: absolute;
        margin: auto 0;
        top: 0;
        bottom: 0;
        right: 12px;
        @include size(28px);

        /*
        fusion-button {
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
            border: none;
            background-color: $White;
            ::ng-deep fusion-icon{
                @include size(24px);
                svg {
                    @include size(24px);
                }
            }
        }
        */
    }




    // todo: to review and remove
    /*    padding: 0 16px;
        height:$v3-rowDefaultHeight;
        box-sizing: border-box;
        @extend %font-bodySmall;
        color: $v3-cellColor;
        word-break: break-all;
        max-width: 350px;
        border-top: $v3-bodyBorder;
        border-bottom: $v3-bodyBorder;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        & > div {
            line-height: 1.25;
            vertical-align: middle;
            &.right {
                text-align: right;
                float: none;
            }
            &.center {
                text-align: center;
            }
            &.checkbox-cell {
                margin: 0 auto;
                text-align: center;
                height: 14px;
            }
        }

        .is-ellipsis-rows-2 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        &.is-inline-removable {
            div.fu-cell-action-button {
                @include size(32px);
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
                background-color: $White;
                border-radius: 32px;
                position: absolute;
                right: 12px;
                top: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                visibility: hidden;
                @include icon-style('fu-table-action-icon', $fu-light-900, $v3-cellActionIconSize, false, true){
                    @include size($v3-cellActionIconSize);
                }
                @include icon-style('fu-table-multi-action-icon', $fu-light-900, 24px, false, true){
                    @include size(24px);
                }
            }
        }

        @include icon-style('infoRowIcon', $v3-cellColor, 11px, false, true) {
            visibility: hidden;
            position: absolute;
            right: 25px;
            top: 8px;
        }

        .loader-holder {
            position: relative;
            top: 9px;
            width: 20px;
        }
        .truncate{
            @extend %truncate;
        }

        .fu-button-holder{
            display: none;
            position: absolute;
            margin: auto;
            right: 12px;
            top: 0;
            bottom: 0;
            @include size(32px);
            fusion-button {
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
                border: none;
                background-color: $White;
                ::ng-deep fusion-icon{
                    @include size(24px);
                    svg {
                        @include size(24px);
                    }
                }
            }
        }*/
}

:host-context(.is-row-in-request) {
    opacity: var(--table-row-loading-opacity, 0.7);
}

// todo: to review and remove
/*
:host-context(.is-row-height-big) {
    height: $v3-rowBigHeight;
    div.fu-cell-action-button {
        top: 10px;
    }
}
!*
:host-context(.is-row-height-small) {
    height: $v3-rowSmallHeight;
    div.fu-cell-action-button {
        top: 4px;
    }
}
*!
:host-context(tr:hover).is-inline-removable {
    div.fu-cell-action-button {
        visibility: visible;
    }
}
:host-context(tr:hover),
:host-context(tr.fu-hovered){ // tr.fu-hovered for rowspan rows
    .fu-button-holder{
        display: block;
    }
}
:host-context(tr.is-with-totals) {
    height: $v3-rowTotalsHeight;
    @extend %font-bodySmallStrong;
    letter-spacing: .5px;
}
*/
