<div class="fu-textarea-container">
    <div class="fu-textarea-content"
         [class.focused]="focused"
         [class.fu-readonly]="!!readonly">
        <textarea
            class="is-textarea"
            [placeholder]="placeholder"
            [readonly]="readonly"
            [required]="required"
            minlength="1"
            [name]="name"
            [ngClass]="{disabled: isDisabled, resize: resize, error:error}"
            [ngModel]="model"
            (ngModelChange)="onChange($event)"
            (focus)="focus()"
            (blur)="blur()"
            [disabled]="isDisabled"></textarea>
    </div>

    <div class="fu-error-msg" *ngIf="error" [innerHTML]="error"></div>

    <div class="fu-helper-text"
         *ngIf="helperText"
         [hidden]="!helperText || !!error"
         [innerHTML]="helperText">
    </div>
</div>
