@import '../../src/style/scss/v2/vars/vars';
@import '../../src/style/scss/v2/vars/mixins';

$tabsBackgroundColor: $White;
$tabBottomBorder: solid 1px $fu-light-300;

:host {
    .fu-tabs-holder{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: var(--tabs-background-color, $tabsBackgroundColor);
        border-bottom: var(--tab-border-bottom, $tabBottomBorder);
        fusion-tab{
            flex: 1 1 0;
            margin-bottom: var(--tab-marging-bottom, -1px);
        }
    }
}
