@import '../../../../../src/style/scss/v2/vars/vars';
@import '../../../../../src/style/scss/v2/vars/border';
@import '../../../../../src/style/scss/v2/mixins/mixins';

:host{
    @extend %border-box-normalize;
    .is-dropdown-dual-multi-select-footer {
        border-top: 1px solid #e5e7e9;
        width: 528px;
        height: 47px;
        padding: 0 8px 0 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .primary {
            margin-right: 8px;
            font-weight: 900;
        }
        .secondary {
            margin-right: 8px;
            font-weight: 900;
        }
    }
}
