@import '../../../../../fusion-ui/src/style/scss/v2/vars/vars';
@import '../../../../../fusion-ui/src/style/scss/mixins/mixins';

:host{
    display: flex;
    align-items: center;
    .fu-custom-placeholder{
        @extend %font-headlineSmall;
        color: $fu-dark-500;
    }

    .icon-container {
        color: $fu-light-800;
        @include icon-style(null, currentColor, 17px, false, true){
            margin-right: 8px;
        };
    }
}

:host-context(.item-selected) {
    .icon-container {
        color: $fu-primary;
    }
}

:host-context(.open-dropdown) {
    .icon-container {
        color: black;
    }
}

