<div class="fu-year-selector">
    <div class="fu-arrow-holder" [class.fu-disabled]="min?.year === year" (click)="onYearChange(false)">
        <fusion-icon *ngIf="arrowLeftIconName" class="fu-arrow-prev" [name]="arrowLeftIconName"></fusion-icon>
    </div>
    {{ year }}
    <div class="fu-arrow-holder" [class.fu-disabled]="max?.year === year" (click)="onYearChange(true)">
        <fusion-icon *ngIf="arrowRightIconName" class="fu-arrow-next" [name]="arrowRightIconName"></fusion-icon>
    </div>
</div>
<div class="fu-month-selector">
    <div
        *ngFor="let month of monthNames; index as idx"
        class="fu-month-name"
        [class.fu-current]="year === currentMonthPicker.year && idx === currentMonthPicker.month"
        [class.fu-disabled]="isMonthDisabled(idx)"
        [class.fu-selected]="isMonthSelected(idx)"
        (click)="selectMonth(idx)"
    ><div class="fu-month-item">
        {{ month }}
    </div>
    </div>
</div>
