@import '../../../src/style/scss/v4/spacings';

:host{
  margin: 0;
  padding: 0;
  display: inline-flex;

  .chip-filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-50, #{$spacingV4-50});

    .fu-add-filter {
      order: 100;
      .fu-chip-content {
        > span {
          display: flex;
          gap: 4px;
        }
        fusion-icon {
          width: 16px;
          height: 16px;
        }
      }
    }

  }
}