@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/vars/border';
@import '../../../src/style/scss/v3/mixins/mixins';

$floatingToolbarHeight: 3.5rem;
$bottomPosition: 2.5rem;

:host {
    @extend %reset;
    display: flex;
    align-items: center;
    gap: var(--floating-toolbar-gap, 8px);
    height: $floatingToolbarHeight;
    background-color: var(--floating-toolbar-background-color, $fu-black-900);
    box-shadow: $boxShadow;
    border-radius: 12px;
    overflow: hidden;
    padding: 12px 0 12px 12px;

    position: fixed;
    z-index: getZIndexLayerOffset(system, 10);
    bottom: $bottomPosition;
    left: 50%;
    transform: translate(-50%, 0);

    .fu-floating-bar-counter{
        @extend %font-bodyMediumStrong;
        height: 32px;
        min-width: 32px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: var(--floating-toolbar-counter-background-color, $fu-black-500);
        color: var(--floating-toolbar-counter-color, $White);
    }

    .fu-floating-bar-label{
        @extend %font-bodyMediumStrong;
        color: var(--floating-toolbar-label-color, $White);
    }

    .fu-floating-bar-content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--floating-toolbar-gap, 8px);
        margin-left: 8px;
        margin-right: 17px;
    }

    .fu-floating-bar-close{
        @include size(3.5rem);
        display: flex;
        align-items: center;
        justify-content: center;
        @include icon-style('fu-floating-bar-close-icon', var(--floating-toolbar-close-icon-color, $fu-light-600), 1rem, true, true){
            @include size(1em);
        };
        &:hover{
            cursor: pointer;
            @include icon-style('fu-floating-bar-close-icon', var(--floating-toolbar-close-icon-hover-color, $fu-light-100), 1rem, true, true)
        }
        border-left: solid 1px var(--floating-toolbar-close-inner-border-color, #000000);
        position: relative;
        &::before{
            position: absolute;
            left: -2px;
            content: '';
            height: 3.5rem;
            width: 1px;
            background-color: var(--floating-toolbar-close-external-border-color, $White);
            opacity: .2;
        }
    }
}
