:host{
    color: #95a6b8;
    font-family: NHaasGroteskTXPro-75Bd;
    font-size: 15px;
    font-weight: normal;
    svg{
        width: 78px;
        height: 50px;
        margin: 0 72px 6px 73px;
        object-fit: contain;
    }
}
