@import "../dropdown-common";

:host.fu-style-v1 {
  @extend %link-reset;
  max-width: none !important;
  .is-tags-holder {
    @extend %borderRadius;
    @extend %border;
    box-sizing: border-box;
    border-color: $light-500;
    padding: 0 2px;
      width: 100%;
    > ul li {
      display: inline-flex;
      margin: 3px -3px 1px 2px;
    }
    .tags-holder{
      min-height: 30px;
      overflow-y: auto;
      overflow-x: hidden;
      @extend %customScroll;
    }

    &.tags-disabled{
        background-image: linear-gradient(to bottom, #fff, $light-200);
        pointer-events: none;
        .placeholder{
            color: $light-800;
            padding-left: 5px;
        }
    }
    &.dd-opened.is-autocomplete{
      .options-dropdown {
          visibility: visible;
          &.has-footer{
              max-height: 296px; // add 40 px for footer
          }
      }
    }
  }

  &.is-active{
    .is-tags-holder {
      border-color: $primary;
      ul {
        min-height: 28px;
      }
    }
    .is-tags-input-dropdown-holder{
      .options-dropdown{
        max-height: 255px;
        ul.options{
          min-height: inherit;
        }
      }
    }
  }

}


