@import "../../../src/style/scss/v2/vars/vars";
@import "../../../src/style/scss/v2/vars/colors";
@import '../../../src/style/scss/v2/vars/mixins';

$emptyTableImage: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 57'%3E%3Cg fill='%23B7BBC0' fill-rule='evenodd'%3E%3Cpath d='M48 56.5c26.51 0 48-6.384 48-11.647S77.09 38.5 50.58 38.5C24.072 38.5 0 39.59 0 44.853S21.49 56.5 48 56.5z' opacity='.361'/%3E%3Cpath d='M56.37 1.224c.193-.562.8-.86 1.351-.663.553.197.845.814.65 1.375l-3.145 9.174a9.463 9.463 0 012.025 2.78c1.964.184 3.503 1.866 3.503 3.915 0 1.983-1.438 3.617-3.307 3.89a9.383 9.383 0 01-4.718 4.917v1.198H55c3.26 0 5.905 2.695 5.905 6.018 0 3.289-2.591 5.96-5.806 6.016v3.387a2.271 2.271 0 01-4.542 0v-3.386H47.35v3.385a2.272 2.272 0 01-4.544 0v-3.388C39.589 39.787 37 37.117 37 33.83c0-3.323 2.643-6.017 5.905-6.016h2.27v-1.198a9.383 9.383 0 01-4.717-4.916c-1.87-.277-3.308-1.911-3.308-3.891 0-2.049 1.54-3.732 3.505-3.918a9.48 9.48 0 012.025-2.78l-3.146-9.174a1.085 1.085 0 01.65-1.375 1.059 1.059 0 011.352.663l2.932 8.553a9.098 9.098 0 014.472-1.2h.022a9.066 9.066 0 014.475 1.2zm-.553 34.716a1.023 1.023 0 00-.158.545c0 .559.446 1.013.995 1.013.196 0 .38-.06.533-.163zm.837-.467c-.197 0-.38.06-.534.159l1.37 1.4c.099-.161.158-.348.161-.545 0-.563-.447-1.014-.997-1.014zm-.837-2.372a1.047 1.047 0 00-.16.544c0 .561.447 1.015.996 1.015.196 0 .381-.06.534-.162zm.837-.467c-.197 0-.38.06-.534.16l1.37 1.396c.099-.157.158-.344.161-.544 0-.56-.447-1.012-.997-1.012zm-.837-2.22a1.048 1.048 0 00-.16.545c0 .56.447 1.012.996 1.012.196 0 .381-.06.534-.16zm.837-.469c-.197 0-.38.06-.534.16l1.37 1.398c.099-.157.158-.343.161-.543 0-.562-.447-1.015-.997-1.015zm-7.69-18.82h-.023l-.236.005c-3.6.152-6.48 3.181-6.48 6.885 0 3.782 3.007 6.863 6.716 6.889h.022l.236-.006c3.599-.151 6.482-3.182 6.482-6.883 0-3.784-3.009-6.863-6.718-6.89zm-.01 1.08c3.127.02 5.667 2.616 5.667 5.81 0 3.192-2.54 5.786-5.667 5.809-3.13-.021-5.668-2.617-5.668-5.81 0-3.193 2.538-5.789 5.668-5.808zm.01 1.62h-.021c-2.252.027-4.068 1.89-4.068 4.19 0 2.297 1.816 4.162 4.068 4.189h.022l.203-.008c2.155-.132 3.862-1.953 3.862-4.181 0-2.3-1.815-4.163-4.065-4.19z'/%3E%3Cpath d='M21.244 16.256a.835.835 0 001.179 0l1.077-1.078 1.077 1.078a.835.835 0 001.179 0 .834.834 0 000-1.178L24.678 14l1.078-1.077a.835.835 0 00-1.179-1.179L23.5 12.822l-1.077-1.078a.835.835 0 00-1.179 1.179L22.322 14l-1.078 1.078a.834.834 0 000 1.178zm-6.996 10.902c.227.228.526.342.825.342.298 0 .597-.114.824-.342l1.509-1.508 1.508 1.508a1.162 1.162 0 001.65 0 1.166 1.166 0 000-1.65L19.055 24l1.509-1.508a1.166 1.166 0 10-1.65-1.65l-1.508 1.509-1.509-1.509a1.166 1.166 0 10-1.65 1.65L15.757 24l-1.51 1.509a1.168 1.168 0 000 1.65zm64.996-14.902a.835.835 0 001.179 0l1.077-1.078 1.077 1.078a.835.835 0 001.179 0 .834.834 0 000-1.178L82.678 10l1.078-1.077a.835.835 0 00-1.179-1.179L81.5 8.822l-1.077-1.078a.835.835 0 00-1.179 1.179L80.322 10l-1.078 1.078a.834.834 0 000 1.178z' opacity='.361'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat;

:host.fu-style-v2 {
    .is-nodata{
        @extend %font-headlineSmall;
        text-align: center;
        color: $fu-light-800;
        padding: 65px 0;
        &:hover{
            background-color: $White;
        }
        .is-nodata-sub{
            padding-top: 5px;
            @extend %font-body;
        }
        .icon-container{
            padding-bottom: 24px;
            @include icon-style('empty-table-icon', $fu-light-600, (height:51px, width:42px), true, true);
        }
        .no-data-img {
            display: block;
            height: 57px;
            margin-bottom: 11px;
            background: var(--table-empty-image, $emptyTableImage);
        }
    }
}
