@import '../../../../../src/style/scss/v2/vars/vars';
@import '../../modal_vars';

:host {
    @extend %border-box-normalize;
    @extend %customScroll;
    display: block;
    overflow-y: auto;
    &.fu-has-height{
        min-height: calc(100% - #{$modalHeaderHeight} - #{$modalFooterHeight});
    }

    .modal-content {
        position: relative;
        padding: 24px 32px 40px;

        .is-in-waiting {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $White;
            opacity: 0.5;
            display: block;
        }
    }
}
