@import '../../../../styles/vars.scss';

:host {
    .color-palettes-holder{
        display: flex;
        flex-wrap: wrap;
        .color-palette-item{
            flex: 1 0 calc(33.333% - 16px);
            margin: 8px;
            .color-palette {
                list-style-type: none;
                padding: 0;
                margin: 0 0 25px;
                li{
                    padding: 15px;
                    @extend %font7;
                    &:first-child{
                        height: 100px;
                        @extend %font2;
                    }
                    display: flex;
                    flex-direction: row;
                    .color-var-name{
                        width: 70%;
                    }
                    .color-var-value{
                        text-align: right;
                        width: 30%;
                    }
                }
            }
        }
    }
}
