<ng-container *ngIf="data?.shown">
    <div class="is-notification">
        <fusion-icon class="close" [name]="closeIconName$ | async" (click)="secondaryButtonClicked()"></fusion-icon>
        <div class="is-header" [ngClass]="notificationType">
            <fusion-icon
                *ngIf="notificationType !== 'basic'"
                class="{{ notificationType }}"
                [name]="getIconName()"
            ></fusion-icon>
            {{ data.title }}
        </div>

        <div class="is-notification-content" [innerHtml]="data.content"></div>

        <fusion-modal-footer
            *ngIf="data.buttons"
            [notificationFooter]="true"
            [saveButtonText]="data?.buttons?.primary?.label"
            [saveButtonClass]="data?.buttons?.primary?.class || 'primary'"
            [saveButtonLoading]="data?.buttons?.primary?.loading"
            [cancelButtonHidden]="!data?.buttons?.secondary"
            [cancelButtonText]="data?.buttons?.secondary?.label"
            [cancelButtonClass]="data?.buttons?.secondary?.class || 'secondary'"
            (onSave)="primaryButtonClicked()"
            (onCloseButtonClicked)="secondaryButtonClicked()"
        ></fusion-modal-footer>
    </div>
    <div class="is-notification-overlay"></div>
</ng-container>
