@import '../../src/style/scss/v2/vars/vars';
@import '../../src/style/scss/mixins/mixins';

$borderRadius: 4px;
$padding: 13px 12px 11px;
$paddingSmall: 9px 12px 7px;
$borderLeft: solid 4px $fu-primary-500;

:host.fu-style-v3,
:host.fu-style-v2 {
    @extend %reset;
    box-sizing: border-box;
    display: block;
    margin: 0;

    .is-alert{
        position: relative;
        @extend %font-body;
        line-height: 16px;
        padding: $padding;
        color: $fu-primary-600;
        background-color: $fu-primary-100;
        border-radius: $borderRadius;
        border-left: $borderLeft;
        &.has-close-button{
            padding-right: 25px;
        }
        .alert-type-icon{
            display: none;
        }
        @include icon-style('is-close-button', $fu-primary-500, 10px, true, true) {
            cursor: pointer;
            position: absolute;
            right: 12px;
            top: 13px;
        }

        @include link-style($fu-primary-600, underline, true);

        &.error {
            color: $fu-negative-700;
            background-color: $fu-negative-100;
            border-left-color: $fu-negative-500;
            @include icon-style('is-close-button', $fu-negative-500, 10px, true, true);
            @include link-style($fu-negative-700, underline, true);
        }

        &.warning {
            color: $fu-neutral-900;
            background-color: $fu-neutral-100;
            border-left-color: $fu-neutral-700;
            @include icon-style('is-close-button', $fu-neutral-500, 10px, true, true);
            @include link-style($fu-neutral-900, underline, true);
        }

        &.success {
            color: $fu-positive-700;
            background-color: $fu-positive-100;
            border-left-color: $fu-positive-500;
            @include icon-style('is-close-button', $fu-positive-500, 10px, true, true);
            @include link-style($fu-positive-700, underline, true);
        }
    }

    &.small .is-alert{
        padding: $paddingSmall;
        .is-close-button{
            right: 10px;
            top: 10px;
        }
    }
}
