@import '../../src/style/scss/vars/border';
@import '../../src/style/scss/vars/colors';
@import '../../src/style/scss/vars/mixins';
@import '../../src/style/scss/vars/vars';


:host.fusion-style-v1{
    .mobile-previewer-wrapper {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

    .mobile-previewer-container {
        height: 320px;
        border: solid 2px $light-200;
    }

    .deviceSelectionFooter {
        padding: 3px 0 0 10px;
        height: 34px;
        line-height: 34px;
        background-color: $light-200;

        .selectedTitle {
            @extend %font12;
            color: $dark-300;
            top: -2px;
            position: relative;
            text-transform: capitalize;
        }

        .iconWrapper {
            width: 28px;
            height: 28px;
            float: right;
            text-align: center;
            margin-right: 2px;

            @include icon-style('phone-landscape', $primary-500, (width: 18px, height: 10px), false, true);
            @include icon-style('phone-portrait', $primary-500, (width: 10px, height: 18px), false, true);
            @include icon-style('tablet-landscape', $primary-500, (width: 18px, height: 14px), false, true) {
                vertical-align: middle;
            }
            @include icon-style('tablet-portrait', $primary-500, (width: 14px, height: 18px), false, true);

            &.landscape {
                line-height: 28px;
            }

            &:hover:not(.selected) {
                cursor: pointer;
            }

            &.selected {
                pointer-events: none;
            }

            &.selected, &:hover {
                border-radius: 3px;
                background-color: $primary-500;
                @include icon-style('tablet-portrait', $White, inherit, false, true);
                @include icon-style('tablet-landscape', $White, inherit, false, true) {
                    vertical-align: middle;
                }
                @include icon-style('phone-portrait', $White, inherit, false, true);
                @include icon-style('phone-landscape', $White, inherit, false, true);
            }
        }
    }
}
