<label class="fu-checkbox-wrapper" [class.fu-disabled]="disabled" [class.fu-checked]="checked">
    <input
        type="checkbox"
        [id]="id"
        [checked]="checked"
        [disabled]="disabled"
        [indeterminate]="isIndeterminate"
        (change)="checkStateChange($event)"
    />
    <span class="fu-label-checkbox">&nbsp;</span>
    <fusion-icon class="fu-checkbox-icon" *ngIf="icon" [name]="icon"></fusion-icon>
    <fusion-flag class="fu-checkbox-flag" *ngIf="flag" [name]="flag"></fusion-flag>
    <span *ngIf="label" [fusionTooltip]="label" class="fu-label-text truncate">{{ label }}</span>
</label>
