<!--<div [class.fu-input-small]="isSmall" class="fu-input-holder"-->
<!--     [ngClass]="getHolderClasses()"-->
<!--     [style.width]="config.options?.width">-->
<!--    <ng-container *ngIf="configByStyle$ | async as configByStyle">-->
<!--        <fusion-input-content-->
<!--            [config]="config"-->
<!--            [configByStyle]="configByStyle"-->
<!--            [loading]="loading"-->
<!--            [displaySearchIcon]="displaySearchIcon"-->
<!--            [focused]="focused"-->
<!--            [inputControl]="inputControl"-->
<!--            [file]="file"-->
<!--            [isSmall]="isSmall"-->
<!--            [disabled]="disabled$ | async"-->
<!--            [showErrorClass]="showErrorClass$ | async"-->
<!--            [type]="getInputType()"-->
<!--            [step]="step"-->
<!--            [showErrorIcon]="showErrorIcon()"-->
<!--            [toolTipMessage]="getTooltipErrorsMessage()"-->
<!--            [errorIconName]="getErrorIcon(config?.errorType, configByStyle.iconInfo, configByStyle.iconWarning)"-->
<!--            (onClearInput)="clearInput($event)"-->
<!--            (buttonClicked)="onButtonClicked($event)"-->
<!--            (focus)="focus()"-->
<!--            (blur)="blur()"-->
<!--            (onTogglePassword)="passToggle($event)"-->
<!--            (passToggleMouseDown)="onPassToggleMouseDown($event)"-->
<!--            [inputEl]="input"-->
<!--        ></fusion-input-content>-->
<!--        <input #input-->
<!--               [class.fu-input-small]="isSmall"-->
<!--               class="fu-input {{ config?.class }} {{ config?.icon?.iconPos || config?.icon?.[0]?.iconPos }}"-->
<!--               autocomplete="off"-->
<!--               minlength="1"-->
<!--               [class.fu-type-pass]="config?.type === 'password'"-->
<!--               [class.has-units]="config?.units"-->
<!--               [class.disabled]="disabled$ | async"-->
<!--               [class.iconed]="config?.icon || loading"-->
<!--               [class.fu-button]="config?.btn"-->
<!--               [class.has-clear-btn]="config?.clear"-->
<!--               [class.fu-error]="showErrorClass$ | async"-->
<!--               [id]="config?.id"-->
<!--               [type]="getInputType()"-->
<!--               [placeholder]="config?.placeholder"-->
<!--               [readonly]="config?.readonly || (disabled$ | async) || (loading && config?.disableOnLoading) || config?.btnLoading"-->
<!--               [required]="config?.required"-->
<!--               [attr.maxlength]="config?.maxlength"-->
<!--               [min]="config?.min"-->
<!--               [max]="config?.max"-->
<!--               [step]="step"-->
<!--               [formControl]="inputControl"-->
<!--               [ngStyle]="config.options?.style"-->
<!--               [attr.autofocus]="config?.autofocus"-->
<!--               (focus)="focus()"-->
<!--               (blur)="blur()"-->
<!--        />-->

<!--    </ng-container>-->

<!--</div>-->

<!--<div class="fu-error-msg"-->
<!--     *ngIf="config.error && config.error !== true"-->
<!--     [hidden]="config?.errorType && showErrorIcon()"-->
<!--     [class.focused]="focused"-->
<!--     [innerHTML]="config.error">-->
<!--</div>-->



