@import "../../../../src/style/scss/v2/vars/vars";
@import '../../../../src/style/scss/v2/mixins/mixins';

:host{
    @extend %border-box-normalize;
    div.holder{
        height: 16px;
        min-width: 32px;
        max-width: 382px;
        display: inline-block;
        position: relative;
        border-radius: 2px;
        padding: 2px 5px;
        @extend %font-label;
        line-height: normal;
        color: var(--state-label-success-inner-color, $White);
        background-color: var(--state-label-success-background-color, $fu-positive-500);
        cursor: default;
        text-align: center;
        @include icon-style('label-icon', currentColor, 10px, true, true){
            margin-left: 3px;
            vertical-align: middle;
        };
        &.with-icon{
            padding: 2px 3px 2px 5px;
        }

        &:hover{
            background-color: var(--state-label-success-hover-background-color, $fu-positive-700);
        }
        &.rounded{
            border-radius: 8px;
            padding: 2px 8px;
            &.with-icon{
                padding: 2px 3px 2px 8px;
            }
        }
        &.warning{
            background-color: var(--state-label-warning-background-color, $fu-neutral-500);
            color: var(--state-label-warning-inner-color, $White);
            &:hover{
                background-color: var(--state-label-warning-hover-background-color, $fu-neutral-700);
            }
        }
        &.error{
            background-color: var(--state-label-error-background-color, $fu-negative-500);
            color: var(--state-label-error-inner-color, $White);
            &:hover{
                background-color: $fu-negative-700;
                background-color: var(--state-label-error-hover-background-color, $fu-negative-700);
            }
        }
    }
}
