@import '../../../src/style/scss/v2/vars/vars';
@import '../../../src/style/scss/v2/vars/border';
@import '../../../src/style/scss/v2/vars/mixins';

$v2-headerHeight: 40px;
$v2-borderRadius: 4px;
$v2-errorBGColor: $fu-negative-100;
$v2-headerSmallHeight: 32px;
$v2-borderRoundedRadius: 20px;


:host.fu-style-v2 .is-dropdown-select {
    @extend %border-box-normalize;
    // title
    label {
        display: block;
        cursor: pointer;
        height: $v2-headerHeight;
        @extend %font-body;
        @extend %truncate;
        color: $fu-dark-700;
        background-color: $fu-light-100;
        border: none;
        border-radius: $v2-borderRadius;
        padding: 10px 25px 10px 10px;
        @include icon-style('icon-arrow', $fu-dark-200, 8px, true, true) {
            position: absolute;
            right: 12px;
            top: 10px;
        }

        .placeholderText {
            margin-left: 2px;
        }

        // selected option icon - (application platform)
        @include icon-style('is-custom-icon', $fu-dark-200, 13px, true, true) {
            vertical-align: middle;
            display: inline-block;
            margin-top: 2px;
            margin-right: 3px;
        }

        // selected option image - (application image)
        img {
            @include size(20px);
            @extend %borderRadius;
            vertical-align: middle;
            margin: -3px 6px auto -2px;
        }

        // country - flag
        fusion-flag {
            margin-right: 6px;
        }

        // states
        &:hover {
            background-color: $fu-light-200;
        }

        &:active:not(.is-tab-mode),
        &.dd-active {
            @include icon-style('icon-arrow', $fu-dark-500, 8px, true, true, 180);
            border-bottom: solid 2px $fu-primary-500;
        }

        &.dd-disabled {
            pointer-events: none;
            color: $fu-light-900;
            @include icon-style('icon-arrow', $fu-light-700, 8px, true, true);
            @include icon-style('is-custom-icon', $fu-light-700, 13px, true, true);
        }
        &.dd-error{
            background-color: $v2-errorBGColor;
        }
    }

    .is-dynamic-component-holder{
        margin-right: 12px;
        display: flex;
        align-items: center;
        @include icon-style('arrow-dropdown', var(--custom-placeholder-arrow-open-color, #{$fu-dark-500}), var(--custom-placeholder-arrow-open-size, 8px), true, true){
            margin-left: auto;
        }
    }
    &.dd-opened{
        .is-dynamic-component-holder{
            @include icon-style('arrow-dropdown', var(--custom-placeholder-arrow-open-color, #{$fu-dark-500}), var(--custom-placeholder-arrow-open-size, 8px), true, true, 180);
        }
    }
}
:host-context(.is-dropdown.fu-style-v2) .is-dropdown-select {
    &.forced-placeholder{
        label.icon {
            .placeholderText {
                margin-left: 18px
            }
            &.dd-search-active {
                @include icon-style('is-custom-icon', $fu-light-700, 13px, false, true) {
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    z-index: 2;
                }
                &.dd_search-has-value {
                    @include icon-style('is-custom-icon', $fu-light-500, 13px, true, true) {
                        display: block;
                    }
                }
            }
            @include icon-style('is-custom-icon', $fu-dark-200, 13px, true, true) {
                position: absolute;
                left: 10px;
                top: 10px;
                z-index: 2;
            }
        }
    }
}
:host-context(.is-dropdown.is-icon-right-position.fu-style-v2) .is-dropdown-select {
    label {
        padding: 10px 40px 10px 10px;
        @include icon-style('is-custom-icon', $fu-dark-200, 12px, true, true) {
            position: absolute;
            right: 25px;
            top: 10px;
        }

        &.dd-search-active {
            padding: 10px 25px 10px 10px;
            @include icon-style('is-custom-icon', $fu-light-500, 13px, true, true);

            &.dd_search-has-value {
                @include icon-style('is-custom-icon', $fu-light-500, 13px, true, true) {
                    display: none;
                }
            }
        }
    }
}

// small size dropdown has changes in dropdown title only
:host-context(fusion-dropdown.small.fu-style-v2),
:host-context(fusion-multi-dropdown.small.fu-style-v2) {
    .is-dropdown-select label {
            @extend %font-body;
            height: $v2-headerSmallHeight;
            padding: 6px 25px 8px 7px;
            line-height: unset;
            @include icon-style('icon-arrow', $fu-dark-200, 8px, true, true) {
                top: 6px;
            }
    }
    &.is-icon-right-position{
        .is-dropdown-select label {
            padding: 6px 25px 8px 7px;
        }
    }
}

:host-context(fusion-dropdown.rounded.fu-style-v2),
:host-context(fusion-multi-dropdown.rounded.fu-style-v2) {
    .is-dropdown-select label {
        border-radius: $v2-borderRoundedRadius;
    }
}

:host-context(fusion-dropdown.ng-invalid.fu-style-v2) .is-dropdown-select label,
:host-context(fusion-multi-dropdown.ng-invalid.fu-style-v2) .is-dropdown-select label {
    background-color: $v2-errorBGColor;
    &.dd-active{
        background-color: $fu-light-100;
    }
}

