@import '../../../src/style/scss/v1/vars/vars';
@import '../../../src/style/scss/v1/vars/border';
@import '../../../src/style/scss/v1/vars/mixins';

$buttonHeight: 32px;
$buttonHeightSmall: 25px;
:host.fu-style-v1{
    @extend %border-box-normalize;
    label fusion-flag {
        margin-right: 6px;
    }
}

:host-context(fusion-dropdown.small).fu-style-v1,
:host-context(fusion-multi-dropdown.small).fu-style-v1 {
    .is-dropdown-select label {
        @extend %font14;
        height: $buttonHeightSmall;
        line-height: $buttonHeightSmall;

        img {
            @include size(15px);
            margin-right: 2px;
            @extend %borderRadius;
        }
    }
}

:host-context(.is-dropdown).fu-style-v1,
:host-context(.is-tags-holder).fu-style-v1 {
    .is-dropdown-select {
        .filterTitle {
            display: none;
            cursor: pointer;
        }

        label {
            height: $buttonHeight;
            line-height: $buttonHeight;
            @extend %font12;
            color: $dark-300;
            cursor: pointer;
            display: block;
            position: relative;
            @extend %truncate;
            border-radius: 3px;
            background-image: linear-gradient(to bottom, #fff, $light-200);
            border: 1px solid $light-500;
            padding: 0 25px 0 10px;
            @include icon-style('icon-arrow', $dark-300, 8px, false, true) {
                position: absolute;
                right: 11px;
                top: -1px;
            }

            .dropdown-arrow-container {
                height: 30px;
                width: 30px;
                position: absolute;
                right: 4px;
                top: 3px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                @include icon-style('arrow-dropdown', $dark-300, 8px, true, true) {
                    position: static;
                }
            }

            @include icon-style('is-custom-icon', $dark-300, 13px, true, true) {
                vertical-align: middle;
                margin-left: -3px;
                margin-right: 2px;
                display: inline-block;
            }

            img {
                @include size(18px);
                @extend %borderRadius;
                vertical-align: middle;
                margin: -3px 3px auto -4px;
            }

            .placeholderText {
                margin-left: 2px;
            }

            ::ng-deep .is-id {
                @extend %font13;
                color: $light-800;
            }

            &:active:not(.is-tab-mode),
            &.dd-active {
                @include icon-style('icon-arrow', $dark-300, 8px, true, true, 180);
            }

            &.dd-disabled {
                pointer-events: none;
                opacity: 1;
                color: $light-800;
                @include icon-style('icon-arrow', $light-800, 8px, true, true);
                @include icon-style('is-custom-icon', $light-800, 13px, true, true);

                &.dd-active,
                &:active {
                    font-weight: normal;
                }
            }
        }
    }
}

:host-context(.is-dropdown.is-icon-right-position).fu-style-v1,
:host-context(.is-tags-holder.is-icon-right-position).fu-style-v1 {
    .is-dropdown-select label {
        position: relative;
        padding: 0 40px 0 10px;
        @include icon-style('is-custom-icon', $light-700, 12px, true, true) {
            position: absolute;
            right: 25px;
            top: 1px;
            display: list-item;
            list-style-type: none;
        }
    }
}

:host-context(.is-dropdown.is-tab-mode).fu-style-v1 {
    .is-dropdown-select label {
        span.placeholderPrefix {
            font-weight: 600;
            margin-right: 5px;
            font-size: 13px;
        }

        span.placeholderText {
            font-size: 13px;
            font-weight: normal;
        }

        fusion-icon.is-custom-icon {
            right: 32px;
        }
    }
}

:host-context(fusion-dropdown.filter).fu-style-v1,
:host-context(fusion-multi-dropdown.filter).fu-style-v1 {
    .is-dropdown-select {
        label {
            display: none;
        }

        .filterTitle {
            display: inline;
            cursor: pointer;
        }

        @include icon-style('filter', $light-700, 14px, true, true);
    }
}

:host-context(fusion-dropdown.filter).fu-style-v1,
:host-context(fusion-multi-dropdown.filter).fu-style-v1 {
    .dd-opened{
        @include icon-style('filter', $dark-300, 14px, true, true);
    }
}

:host-context(fusion-dropdown.filter).fu-style-v1,
:host-context(fusion-multi-dropdown.filter).fu-style-v1 {
    .is-dropdown-select.ss-selected{
        @include icon-style('filter', $primary-500, 14px, true, true);
    }

}

:host-context(fusion-dropdown.title).fu-style-v1,
:host-context(fusion-multi-dropdown.title).fu-style-v1 {
    .is-dropdown-select {
        label {
            @extend %font2;
            color: $dark-300;
            display: inline;
            border-radius: 0;
            background-image: none;
            border: none;
            height: inherit;
            line-height: inherit;
            padding: 0;
            // hide new drop-down arrow
            @include icon-style('arrow-dropdown', $dark-300, 8px, true, true) {
                display: none;
            }
            // use previous arrow style
            &:after {
                top: 11px;
                right: -15px;
                content: '';
                display: block;
                position: absolute;
                border-width: 4px 4px 0;
                border-style: solid;
                border-color: $dark-300 transparent transparent;
            }
        }
    }
}

:host-context(fusion-dropdown.title.small).fu-style-v1,
:host-context(fusion-multi-dropdown.title.small).fu-style-v1 {
    .is-dropdown-select {
        label {
            @extend %font4;
            &:after {
                top: 10px;
                right: -15px;
            }
        }
    }
}

:host-context(fusion-dropdown.medium).fu-style-v1,
:host-context(fusion-multi-dropdown.medium).fu-style-v1 {
    .is-dropdown-select {
        label {
            @extend %font3;

            &:after {
                top: 10px;
                right: -15px;
            }
        }
    }
}

:host-context(fusion-dropdown.no-background-big).fu-style-v1,
:host-context(fusion-multi-dropdown.no-background-big).fu-style-v1 {
    .is-dropdown-select {
        border-right: 1px solid $light-500;
        border-top: 2px solid transparent;
        padding-left: 10px;

        label {
            border-radius: 0;
            background-image: none;
            border: none;
            height: 38px;
            line-height: 38px;
            @include icon-style('is-custom-icon', $light-700, 16px, true, true) {
                margin-right: 5px;
                vertical-align: sub;
            }

            .placeholderPrefix {
                @extend %font12;
            }

            .placeholderText {
                @extend %font11;
                font-size: 12px;
                font-weight: bold;
            }
        }

        .is-dynamic-component-holder {
            @include icon-style('arrow-dropdown', $dark-300, 8px, true, true) {
                position: absolute;
                right: 11px;
                top: calc(50% - 10px);
            }
        }
    }
}

:host-context(fusion-dropdown.no-background-big).fu-style-v1,
:host-context(fusion-multi-dropdown.no-background-big).fu-style-v1 {
    .is-dropdown-select.dd-opened {
        border-top-color: $primary-500;

        .is-dynamic-component-holder {
            @include icon-style('arrow-dropdown', $dark-300, 8px, true, true, 180);
        }
    }
}

:host-context(fusion-dropdown.dd-tab-active).fu-style-v1,
:host-context(fusion-multi-dropdown.dd-tab-active).fu-style-v1 {
    .is-dropdown-select {
        label {
            span.placeholderPrefix {
                color: $primary-500;
            }
        }
        &:hover label{
            .dropdown-arrow-container{
                background-color: $light-100;
            }
        }
    }
}
