<div class="fu-inline-copy-wrapper fu-size-{{size}} fu-icon-position-{{iconPosition}}" [attr.data-testid]="testId">
    @if(!!text){
        <div class="fu-inline-copy-text">{{text}}</div>
    }
    <fusion-icon class="fu-inline-copy-icon"
                 [name]="iconName"
                 [fusionTooltip]="!suppressTooltip ? tooltipText : null"
                 [configuration]="!suppressTooltip ? tooltipConfiguration : null"
                 [fusionCopyToClipboard]="copyToClipboard()"
                 (copied)="textCopied()"
    />
</div>
