@import '../../../src/style/scss/v2/vars/vars';
@import '../../../src/style/scss/v2/mixins/mixins';

$tagHeight: 24px;

:host {
    @extend %reset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: $tagHeight;
    line-height: $tagHeight;
    min-width: 54px;
    max-width: 260px;
    padding: 0 12px;
    border-radius: 12px;
    border: solid 1px $fu-light-300;
    @extend %font-captionRegular;
    color: $fu-dark-700;
    background-color: $White;

    & > span{
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    @include icon-style('tag-icon', $fu-dark-200, 10px, true, true){
        margin-right: 5px;
        margin-left: -3px;
        padding-top: 1px;
    }


    @include icon-style('icon-close', $fu-light-700, 9px, true, true){
        margin-left: 6px;
        margin-right: -3px;
        padding-top: 1px;
        &:hover{
            cursor: pointer;
        }
    }
    @include icon-style('icon-close', $fu-light-900, 9px, true, true, 0, true);

    fusion-flag {
        margin-right: 4px;
        margin-left: -3px;
    }

    &:hover {
        border-color: $fu-light-700;
        cursor: default;
    }

    &.disabled{
        border-color: $fu-light-300;
        cursor: not-allowed;
        color: $fu-light-900;
        @include icon-style('tag-icon', $fu-light-900, 10px, true, true);
        fusion-flag {
            opacity: 0.5;
        }
        .icon-close{
            display: none;
        }
        pointer-events: none;
    }

    &.tag-filter{
        @extend %font-label;
        background-color: $fu-primary-100;
        color: $fu-primary-500;
        border-color: transparent;
        &:hover{
            background-color: $fu-primary-200;
            cursor: pointer;
        }
        &.disabled
        {
            cursor: not-allowed;
            color: $fu-primary-400;
            &:hover{background-color: $fu-primary-100;}
        }
        &.selected{
            color: $White;
            background-color: $fu-primary-500;
        }
    }
}
