<div [id]="uid" class="is-dropdown-dual-multi-select">
    <ng-container *ngTemplateOutlet="(opened$ | async) ? dropdownDualMultiSelectLayout : dropdownDualMultiSelectButton"></ng-container>
    <div *ngIf="templateRef" #trigger  (click)="onClickDualMultiSelectButton()">
        <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
    </div>
</div>



<ng-template #dropdownDualMultiSelectButton>
    <div class="dropdown-dual-multi-select-button">
        <ng-container
            *ngIf="!templateRef"
            [ngTemplateOutlet]="dynamicPlaceholder ? dynamicDropdownDualMultiSelectButton : regularDropdownDualMultiSelectButton"
        ></ng-container>
    </div>
</ng-template>




<ng-template #regularDropdownDualMultiSelectButton>
    <div [id]="uid + '-button-regular'" class="dual-select-button" [class.btn-disabled]="isDisabled" (click)="onClickDualMultiSelectButton()">
        <span class="fu-dual-multi-select-placeholder">
            {{ placeholder$ | async }}
        </span>
        <i class="icon right">
            <fusion-icon [name]="{iconName: 'angle-down', iconVersion: 'v3'}"></fusion-icon>
        </i>
    </div>
</ng-template>

<ng-template #dynamicDropdownDualMultiSelectButton>
    <div [id]="uid + '-button-dynamic'"  class="dual-select-button" [class.btn-disabled]="isDisabled" (click)="onClickDualMultiSelectButton()">
        <span class="fu-dual-multi-select-placeholder">
            <fusion-dynamic-components [configuration]="dynamicPlaceholder"></fusion-dynamic-components>
        </span>
    </div>
</ng-template>

<ng-template #dropdownDualMultiSelectLayout>
    <div
        class="dropdown-dual-multi-select-layout"
        [class.fu-options-position-left]="isPositionLeft"
        (fusionClickOutside)="onOutsideClick($event)"
    >
        <fusion-dropdown-dual-multi-select-header
            [formControl]="searchControlTerm"
            [title]="title"
        ></fusion-dropdown-dual-multi-select-header>

        <fusion-dropdown-dual-multi-select-body
            [autoComplete]="autoComplete"
            (scrollDown)="onScrollDown()"
            [formControl]="preSelectedItems"
            [searchTerm]="searchControlTerm.valueChanges | async"
            [searchByProperties]="searchByProperties"
            [totalItems]="totalItems"
            [items]="items$ | async"
            [isPendingItems]="pendingItems"
            [hasSelectAll]="hasSelectAll"
            [loadingLeft]="loadingLeft$ | async"
            [hasBackendPagination]="hasBackendPagination"
        ></fusion-dropdown-dual-multi-select-body>

        <fusion-dropdown-dual-multi-select-footer
            (closeSelect)="closeDropdownDualSelect()"
            (applySelect)="applySelect($event)"
        ></fusion-dropdown-dual-multi-select-footer>
    </div>
</ng-template>

<ng-template #chipContent>
    <div class="fu-chip-content-default" [attr.automation-tests]="attributionService.prefix + '-' + attributionService.name">
        <div [fusionTooltip]="chipDefaultContent" class="truncate fu-chip-text" [attr.automation-tests]="attributionService.prefix + '-label-' + attributionService.name"><span *ngIf="title" class="fu-chip-label">{{ title + ': ' }}</span>{{ selected$ | async }}</div>
    </div>
</ng-template>
