:host {
  tr {
    .fu-table-cell-loading {
      height: var(--table-row-height);
      padding: var(--table-row-cell-padding);
      border-bottom: var(--table-border);

      &.fu-expanding-loader:first-of-type {
        div {
          display: none;
        }
      }
    }
  }
}
