@import '../../../src/style/scss/v4/mixins/mixins';
@import '../../../src/style/scss/v4/vars/vars';
@import '../../../src/style/scss/v4/colors';
@import '../../../src/style/scss/v4/fonts';
@import '../../../src/style/scss/v4/spacings';
@import '../../../src/style/scss/v4/shadows';
@import '../../../src/style/scss/v4/border-radius';

$optionsMaxHeight: 300px;
$searchHeight: 28px;

%location {
  &.options-locate-right {
    left: auto;
  }

  &.options-locate-left {
    right: auto;
  }
}

:host {
  margin: 0;
  padding: 0;

  .fu-dropdown {
    position: relative;

    // dropdown options base
    .options-dropdown {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(100% + 4px);
      min-width: var(--dropdown-overlay-min-width, 180px);
      max-height: 0;
      display: none;
      gap: var(--spacing-50, #{$spacingV4-50});
      flex-direction: column;
      padding: var(--spacing-100, #{$spacingV4-100});
      border-radius: var(--border-radius-lg, #{$borderRadiusV4-lg});
      border: solid 1px var(--common-divider, #{$color-v4-common-divider});
      background-color: var(--background-default, #{$color-v4-background-default});
      box-shadow: var(--box-shadow-lg, #{$boxShadowV4-LG});
      @extend %location;

      .options-holder {
        overflow-y: auto;
        overflow-x: hidden;
        @extend %cloudUiScroll;
        max-height: calc($optionsMaxHeight - (var(--spacing-100, #{$spacingV4-100}) * 2));

        ul {
          margin: 0;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: var(--spacing-50, #{$spacingV4-50});
          padding: 0 var(--spacing-50, #{$spacingV4-50}) 0 0;

          &.fu-loading {
            gap: 0;
          }

          .fu-loader-holder {
            display: flex;
            align-items: center;
            gap: 8px;
            height: 30px;

            fusion-loader {
              width: 20px;
              height: 20px;
            }

            color: var(--text-disabled, #{$color-v4-text-disabled});
            @extend %font-v4-body-2;
            padding: var(--spacing-75, #{$spacingV4-75}) var(--spacing-100, #{$spacingV4-100});
          }

          .no-results {
            color: var(--text-disabled, #{$color-v4-text-disabled});
            @extend %font-v4-body-2;
            padding: var(--spacing-75, #{$spacingV4-75}) var(--spacing-100, #{$spacingV4-100});
          }
        }
      }

      &:has(.fu-search-holder) {
        .options-holder {
          max-height: calc(#{$optionsMaxHeight} - (var(--spacing-100, #{$spacingV4-100}) * 2) - #{$searchHeight});
        }
      }
    }

    &.dd-opened {
      .options-dropdown {
        display: flex;
        z-index: 100;
        max-height: $optionsMaxHeight;
      }
    }
  }

  // region bottom line
  .fu-input-underline {
    display: flex;
    align-items: center;
    margin-top: 4px;

    .fu-input-helper {
      display: flex;
      align-items: center;
      gap: 4px;
      @extend %font-v4-caption;
      color: var(--text-secondary, #{$color-v4-text-secondary});

      .fu-helper-icon {
        width: 16px;
        height: 16px;
      }

      &.fu-variant-error {
        color: var(--error-main, #{$color-v4-error-main});
      }

      &.fu-variant-success {
        color: var(--success-main, #{$color-v4-success-main});
      }

      &.fu-variant-warning {
        color: var(--warning-main, #{$color-v4-warning-main});
      }
    }
  }
  // endregion
}