@import '../../../src/style/scss/v4/spacings';
@import '../../../src/style/scss/v4/fonts';
@import '../../../src/style/scss/v4/colors';

:host {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50, #{$spacingV4-50});

  .option {
    .fusionTooltipTrigger{
      display: block;
      width: 100%;
    }
    &.fu-dd-group {
      &:not(:first-child) {
        margin-top: var(--spacing-150, #{$spacingV4-150});
      }

      .fu-group-name {
        @extend %font-v4-heading-6;
        color: var(--text-secondary, #{$color-v4-text-secondary});
        padding: 6px 8px;
      }
    }
  }
}