<div class="fu-textarea-container">
    @if(labelText){
        <fusion-input-label class="fu-dropdown-label" [text]="labelText" [required]="labelRequired" [icon]="labelIcon" [tooltipText]="labelTooltipText"></fusion-input-label>
    }
        @if (showLengthCounter){
            <div class="fu-max-length-counter" [attr.data-testid]="testId">
                {{ (valueLength$ | async) }}<ng-container *ngIf="maxLength">/{{ maxLength }}</ng-container>
            </div>
        }
        <textarea #textArea
            class="is-textarea"
            [class.fu-readonly]="!!readonly"
            [placeholder]="placeholder"
            [readonly]="readonly"
            [name]="name"
            [ngClass]="{disabled: isDisabled, resize: resize}"
            [ngModel]="model"
            [maxlength]="maxLength"
            (ngModelChange)="onChange($event)"
            (focus)="focus()"
            (blur)="blur()"
            [disabled]="isDisabled"></textarea>
    @if (helperText){
        <div class="fu-input-underline">
            <fusion-input-helper [text]="helperText" [state]="variant" [iconName]="helperIcon" [testId]="testId"></fusion-input-helper>
        </div>
    }
</div>
