<div (mouseleave)="mouseOverMenu()" (mouseenter)="mouseEnterMenu()" class="main-menu">
    <ul>
        <ng-container *ngFor="let item of menuItems">
            <span class="main-menu-item-wrapper">
                <li #itemLi class="main-menu-item {{ item.cssClass }}" [ngClass]="{active: isSelected(item), open: isOpened(item)}">
                    <div class="sub-menu">
                        <!--Menu item with ROUTE-->
                        <span (click)="selectItem(item, itemLi)" *ngIf="item.route && !item.redirect" [routerLink]="item.route">
                            <a
                                *ngIf="item.additionalAction"
                                class="is-menu-item-additional-data"
                                (click)="additionalItemClick($event, item.additionalAction)"
                                [ngStyle]="item.customCSS"
                                >{{ item.additionalAction.name }}</a
                            >
                            <fusion-menu-item
                                [item]="item"
                                [class]="item.cssClass ? item.cssClass : ''"
                                [ngClass]="{active: isSelected(item)}"
                            ></fusion-menu-item>
                        </span>
                        <!--Menu item with REDIRECT Just a link to the another target-->
                        <ng-container
                            *ngIf="
                                !item.route && !!item.redirect && !!item.target && !item.additionalAction && !item.children;
                                else redirectMenuItem
                            "
                            ><span class="link-target">
                                <fusion-icon class="item-icon" *ngIf="item.icon" [name]="item.icon"></fusion-icon>
                                <a [href]="item.redirect" [target]="item.target" [ngStyle]="item.customCSS">{{ item.name }}<fusion-icon *ngIf="item.showNewWindowIcon ?? true" class="icon-new-window" [name]="{iconName: 'new-window', iconVersion: 'v2'}"></fusion-icon></a>
                            </span>
                        </ng-container>
                        <!--Menu item with REDIRECT-->
                        <ng-template #redirectMenuItem>
                            <span (click)="selectItem(item, itemLi)" *ngIf="!item.route || item.redirect">
                                <a
                                    *ngIf="item.additionalAction"
                                    class="is-menu-item-additional-data"
                                    (click)="additionalItemClick($event, item.additionalAction)"
                                    [ngClass]="{'padding-right-arrow': item.children}"
                                    [ngStyle]="item.customCSS"
                                    >{{ item.additionalAction.name }}</a>
                                <fusion-icon class="item-icon" *ngIf="item.icon" [name]="item.icon"></fusion-icon>
                                <label [innerHTML]="item.name"></label>
                                <i class="icon-expand" *ngIf="item.children"><fusion-icon [name]="{iconName: 'arrow-right', iconVersion: 'v1'}"></fusion-icon></i>
                            </span>
                        </ng-template>
                        <!--Menu list recursive call-->
                        <fusion-menu-list
                            *ngIf="item.children"
                            [menuItems]="item.children"
                            (menuItemClicked)="menuItemClicked.emit($event)"
                            (menuAdditionalItemClicked)="menuAdditionalItemClicked.emit($event)"
                        ></fusion-menu-list>
                    </div>
                </li>
            </span>
        </ng-container>
    </ul>
</div>
