@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/mixins/mixins';

:host {
    @extend %border-box-normalize;
    display: inline-block;

    .fu-status-label-wrapper {
        margin: 0;
        padding: 0;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
            @include size(var(--fu-status-label-size, 8px));
        }

        &:not(.fu-flat) {
            svg * {
                stroke: var(--fu-status-label-color, $fu-primary-500);
            }
        }
        &.fu-flat {
            svg * {
                fill: var(--fu-status-label-color, $fu-primary-500);
            }
        }

        @extend %font-bodySmall;
        color: var(--fu-status-label-text-color, $fu-black-500);;

        &.archived {
            &:not(.fu-flat) {
                svg * {
                    stroke: var(--fu-status-label-archived, $fu-light-500);
                }
            }

            &.fu-flat {
                svg * {
                    fill: var(--fu-status-label-archived, $fu-light-500);
                }
            }
        }

        &.disabled {
            &:not(.fu-flat) {
                svg * {
                    stroke: var(--fu-status-label-disabled, $fu-light-900);
                }
            }

            &.fu-flat {
                svg * {
                    fill: var(--fu-status-label-disabled, $fu-light-900);
                }
            }
        }

        &.warning {
            &:not(.fu-flat) {
                svg * {
                    stroke: var(--fu-status-label-warning, $fu-neutral-500);
                }
            }

            &.fu-flat {
                svg * {
                    fill: var(--fu-status-label-warning, $fu-neutral-500);
                }
            }
        }

        &.error {
            &:not(.fu-flat) {
                svg * {
                    stroke: var(--fu-status-label-error, $fu-negative-500);
                }
            }

            &.fu-flat {
                svg * {
                    fill: var(--fu-status-label-error, $fu-negative-500);
                }
            }
        }

        &.success {
            &:not(.fu-flat) {
                svg * {
                    stroke: var(--fu-status-label-success, $fu-positive-500);
                }
            }

            &.fu-flat {
                svg * {
                    fill: var(--fu-status-label-success, $fu-positive-500);
                }
            }
        }
    }

    &.fu-large {
        .fu-status-label-wrapper svg {
            @include size(var(--fu-status-label-large-size, 12px));
        }
    }
}
