@import '../../../../styles/vars';

:host {
    fusion-example-block {
        margin-bottom: 25px;
    }

    .is-note-holder {
        color: $light-800;
        margin-top: 10px;
        margin-bottom: 20px;
        .is-code-example {
            color: $negative-500;
            background-color: $light-100;
            padding: 4px;
        }
    }

    .is-typography-holder {
        border-bottom: solid 1px $light-500;
        padding: 15px 0;
        line-height: initial;

        .deprecated {
            text-decoration: line-through;
            font-weight: normal;
        }

        .is-font-example {
            color: $dark-300;
            line-height: 1.5;
        }

        .is-font-css-name {
            @extend %font5;
            color: $dark-300;
            padding-top: 10px;
        }

        &:last-child {
            border: none;
        }

    }
}
