<div class="fu-input-holder {{ config.options?.size }}"
     [ngClass]="getHolderClasses()"
     [style.width]="config.options?.width">

    <ng-container *ngIf="configByStyle$ | async as configByStyle">
        <div class="fu-search-icon-holder"
             *ngIf="displaySearchIcon && !loading"
             [class.focused]="focused">
            <fusion-icon class="icon-search" [name]="configByStyle.iconSearch"></fusion-icon>
        </div>

        <label class="fu-clear-input"
               [for]="'fu-clear-search-' + config?.id"
               [hidden]="!config?.clear || !input.value"
               [class.focused]="focused"
               (click)="clearInput(true)">
            <fusion-icon class="icon-clear-search"
                         [id]="'fu-clear-search-' + config?.id"
                         [name]="configByStyle.iconClear">
            </fusion-icon>
        </label>

        <i class="icon {{ config?.iconPos }}"
           *ngIf="config?.icon && !loading && !config?.errorType"
           [class.has-units]="config?.units"
           [ngStyle]="config.options?.iconStyle">
            <fusion-icon [name]="config?.icon"></fusion-icon>
        </i>

        <i class="icon loading {{ config?.iconPos }}"
           *ngIf="loading"
           [class.has-units]="config?.units">
            <fusion-icon [name]="configByStyle.iconLoader"></fusion-icon>
        </i>

        <span class="fu-input-units {{ config?.unitPos }} {{ config.options?.size }}"
              *ngIf="config?.units"
              [class.focused]="focused"
              [class.is-error]="config.error"
              [class.is-placeholder-units]="config?.unitPlaceholder && !inputControl.value">
            {{ config?.units }}
        </span>

        <input #input
               class="fu-input {{ config?.iconPos }} {{ config.options?.size }} {{ config?.class }}"
               autocomplete="off"
               minlength="1"
               [class.is-type-pass]="config?.type === 'password'"
               [class.has-units]="config?.units"
               [class.disabled]="disabled$ | async"
               [class.iconed]="config?.icon || loading"
               [class.fu-button]="config?.btn"
               [class.has-clear-btn]="config?.clear"
               [class.is-error]="showErrorClass$ | async"
               [id]="config?.id"
               [type]="getInputType()"
               [placeholder]="config?.placeholder"
               [readonly]="config?.readonly || (disabled$ | async) || (loading && config?.disableOnLoading) || config?.btnLoading"
               [required]="config?.required"
               [attr.maxlength]="config?.maxlength"
               [min]="config?.min"
               [max]="config?.max"
               [step]="step"
               [formControl]="inputControl"
               [ngStyle]="config.options?.style"
               [attr.autofocus]="config?.autofocus"
               (focus)="focus()"
               (blur)="blur()"
        />

        <button *ngIf="config?.btn"
                [disabled]="config?.btnDisabled"
                (click)="onButtonClicked($event)"
                [class.is-loading]="config?.btnLoading"
                [class.is-error]="config?.error">

            <ng-container [ngTemplateOutlet]="configByStyle.currentStyleVersion === styleVersion.V1 ? V1 : V2"
                          [ngTemplateOutletContext]="{iconName:configByStyle.iconLoader}">
            </ng-container>

            <span class="fu-action-button-text">{{ config?.btn }}</span>
        </button>

        <i class="fu-validation-icon-holder"
           *ngIf="config?.errorType && showErrorIcon() && !loading"
           [fusionTooltip]="getTooltipErrorsMessage()">
            <fusion-icon class="icon-validation"
                         [name]="getErrorIcon(config?.errorType, configByStyle.iconInfo, configByStyle.iconWarning)">
            </fusion-icon>
        </i>

        <i class="fu-toggle-pass"
           *ngIf="config?.type === 'password'"
           (click)="passToggle($event)"
           (mousedown)="onPassToggleMouseDown($event)">
            <fusion-icon [name]="config.options?.isPassHidden ? {iconName:'eye', iconVersion: 'v2'} : {iconName: 'eye-slash',iconVersion: 'v2'}"></fusion-icon>
        </i>

    </ng-container>

    <input *ngIf="config.type === 'file'"
           hidden
           value=""
           type="file"
           #fileInput
           [formControl]="file"
           [accept]="config?.acceptFileExtensions" />
</div>

<div class="error-msg"
     *ngIf="config.error && config.error !== true"
     [hidden]="config?.errorType && showErrorIcon()"
     [class.focused]="focused"
     [innerHTML]="config.error">
</div>

<ng-template #V1
             let-iconName="iconName">
    <fusion-icon [name]="iconName"></fusion-icon>
</ng-template>

<ng-template #V2>
    <fusion-loader-inline [status]="config?.btnLoading"></fusion-loader-inline>
    <fusion-icon *ngIf="config.options?.buttonIcon"
                 class="button-icon"
                 [name]="config.options?.buttonIcon">
    </fusion-icon>
</ng-template>
