<ng-container *ngIf="selectedVersion$ | async as selectedVersion" [ngSwitch]="selectedVersion">

    <ng-container *ngSwitchCase="1">
        <div fusion-input-v1 [loading]="loading"
                         [configuration]="config"
                         [placeholder]="config?.placeholder"
                         [errorType]="config?.errorType"
                         [name]="config?.name"
                         [icon]="config?.icon"
                         [units]="config?.units"
                         [unitPos]="config?.unitPos"
                         [unitPlaceholder]="config?.unitPlaceholder"
                         [btn]="config?.btn"
                         [btnDisabled]="config?.btnDisabled"
                         [btnLoading]="config?.btnLoading"
                         [id]="config?.id"
                         [type]="config?.type"
                         [class]="config?.class"
                         [decimal]="config?.decimal"
                         [clear]="config?.clear"
                         [readonly]="config?.readonly"
                         [required]="config?.required"
                         [showSearchIcon]="config?.showSearchIcon"
                         [showSearchIconWhenHasInputValue]="config?.showSearchIconWhenHasInputValue"
                         [min]="config?.min"
                         [max]="config?.max"
                         [maxlength]="config?.maxlength"
                         [sanitationRegex]="config?.sanitationRegex"
                         [acceptFileExtensions]="config?.acceptFileExtensions"
                         [disableWheelScroll]="config?.disableWheelScroll"
                         [options]="config?.options"
                         [isDisabled]="config?.disabled"
                      [error]="config?.error"></div>
    </ng-container>

    <ng-container *ngSwitchCase="2">
        <div fusion-input-v2 [loading]="loading"
                         [configuration]="config"
                         [placeholder]="config?.placeholder"
                         [errorType]="config?.errorType"
                         [name]="config?.name"
                         [icon]="config?.icon"
                         [units]="config?.units"
                         [unitPos]="config?.unitPos"
                         [unitPlaceholder]="config?.unitPlaceholder"
                         [btn]="config?.btn"
                         [btnDisabled]="config?.btnDisabled"
                         [btnLoading]="config?.btnLoading"
                         [id]="config?.id"
                         [type]="config?.type"
                         [class]="config?.class"
                         [decimal]="config?.decimal"
                         [clear]="config?.clear"
                         [readonly]="config?.readonly"
                         [required]="config?.required"
                         [showSearchIcon]="config?.showSearchIcon"
                         [showSearchIconWhenHasInputValue]="config?.showSearchIconWhenHasInputValue"
                         [min]="config?.min"
                         [max]="config?.max"
                         [maxlength]="config?.maxlength"
                         [sanitationRegex]="config?.sanitationRegex"
                         [acceptFileExtensions]="config?.acceptFileExtensions"
                         [disableWheelScroll]="config?.disableWheelScroll"
                         [options]="config?.options"
                         [isDisabled]="config?.disabled"
                      [error]="config?.error"></div>
    </ng-container>

    <ng-container *ngSwitchCase="3">
        <div fusion-input-v3
            [loading]="loading"
            [configuration]="config"
            [placeholder]="config?.placeholder"
            [errorType]="config?.errorType"
            [name]="config?.name"
            [icon]="config?.icon"
            [units]="config?.units"
            [unitPos]="config?.unitPos"
            [unitPlaceholder]="config?.unitPlaceholder"
            [btn]="config?.btn"
            [btnDisabled]="config?.btnDisabled"
            [btnLoading]="config?.btnLoading"
            [id]="config?.id"
            [type]="config?.type"
            [class]="config?.class"
            [decimal]="config?.decimal"
            [clear]="config?.clear"
            [readonly]="config?.readonly"
            [required]="config?.required"
            [showSearchIcon]="config?.showSearchIcon"
            [showSearchIconWhenHasInputValue]="config?.showSearchIconWhenHasInputValue"
            [min]="config?.min"
            [max]="config?.max"
            [maxlength]="config?.maxlength"
            [sanitationRegex]="config?.sanitationRegex"
            [acceptFileExtensions]="config?.acceptFileExtensions"
            [disableWheelScroll]="config?.disableWheelScroll"
            [options]="config?.options"
            [isDisabled]="config?.disabled"
            [error]="config?.error"
        ></div>
    </ng-container>

</ng-container>

