<table class="calendar" (mouseleave)="hoverEnd()">
    <thead>
        <tr>
            <th class="month" colspan="7">{{ configuration.month | date: 'MMMM' }} {{ configuration.month | date: 'y' }}</th>
        </tr>
        <tr class="day-in-week">
            <th *ngFor="let dow of daysOfTheWeek">{{ dow }}</th>
        </tr>
    </thead>
    <tbody
        [ngClass]="{waitingForDateSelection: configuration.selection?.startDate?.getTime() === configuration.selection?.endDate?.getTime()}"
    >
        <ng-container
            *ngFor="let week of calendarService.getParsedMonth(configuration.month, configuration.maxDate).weeks; let last = last"
        >
            <tr *ngIf="!last || (last && week[0].date)">
                <ng-container *ngFor="let day of week">
                    <td
                        #date
                        class="day"
                        *ngIf="day.date | date: 'd' as dayInMonth; else notThisMonthDay"
                        [ngClass]="getDayClasses(day)"
                        (mouseenter)="dayHovered(day, $event)"
                        [attr.data-datetime]="[day.date.getTime()]"
                        (click)="selectDay(day)"
                    >
                        <span class="selected-range"></span>
                        <span class="date-text">{{ dayInMonth }}</span>
                    </td>
                    <ng-template #notThisMonthDay><td>&nbsp;</td></ng-template>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>
