@import "border-radius";
@import 'colors';

$borderRadius: $borderRadiusV4-lg;
$borderLine: 1px solid $fu-divider;

%noBorderRadiusTR{
    border-top-right-radius: 0 !important;
}
%noBorderRadiusTL{
    border-top-left-radius: 0 !important;
}
%noBorderRadiusBR{
    border-bottom-right-radius: 0 !important;
}
%noBorderRadiusBL{
    border-bottom-left-radius: 0 !important;
}

%noBorderLeft{
    @extend %noBorderRadiusTL;
    @extend %noBorderRadiusBL;
    border-left: none;
}

%noBorderRight{
    @extend %noBorderRadiusTR;
    @extend %noBorderRadiusBR;
    border-right: none;
}

%noBorderBottom{
    @extend %noBorderRadiusBL;
    @extend %noBorderRadiusBR;
    border-bottom: none;
}

%noBorderTop{
    @extend %noBorderRadiusTL;
    @extend %noBorderRadiusTR;
    border-top: none;
}

