// region Colors V4 (started, used  in for layout v4)
$White: #ffffff;

// todo: check and sync it with colors v4 palette (Unity)
// region colors before Unity palette arrived
// region colors Navigation
// background
$fu-nav-primary-ironsource: #0D148C;
$fu-nav-primary-unity: #181818;
$fu-nav-secondary: #FCFCFC;
// text
$fu-nav-text-primary: #202020;
$fu-nav-text-secondary: #757575;
//white - transparent
$fu-nav-menu-white-100: #ffffff;
$fu-nav-menu-white-80: rgba(255, 255, 255, 0.82);
$fu-nav-menu-white-16: rgba(255, 255, 255, 0.16);
$fu-nav-menu-white-12: rgba(255, 255, 255, 0.12);

//black - transparent
$fu-nav-menu-black-8:  rgba(0, 0, 0, 0.08);
$fu-nav-menu-black-5:  rgba(0, 0, 0, 0.05);
// endregion
// region Misc
$fu-icon-drop: #646464;
// endregion
// todo: update colors with Moran
$fu-light-100: #F5F5F5;
// endregion

// region Colors V4 - light palette
$color-v4-background-default: #FFFFFF;
$color-v4-background-paper: hsl(0, 0%, 99.0%);
$color-v4-background-model-elevation: #FFFFFF;
$color-v4-background-backdrop: hsla(0, 0%, 0%, 0.11);
$color-v4-background-paper-elevation-0: hsl(0, 0%, 97.5%);
$color-v4-background-paper-elevation-1: hsl(0, 0%, 94.6%);
$color-v4-background-paper-elevation-2: hsl(0, 0%, 92.0%);
$color-v4-background-paper-elevation-3: hsl(0, 0%, 89.5%);
$color-v4-background-paper-elevation-4: hsl(0, 0%, 86.8%);
$color-v4-background-paper-elevation-5: hsl(0, 0%, 83.0%);
$color-v4-background-paper-elevation-6: hsl(0, 0%, 73.2%);
$color-v4-background-paper-elevation-7: hsl(0, 0%, 55.2%);
$color-v4-background-paper-elevation-8: hsl(0, 0%, 50.3%);
$color-v4-background-paper-elevation-9: hsl(0, 0%, 39.3%);

$color-v4-action-primary: hsl(0, 0%, 12.5%);
$color-v4-action-active: hsl(0, 0%, 50.3%);
$color-v4-action-hover: hsla(0, 0%, 0%, 0.05);
$color-v4-action-selected: hsla(0, 0%, 92%, 1);
$color-v4-action-disabled: hsla(0, 0%, 87%, 1);
$color-v4-action-disabled-background: hsla(0, 0%, 95%, 1);
$color-v4-action-focus: hsl(0, 0%, 92.0%);
$color-v4-action-outlined-border  : hsla(0, 0%, 73%, 1);

$color-v4-default-light: hsl(0, 0%, 89.5%);
$color-v4-default-main: hsl(0 0% 94.51%);
$color-v4-default-dark: hsl(0, 0%, 92.0%);
$color-v4-default-outlined-border: hsl(0, 0%, 73.2%);
$color-v4-default-contrast-text: hsl(0, 0%, 12.5%);
$color-v4-default-button-contrast-text: hsla(0, 0%, 0%, 1);

$color-v4-common-white: #FFFFFF;
$color-v4-common-black: #000000;
$color-v4-common-inverse-white: #FFFFFF;
$color-v4-common-inverse-black: #000000;
$color-v4-common-divider: hsl(0, 0%, 86.8%);
$color-v4-common-divider-elevation-0: hsla(0, 0%, 89%, 1);

$color-v4-text-primary: hsl(0, 0%, 12.5%);
$color-v4-text-secondary: hsl(0, 0%, 39.3%);
$color-v4-text-disabled: hsl(0 0% 73.33%);

$color-v4-primary-lighter: hsl(209, 100%, 96.5%);
$color-v4-primary-light: hsl(209, 95.0%, 90.1%);
$color-v4-primary-main: hsl(206, 100%, 50.0%);
$color-v4-primary-main-8-p: hsla(206, 100%, 50%, 0.08);
$color-v4-primary-main-50-p: hsla(206, 100%, 50%, 0.5);
$color-v4-primary-dark: hsl(208, 93.5%, 47.4%);
$color-v4-primary-darker: hsl(211, 90.0%, 42.0%);
$color-v4-primary-outlined-border: hsl(206, 100%, 50.0%);
$color-v4-primary-contrast-text: hsl(216, 71.0%, 23.0%);
$color-v4-primary-button-contrast-text: hsla(0, 0%, 100%, 1);

$color-v4-info-lighter: hsl(223, 98.4%, 97.1%);
$color-v4-info-light: hsl(224, 87.1%, 92.0%);
$color-v4-info-main: hsl(226, 70.0%, 55.5%);
$color-v4-info-main-8-p: hsla(226, 70%, 55.5%, 0.08);
$color-v4-info-main-50-p: hsla(226, 70%, 55.5%, 0.5);
$color-v4-info-dark: hsl(226, 58.6%, 51.3%);
$color-v4-info-darker: hsl(226, 55.0%, 45.0%);
$color-v4-info-outlined-border: hsl(226, 70.0%, 55.5%);
$color-v4-info-contrast-text: hsl(226, 50.0%, 24.0%);
$color-v4-info-button-contrast-text: hsla(0, 0%, 100%, 1);

$color-v4-success-lighter: hsl(139, 55.2%, 94.5%);
$color-v4-success-light: hsl(141, 43.7%, 86.0%);
$color-v4-success-main: hsl(151, 55.0%, 41.5%);
$color-v4-success-main-8-p: hsla(151, 55%, 41.5%, 0.08);
$color-v4-success-main-50-p: hsla(151, 55%, 41.5%, 0.5);
$color-v4-success-dark: hsl(152, 57.5%, 37.6%);
$color-v4-success-darker: hsl(153, 67.0%, 28.5%);
$color-v4-success-outlined-border: hsl(151, 55.0%, 41.5%);
$color-v4-success-contrast-text: hsl(155, 40.0%, 16.5%);
$color-v4-success-button-contrast-text: hsla(0, 0%, 100%, 1);

$color-v4-warning-lighter: hsl(45, 100%, 90.8%);
$color-v4-warning-light: hsl(40, 100%, 81.5%);
$color-v4-warning-main: hsl(42, 100%, 62.0%);
$color-v4-warning-main-8-p: hsla(42, 100%, 62%, 0.08);
$color-v4-warning-main-50-p: hsla(42, 100%, 62%, 0.5);
$color-v4-warning-dark: hsl(42, 100%, 55.0%);
$color-v4-warning-darker: hsl(25, 50.0%, 38.0%);
$color-v4-warning-outlined-border: hsl(42, 100%, 62.0%);
$color-v4-warning-contrast-text: hsl(25, 40.0%, 22.0%);
$color-v4-warning-button-contrast-text: hsla(24, 40%, 22%, 1);

$color-v4-error-lighter: hsl(360, 100%, 96.8%);
$color-v4-error-light: hsl(360, 90.2%, 91.9%);
$color-v4-error-main: hsl(358, 75.0%, 59.0%);
$color-v4-error-main-8-p: hsla(358, 75%, 59%, 0.08);
$color-v4-error-main-50-p: hsla(358, 75%, 59%, 0.5);
$color-v4-error-dark: hsl(358, 67.4%, 54.6%);
$color-v4-error-darker: hsl(358, 65.0%, 47.0%);
$color-v4-error-outlined-border: hsl(358, 75.0%, 59.0%);
$color-v4-error-contrast-text: hsl(350, 63.0%, 24.0%);
$color-v4-error-button-contrast-text: hsla(0, 0%, 100%, 1);

$color-v4-aba: #FFC134;
$color-v4-abb: #4F4FF5;
// endregion
