/**
  * Layout include header and sidebar menus variables
 */


// region Layout sizes
$pageHeaderHeight: 64px;
// endregion

// region navigation menu sizes
// primary menu
$navBarPrimaryWidth: 56px;
$navButtonSize: 32px;
$navBarIconSize: 20px;

// secondary menu
$navBarSecondaryWidth: 200px;
$navBarSecondaryLogoHolderHeight: $pageHeaderHeight;
$navBarSecondaryItemHeight: 28px;
$navBarSecondaryItemTitleHeight: 36px;
$navBarSecondaryItemIconSize: 18px;
$navBarSecondaryItemParentIconSize: 20px;
$navBarSecondaryItemOpenCloseIconSize: 12px;
$navBarSecondaryItemNewTabIconSize: 16px;
// endregion

// region pop menu
$menuWidth: 296px;
$userIconSize: 32px;
$menuItemHeight: 32px;
$menuItemIconSize: 20px;
$menuItemHoverColor: #F5F5F5;
// endregion

// region navigation menu colors

// background
$fu-nav-primary-ironsource: #0D148C;
$fu-nav-primary-unity: #181818;

// white - transparent
$fu-nav-menu-white-100: #ffffff;
$fu-nav-menu-white-80: rgba(255, 255, 255, 0.82);
$fu-nav-menu-white-16: rgba(255, 255, 255, 0.16);
$fu-nav-menu-white-12: rgba(255, 255, 255, 0.12);

// black - transparent
$fu-nav-menu-black-8:  rgba(0, 0, 0, 0.08);
$fu-nav-menu-black-5:  rgba(0, 0, 0, 0.05);

// todo: update colors with Moran
$fu-light-100: #F5F5F5;
// endregion
