@import 'fonts';
@import 'colors';
@import 'screen';

%border-box-normalize {
    * {box-sizing: border-box;}
}

// region resets
%reset {
    @extend %border-box-normalize; // add box-sizing
    margin: 0;
    padding: 0;
    vertical-align: initial;
    text-align: initial;
}

%list-reset {
    ul, ol {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
}
// endregion
