@import '../../../../../src/style/scss/v3/mixins/mixins';
@import '../../../../../src/style/scss/v3/vars/colors';

:host {
    height: 24px;
    width: 24px;
    @include icon-style('loader-dots-v4', currentColor, (height: 24px, width: 24px), false, true) {
        display: block;
    }

    @include icon-style('loading-clean', currentColor, 20px, false, true);
}

:host-context(.large) {
    height: 32px;
    width: 32px;
    @include icon-style('loader-dots-v4', currentColor, (height: 32px, width: 32px), false, true) {
        display: block;
    }
    @include icon-style('loading-clean', currentColor, 24px, false, true);

}

:host-context(.small) {
    height: 24px;
    width: 24px;
    @include icon-style('loader-dots-v4', currentColor, (height: 24px, width: 24px), false, true){
        display: block;
    }
    @include icon-style('loading-clean', currentColor, 16px, false, true);
}

:host-context(.fu-link-button) {
    @include icon-style('loader-dots-v4', $fu-primary-500, (height: 16px, width: 22px), false, true) {
        height: 16px;
    }
}

:host-context(.fu-link-button.third) {
    @include icon-style('loader-dots-v4', $fu-light-900, (height: 16px, width: 22px), false, true) {
        height: 16px;
    }
}

:host-context(.fu-link-button.black) {
    @include icon-style('loader-dots-v4', $fu-black-500, (height: 16px, width: 22px), false, true) {
        height: 16px;
    }
}

