@import "../../src/style/scss/v2/vars/vars";
@import "../../src/style/scss/v2/vars/colors";
@import "../../src/style/scss/v2/vars/border";

$switcherItemHeight: 24px;
$switcherItemMinWidth: 68px;
$switcherItemPadding: 3px 8px;
$switcherItemBorderRadius: 12px;
$switcherItemSelectedColor: $White;
$switcherItemSelectedBGColor: $fu-primary-500;
$switcherItemHoverBGColor: $fu-primary-200;
$switcherItemDisabledColor: $fu-primary-400;

:host:not(.fusion-style-v1) {
    @extend %reset;
    line-height: 20px;
    .is-switcher{
        display: inline-flex;
        .is-switcher-holder {
            height: $switcherItemHeight;
            min-width: $switcherItemMinWidth;
            text-align: center;

            color: $fu-primary-500;
            background-color: $fu-primary-100;

            input[type='radio'] {
                display: none;
                & + label{
                    @extend %font-label;
                    display: inherit;
                    padding: $switcherItemPadding;
                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                }
            }
            &:hover{
                background-color: $switcherItemHoverBGColor;
                label{
                    cursor: pointer;
                }
                &.selected label{
                    cursor: default;
                }
            }
            &:first-child{
                border-radius: $switcherItemBorderRadius 0 0 $switcherItemBorderRadius;
            }
            &:last-child{
                border-radius: 0 $switcherItemBorderRadius $switcherItemBorderRadius 0;
            }
            &.selected{
                background-color: $switcherItemSelectedBGColor;
                color: $switcherItemSelectedColor;
                &.not-allowed{
                    color: $switcherItemSelectedColor;
                    input[type='radio'] + label{
                        opacity: 0.8;
                    }
                    &:hover{
                        background-color: $switcherItemSelectedBGColor;
                    }
                }
            }
            &.not-allowed{
                cursor: not-allowed;
                color: $switcherItemDisabledColor;
                input[type='radio'] + label{
                    pointer-events: none;
                }
                &:hover{
                    background-color: $fu-primary-100;
                }
            }
        }
    }

    .error-msg {
        @extend %font-captionRegular;
        color: $fu-negative-500;
        margin-top: -2px;
    }
}
