<div class="is-dropdown-dual-multi-select-footer">
    <fusion-button class="small transparent third" (click)="closeSelectItems()" [attr.automation-tests]="attributionService.prefix + '-cancel-button-' + attributionService.name">
        <span>Cancel</span>
    </fusion-button>
    <fusion-button class="small primary" (click)="applySelectItems(true)" [attr.automation-tests]="attributionService.prefix + '-apply-button-' + attributionService.name">
        <span>Apply</span>
    </fusion-button>
</div>
