@use './vars/border-radius';

/* region css variables */
.fusion-v4 {
    --border-radius-xs: #{border-radius.$borderRadiusV4-xs};
    --border-radius-sm: #{border-radius.$borderRadiusV4-sm};
    --border-radius-md: #{border-radius.$borderRadiusV4-md};
    --border-radius-lg: #{border-radius.$borderRadiusV4-lg};
    --border-radius-xl: #{border-radius.$borderRadiusV4-xl};
    --border-radius-full: #{border-radius.$borderRadiusV4-full};
}
