@use './vars/colors';

/* region css variables */
.fusion-v4 {
    --background-default: #{colors.$color-v4-background-default};
    --background-paper: #{colors.$color-v4-background-paper};
    --background-model-elevation: #{colors.$color-v4-background-model-elevation};
    --background-backdrop: #{colors.$color-v4-background-backdrop};
    --background-paper-elevation-0: #{colors.$color-v4-background-paper-elevation-0};
    --background-paper-elevation-1: #{colors.$color-v4-background-paper-elevation-1};
    --background-paper-elevation-2: #{colors.$color-v4-background-paper-elevation-2};
    --background-paper-elevation-3: #{colors.$color-v4-background-paper-elevation-3};
    --background-paper-elevation-4: #{colors.$color-v4-background-paper-elevation-4};
    --background-paper-elevation-5: #{colors.$color-v4-background-paper-elevation-5};
    --background-paper-elevation-6: #{colors.$color-v4-background-paper-elevation-6};
    --background-paper-elevation-7: #{colors.$color-v4-background-paper-elevation-7};
    --background-paper-elevation-8: #{colors.$color-v4-background-paper-elevation-8};
    --background-paper-elevation-9: #{colors.$color-v4-background-paper-elevation-9};

    --action-primary: #{colors.$color-v4-action-primary};
    --action-active: #{colors.$color-v4-action-active};
    --action-hover: #{colors.$color-v4-action-hover};
    --action-selected: #{colors.$color-v4-action-selected};
    --action-disabled: #{colors.$color-v4-action-disabled};
    --action-disabled-background: #{colors.$color-v4-action-disabled-background};
    --action-focus: #{colors.$color-v4-action-focus};
    --action-outlined-border: #{colors.$color-v4-action-outlined-border};

    --default-light: #{colors.$color-v4-default-light};
    --default-main: #{colors.$color-v4-default-main};
    --default-dark: #{colors.$color-v4-default-dark};
    --default-outlined-border: #{colors.$color-v4-default-outlined-border};
    --default-contrast-text: #{colors.$color-v4-default-contrast-text};
    --default-button-contrast-text: #{colors.$color-v4-default-button-contrast-text};

    --common-white: #{colors.$color-v4-common-white};
    --common-black: #{colors.$color-v4-common-black};
    --common-inverse-white: #{colors.$color-v4-common-inverse-white};
    --common-inverse-black: #{colors.$color-v4-common-inverse-black};
    --common-divider: #{colors.$color-v4-common-divider};
    --common-divider-elevation-0: #{colors.$color-v4-common-divider-elevation-0};

    --text-primary: #{colors.$color-v4-text-primary};
    --text-secondary: #{colors.$color-v4-text-secondary};
    --text-disabled: #{colors.$color-v4-text-disabled};

    --primary-lighter: #{colors.$color-v4-primary-lighter};
    --primary-light: #{colors.$color-v4-primary-light};
    --primary-main: #{colors.$color-v4-primary-main};
    --primary-main-8-p: #{colors.$color-v4-primary-main-8-p};
    --primary-main-50-p: #{colors.$color-v4-primary-main-50-p};
    --primary-dark: #{colors.$color-v4-primary-dark};
    --primary-darker: #{colors.$color-v4-primary-darker};
    --primary-outlined-border: #{colors.$color-v4-primary-outlined-border};
    --primary-contrast-text: #{colors.$color-v4-primary-contrast-text};
    --primary-button-contrast-text: #{colors.$color-v4-primary-button-contrast-text};

    --info-lighter: #{colors.$color-v4-info-lighter};
    --info-light: #{colors.$color-v4-info-light};
    --info-main: #{colors.$color-v4-info-main};
    --info-main-8-p: #{colors.$color-v4-info-main-8-p};
    --info-main-50-p: #{colors.$color-v4-info-main-50-p};
    --info-dark: #{colors.$color-v4-info-dark};
    --info-darker: #{colors.$color-v4-info-darker};
    --info-outlined-border: #{colors.$color-v4-info-outlined-border};
    --info-contrast-text: #{colors.$color-v4-info-contrast-text};
    --info-button-contrast-text: #{colors.$color-v4-info-button-contrast-text};

    --success-lighter: #{colors.$color-v4-success-lighter};
    --success-light: #{colors.$color-v4-success-light};
    --success-main: #{colors.$color-v4-success-main};
    --success-main-8-p: #{colors.$color-v4-success-main-8-p};
    --success-main-50-p: #{colors.$color-v4-success-main-50-p};
    --success-dark: #{colors.$color-v4-success-dark};
    --success-darker: #{colors.$color-v4-success-darker};
    --success-outlined-border: #{colors.$color-v4-success-outlined-border};
    --success-contrast-text: #{colors.$color-v4-success-contrast-text};
    --success-button-contrast-text: #{colors.$color-v4-success-button-contrast-text};

    --warning-lighter: #{colors.$color-v4-warning-lighter};
    --warning-light: #{colors.$color-v4-warning-light};
    --warning-main: #{colors.$color-v4-warning-main};
    --warning-main-8-p: #{colors.$color-v4-warning-main-8-p};
    --warning-main-50-p: #{colors.$color-v4-warning-main-50-p};
    --warning-dark: #{colors.$color-v4-warning-dark};
    --warning-darker: #{colors.$color-v4-warning-darker};
    --warning-outlined-border: #{colors.$color-v4-warning-outlined-border};
    --warning-contrast-text: #{colors.$color-v4-warning-contrast-text};
    --warning-button-contrast-text: #{colors.$color-v4-warning-button-contrast-text};

    --error-lighter: #{colors.$color-v4-error-lighter};
    --error-light: #{colors.$color-v4-error-light};
    --error-main: #{colors.$color-v4-error-main};
    --error-main-8-p: #{colors.$color-v4-error-main-8-p};
    --error-main-50-p: #{colors.$color-v4-error-main-50-p};
    --error-dark: #{colors.$color-v4-error-dark};
    --error-darker: #{colors.$color-v4-error-darker};
    --error-outlined-border: #{colors.$color-v4-error-outlined-border};
    --error-contrast-text: #{colors.$color-v4-error-contrast-text};
    --error-button-contrast-text: #{colors.$color-v4-error-button-contrast-text};

    --aba: #{colors.$color-v4-aba};
    --abb: #{colors.$color-v4-abb};
}
/* endregion css variables */

