@import './vars/shadows';

.fusion-v4 {
    --box-shadowshadow-xs: #{$boxShadowV4-XS};
    --box-shadowshadow-sm: #{$boxShadowV4-SM};
    --box-shadowshadow-md: #{$boxShadowV4-MD};
    --box-shadowshadow-lg: #{$boxShadowV4-LG};
    --box-shadowshadow-xl: #{$boxShadowV4-XL};
    --box-shadowshadow-xxl: #{$boxShadowV4-XXL};
    --box-shadowshadow-xxxl: #{$boxShadowV4-XXXL};
    --box-shadowshadow-slg: #{$boxShadowV4-SLG};
}
