@import './vars/shadows';

.fusion-v4 {
    --box-shadow-xs: #{$boxShadowV4-XS};
    --box-shadow-sm: #{$boxShadowV4-SM};
    --box-shadow-md: #{$boxShadowV4-MD};
    --box-shadow-lg: #{$boxShadowV4-LG};
    --box-shadow-xl: #{$boxShadowV4-XL};
    --box-shadow-xxl: #{$boxShadowV4-XXL};
    --box-shadow-xxxl: #{$boxShadowV4-XXXL};
    --box-shadow-slg: #{$boxShadowV4-SLG};
}
