@import 'fonts';
@import 'colors';

%border-box-normalize {
    * {box-sizing: border-box;}
}

// resets
%reset {
    @extend %border-box-normalize; // add box-sizing
    margin: 0;
    padding: 0;
    vertical-align: initial;
    text-align: initial;
}

%list-reset {
    ul, ol {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
}

%no-pointer-events{
    pointer-events: none;
    cursor: default;
    touch-callout: none;
    user-select: none;
}

%truncate{
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


// scroll
$scrollWidth: 12px;
$scrollRadius: 2px;
$scrollRadiusTrack: 4px;
$scrollThumbWidth: 4px;
$scrollColor: $fu-light-500;
$scrollBackgroundColor: $White;
%customScroll{
    &::-webkit-scrollbar-track {
        border-radius: $scrollRadiusTrack;
        background-color: $scrollBackgroundColor;
    }

    &::-webkit-scrollbar {
        width: $scrollWidth;
        height: $scrollWidth;
        background-color: $scrollBackgroundColor;
    }

    &::-webkit-scrollbar-thumb {
        border: calc((#{$scrollWidth} - #{$scrollThumbWidth}) / 2) solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: $scrollRadius;
        background-color: $scrollColor;
    }
}
