<div class="fu-input-helper fu-variant-{{state}}" [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:fieldHelpTextTestIdModifiers.CONTAINER">
    @if(iconName) {
        <fusion-icon class="fu-helper-icon" [name]="iconName" [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:fieldHelpTextTestIdModifiers.ICON"></fusion-icon>
    }
    <div [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:fieldHelpTextTestIdModifiers.TEXT">{{ text }}</div>
</div>
