@import "../../src/style/scss/v2/vars/vars";
@import "../../src/style/scss/v2/mixins/mixins";

:host.fu-style-v3,
:host.fu-style-v2 {
    @extend %font-bodyStrong;
    line-height: 1.45;
    display: flex;

    position: absolute;
    z-index: getZIndexLayerOffset(system, 20);
    max-width: 382px;
    color: var(--tooltip-text-color, $White);
    background-color: var(--tooltip-background-color, $fu-dark-500);
    //word-wrap: break-word; // no word break in tooltip

    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 0 7px 0 rgba(12, 0, 51, 0.3);

    > .is-tooltip-content {
        white-space: normal;
        text-align: left;
    }

    @include icon-style('tooltip-icon', currentColor, 13px, false, true) {
        margin-right: 6px;
        margin-top: 1px;
        height: 16px;
        display: block;
    }

    .tooltip-icon {
        display: none;
    }

    &.is-position-top,
    &.is-position-bottom,
    &.is-position-left,
    &.is-position-right {
        &:after {
            border: none;
        }
    }
}
