<div class="fu-button-group-wrapper fu-size-{{size}} fu-color-{{color}}">
    <label class="fu-button-group-option" *ngFor="let option of options">
        <input type="radio"
               id="{{name}}__{{option.id}}"
               [name]="name"
               [checked]="option.id === selected?.id"
               (change)="setSelected(option)" />
        <fusion-icon *ngIf="option.icon" [name]="option.icon"></fusion-icon>
        <div *ngIf="option.label" class="fu-option-label-text">{{ option.label }}</div>
    </label>
</div>
