@import '../../../src/style/scss/v3/vars/vars';

:host {
/*    @extend %border-box-normalize;
    @extend %list-reset;
    .option {
        .is-dd-group {
            //@extend %font-label;
            text-transform: uppercase;
            color: $fu-light-900;
            background-color: $fu-light-200;
            border-radius: 4px;
            cursor: default;
            padding: 3px 8px;
            display: block;
            height: 24px;
            margin: 4px 0;
        }
    }
    li:first-child.option .is-dd-group{
        margin-top: 0;
    }*/
}
