<div class="mobile-previewer-wrapper" [style.width.px]="!isStaticSize ? width : configurations.staticComponentSize.width" [class.static-size]="isStaticSize">
    <div class="mobile-previewer-container" [style.height.px]="!isStaticSize ? height : configurations.staticComponentSize.height">
        <ng-container *ngIf="configurations.component || configurations.element; else isStaticSize ? staticSizeTemplate : template">
            <!--using refresh variable to refresh iframe when user change device-->
            <fusion-dynamic-components
                [element]="configurations.element"
                [component]="configurations.component?.type"
                [componentData]="configurations.component?.data"
                *ngIf="refresh"
            ></fusion-dynamic-components>
            <fusion-dynamic-components
                [element]="configurations.element"
                [component]="configurations.component?.type"
                [componentData]="configurations.component?.data"
                *ngIf="!refresh"
            ></fusion-dynamic-components>
        </ng-container>

        <ng-template #template>
            <ng-content></ng-content>
        </ng-template>

        <ng-template #staticSizeTemplate>
            <div class="content-container" [style.width.px]="calculatedContentSize.width" [style.height.px]="calculatedContentSize.height">
                <ng-content></ng-content>
            </div>
        </ng-template>
    </div>

    <div class="deviceSelectionFooter">
        <span class="selectedTitle">{{ selectedDevice }}</span>

        <span
            *ngFor="let device of devices"
            class="iconWrapper"
            [ngClass]="{selected: isDeviceSelected(device), landscape: isDeviceLandscape(device)}"
            (click)="selectDevice(device)"
        >
            <fusion-icon [class]="'icon-' + device" [name]="{iconName: device, iconVersion: (iconPrefix$ | async)}"></fusion-icon>
        </span>
    </div>
</div>
