<fusion-icon class="fu-search" [name]="searchIcon"></fusion-icon>
<input #input
       type="text"
       autocomplete="off"
       minlength="1"
       [placeholder]="placeholder"
       [formControl]="searchFormControl"
       [class.fu-has-clear-icon]="showClearIcon"
       [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:searchTestIdModifiers.INPUT"
/>
<fusion-icon class="fu-clear"
             *ngIf="showClearIcon && (searchFormControl.valueChanges | async)"
             [name]="clearIcon"
             [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:searchTestIdModifiers.CLEAR_BUTTON"
             (click)="clearInput(true)"
></fusion-icon>
