@import '../../../src/style/scss/vars/vars';
@import '../../../src/style/scss/vars/mixins';
@import '../../../src/style/scss/vars/border';
@import '../../../src/style/scss/vars/mixins';

@mixin calendar-circle($color, $border-radius) {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    background-color: $color;
    height: 28px;
    width: 28px;
    border-radius: $border-radius;
    display: block;
    margin: 2px;
}

@mixin calendar-dot($color) {
    content: '';
    background-color: $color;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 3px;
    border-radius: 45%;
    left: calc(50% - 2px);
}

:host:not(.fusion-style-v1) {
    @extend %reset;
    .calendar {
        width: 224px;
        @include user-select(none);
        border-spacing: 0;
    }

    .month {
        @extend %font-subtitle;
        color: $fu-dark-300;
        height: 40px;
    }

    .day-in-week th {
        @extend %font-body;
        color: $fu-dark-300;
        width: 32px;
        height: 24px;
    }

    .day {
        @extend %font-body;
        color: $fu-dark-300;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        text-align: center;
        cursor: pointer;
        @include size(32px);
        position: relative;

        span {
            position: relative;
        }

        .date-text {
            margin-right: 1px;
            top: 2px;
        }

        .selected {
            border: none;
        }

        &:not(.selected):not(.disabled):not(.hover-current):hover {
            &:before {
                @include calendar-circle($fu-primary-300, 50%);
                color: $fu-dark-700;

            }
        }

        &.selected:not(.active), &.hover-range:not(.active) {
            border: none;

            .selected-range {
                display: inline;
                cursor: pointer;
                width: 39px;
                position: absolute;
                top: 3px;
                left: -3px;
                height: 28px;
                background-color: $fu-primary-300;
            }

            .selected-range + span {
                color: $White;
            }

            &:last-child .selected-range {
                width: 33px;
            }

            &:first-child .selected-range {
                left: 3px;
                width: 30px;
            }
        }

        &.today:not(.selected):not(.active):not(.hover-current):after {
            @include calendar-dot($fu-primary-500);
        }

        &.today {
            &.selected, &.active, &.hover-current {
                &:after {
                    @include calendar-dot($White);
                }
            }
        }

        &.active {
            color: $White;
            background-color: transparent;

            &.selected.oneDaySelection {
                &:before {
                    @include calendar-circle($fu-primary-500, 50%);
                }
            }
        }

        &.selectedEnd:before {
            @include calendar-circle($fu-primary-500, 0 50% 50% 0);
        }

        &.hover-current {
            color: $White;

            &:before {
                @include calendar-circle($fu-primary-300, 0 50% 50% 0);
                left: 1px;
            }

            &:not(:first-child):before {
                left: -4px;
                width: 32px;
                border-radius: 0 49% 49% 0;
            }
        }

        &.selectedStart:before, &.active.selected.oneDaySelection.hover-range:before {
            @include calendar-circle($fu-primary-500, 50% 0 0 50%);
        }

        &.selectedDayAfterDay:not(:last-child).selectedStart:after {
            content: '';
            background-color: $fu-primary-500;
            width: 8px;
            height: 28px;
            position: absolute;
            display: block;
            top: 2px;
            right: -4px;
        }


        &.disabled{
            pointer-events: none;
            &:not(.selected) {
                color: $fu-light-900;
            }
        }
    }

}

.oneDaySelection.hover-range + .hover-current:not(.today):after {
    content: '';
    background-color: $fu-primary-500;
    width: 8px;
    height: 28px;
    position: absolute;
    display: block;
    top: 2px;
    left: -10px;
}
