fusion-icon {
    display: inline;
    color: inherit;
    svg {
        max-height: 100%;
        width: inherit;
        height: inherit;
    }
    &.loading {
        svg{
            * {
                fill: none !important;
            }
        }
    }
    &:not(.fu-colored) {
        svg {
            * {
                fill: currentColor;
            }
        }
    }
  }
