@import '../../../src/style/scss/v3/vars/vars';

:host {
    cursor: default;
    color: $fu-light-900;
    height: 40px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
