/// @deprecated Please use 'projects/fusion-ui/src/fusion-base/scss/mixins/_breakpoints.scss'
$mobileMinScreen: 320px;
$mobileMaxScreen: 1023px;
$tabletMinScreen: 1024px;
$tabletMaxScreen: 1279px;
$smallLaptopMinScreen: 1280px;
$smallLaptopMaxScreen: 1439px;
$largeLaptopMinScreen: 1440px;
$largeLaptopMaxScreen: 1919px;
$desktopMinScreen: 1919px;
$desktopMaxScreen: 2559px;
$hugeDesktopScreen: 2600px;
