@import "../../../src/style/scss/v3/vars/vars";
@import "../../../src/style/scss/v3/mixins/mixins";

:host {
    --fu-tooltip-background-color: #696A6B;
    @extend %font-bodySmallStrong;
    box-sizing: border-box;
    position: absolute;
    color: #ffff;
    border-radius: 8px;
    line-height: 19.5px;
    letter-spacing: 0.24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 7px;
    background-color: var(--fu-tooltip-background-color);
    border: none;


    &::after {
        content: '';
        position: absolute;
    }

    &.fu-tooltip-top::after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--fu-tooltip-background-color) transparent transparent transparent;
    }
    &.fu-tooltip-bottom::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent var(--fu-tooltip-background-color) transparent;
    }
    &.fu-tooltip-left::after {
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent var(--fu-tooltip-background-color);
    }
    &.fu-tooltip-right::after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent var(--fu-tooltip-background-color) transparent transparent;
    }
}
