@import "../../../src/style/scss/v3/vars/vars";
@import "../../../src/style/scss/v3/mixins/mixins";

$backgroundColor: $fu-black-200;

%arrowBorderVertical{
    content: '';
    position: absolute;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
}

%arrowBorderHorizontal {
    content: '';
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

:host {
    @extend %font-bodySmallStrong;
    box-sizing: border-box;
    position: fixed;
    width: fit-content;
    color: #ffff;
    border-radius: 8px;
    line-height: 19.5px;
    letter-spacing: 0.24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--fu-tooltip-padding, 8px 8px 7px) ;
    background-color: var(--fu-tooltip-background-color, $backgroundColor);
    z-index: getZIndexLayerOffset(system, 20);

    box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.16);
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));


    &.fu-tooltip-top::after {
        top: 100%;
        left: 50%;
        @extend %arrowBorderHorizontal;
        border-color: var(--fu-tooltip-background-color, $backgroundColor) transparent transparent transparent;
    }
    &.fu-tooltip-bottom::after {
        bottom: 100%;
        left: 50%;
        @extend %arrowBorderHorizontal;
        border-color: transparent transparent var(--fu-tooltip-background-color, $backgroundColor) transparent;
    }
    &.fu-tooltip-left::after {
        top: 50%;
        left: 100%;
        @extend %arrowBorderVertical;
        border-color: transparent transparent transparent var(--fu-tooltip-background-color, $backgroundColor);
    }
    &.fu-tooltip-right::after {
        top: 50%;
        right: 100%;
        @extend %arrowBorderVertical;
        border-color: transparent var(--fu-tooltip-background-color, $backgroundColor) transparent transparent;
    }
    &.fu-tooltip-topright::after {
        top: 100%;
        left: calc(100% - 20px);
        @extend %arrowBorderHorizontal;
        border-color: var(--fu-tooltip-background-color, $backgroundColor) transparent transparent transparent;
    }

    &.fu-tooltip-topleft::after {
        top: 100%;
        left: 20px;
        @extend %arrowBorderHorizontal;
        border-color: var(--fu-tooltip-background-color, $backgroundColor) transparent transparent transparent;
    }

    &.fu-tooltip-bottomright::after {
        bottom: 100%;
        left: calc(100% - 20px);
        @extend %arrowBorderHorizontal;
        border-color: transparent transparent var(--fu-tooltip-background-color, $backgroundColor) transparent;
    }

    &.fu-tooltip-bottomleft::after {
        bottom: 100%;
        left: 20px;
        @extend %arrowBorderHorizontal;
        border-color: transparent transparent var(--fu-tooltip-background-color, $backgroundColor) transparent;
    }
}
