<div class="title" *ngIf="title">{{ title }} ({{ options && options.length }})</div>
<div [id]="id" class="is-list-holder" [class]="options && options.length ? mode : ''" [ngClass]="{'is-disabled': isDisabled}">
    <ul>
        <li *ngFor="let option of options; trackBy: trackByOption">
            <div class="option">
                <fusion-icon [name]="checkIconName$ | async" class="checkIcon"></fusion-icon>
                <span class="option-label truncate" [fusionTooltip]="option[mappingOptions?.displayText]">{{
                    option[mappingOptions?.displayText]
                }}</span>
                <fusion-icon
                    [name]="removeIconName$ | async"
                    class="removeIcon"
                    (click)="removeOption(option, $event)"
                    *ngIf="!isDisabled"
                ></fusion-icon>
            </div>
        </li>
    </ul>
</div>
