@import '../../src/style/scss/v2/vars/mixins';
@import '../../src/style/scss/v2/vars/vars';
@import '../../src/style/scss/v2/vars/border';

$iconsWidth: 46px;
$optionHeight: 32px;
$optionLargerHeight: 40px;

:host.fu-style-v2 {
    @extend %reset;
    height: 100%;
    width: 100%;
    @extend %list-reset;

    .is-list-holder {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        display: block;
        @extend %customScroll;
        .option {
            height: $optionHeight;
            border-bottom: 1px solid $fu-light-300;
            padding: 0 10px;
            color: $fu-light-800;
            display: flex;
            align-items: center;
            @include icon-style('removeIcon', $fu-light-500, 14px, false, true) {
                height: 14px;
                cursor: pointer;
                margin-left: auto;
                margin-right: -1px;
                display: flex;
                align-items: center;
            }
            @include icon-style('removeIcon', $fu-light-800, 14px, false, true, 0, true);
            @include icon-style('checkIcon', $fu-light-800, 12px, false, true) {
                margin-right: 10px;
                height: 14px;
                display: flex;
                align-items: center;
            }
            .option-label {
                @extend %font-body;
                letter-spacing: 0.04px;
                width: calc(100% - #{$iconsWidth});
                line-height: 14px;
            }
            &:hover {
                background-color: $fu-light-100;
            }
        }

        &.frame {
            border-radius: 10px;
            border: solid 1px $fu-light-300;
            padding: 5px 0px 6px 11px;
            overflow: initial;
            ul {
                overflow-y: scroll;
                overflow-x: hidden;
                height: 100%;
                @extend %customScroll;
                li {
                    margin-right: -10px;
                    .removeIcon {
                        margin-right: 8px;
                    }
                    &:last-child {
                        .option {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    .truncate {
        @extend %truncate;
    }
    .title {
        @extend %font-bodyStrong;
        line-height: 1.33;
        color: $fu-light-900;
        margin-bottom: 8px;
    }
    .is-disabled {
        .option {
            &:hover {
                background-color: $White;
            }
        }
    }
    &.large .is-list-holder ul li .option{
        height: $optionLargerHeight;
        padding: 10px;
    }
}
