@import "../../src/style/scss/v2/vars/vars";
@import '../../src/style/scss/v2/mixins/mixins';

:host.fu-style-v3,
:host.fu-style-v2 {
    input[type='radio'] {
        display: none;
    }

    input[type='radio'] + label {
        @extend %font-body;
        color: $fu-dark-300;
        user-select: none;
        cursor: pointer;

        span {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin: -2px 4px 0 0;
            vertical-align: middle;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Ccircle cx='7' cy='7' r='6' fill='%23FFF' fill-rule='evenodd' stroke='%23A9AFB4' stroke-width='2'/%3E%3C/svg%3E") left top no-repeat;
            cursor: pointer;
        }
    }

    input[type='radio']:checked + label {
        span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(-1 -1)'%3E%3Ccircle cx='8' cy='8' r='7' fill='%233083FF'/%3E%3Ccircle cx='8' cy='8' r='2' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E") left top no-repeat;
        }
    }

    input[type='radio']:disabled + label {
        color: $fu-light-900;
        cursor: default;

        span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Ccircle cx='8' cy='8' r='6' fill='none' stroke='%23D2D5D8' stroke-width='2' transform='translate(-1 -1)'/%3E%3C/svg%3E") left top no-repeat;
            cursor: default;
        }
    }

    input[type='radio']:disabled:checked + label {
        cursor: default;

        span {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(-1 -1)'%3E%3Ccircle cx='8' cy='8' r='7' fill='%23B7BBC0'/%3E%3Ccircle cx='8' cy='8' r='2' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E") left top no-repeat;
            cursor: default;
        }
    }

    label {
        @include icon-style('fu-radio-icon', $fu-light-900, 14px, false, true) {
            padding: 0 4px;
            vertical-align: sub;
        }
    }
}
