@import '../../src/style/scss/v2/vars/vars';
@import '../../src/style/scss/v2/vars/mixins';

:host.fu-style-v2 {
    .loader-inline {
        display: inline-flex;
        margin-left: 5px;
        align-items: center;
        height: 16px;
        color: $fu-light-900;
        &.blue{
            color: $fu-primary-500;
        }
        &.white{
            color: $White;
        }
        @include icon-style('loader-dots-v4', currentColor, (width: 25px), false, true){
            display: flex;
            align-items: center;
        }

        .loader-txt {
            @extend %font-body;
            padding-left: 14px;
        }

        .loader-v1{
            display: none;
        }
    }
}
