<div class="inline-input-wrapper">
    <div
        [ngClass]="{'is-currency': isTypeCurrency, hidden: isEditMode$ | async, 'is-readonly': readOnly}"
        class="truncate is-label"
        [fusionTooltip]="viewOnlyText + savedValueToString"
    >
        <span class="viewOnlyText" *ngIf="viewOnlyText">{{ viewOnlyText }}</span
        ><span [ngClass]="textClass">{{ savedValueToString }}</span>
        <fusion-icon
            *ngIf="!readOnly"
            class="icon-edit"
            fusionTooltip="Edit"
            [name]="configByStyle.iconEdit"
            (click)="goToEditMode()"
        ></fusion-icon>
    </div>
    <div [hidden]="(isEditMode$ | async) === false" [ngClass]="{'is-edit-mode': isEditMode$ | async, 'is-loading': loading}">
        <fusion-input
            #inputComponent
            style="--fu-validation-error-right: 0;"
            class="is-underline"
            [type]="inputType"
            [sanitationRegex]="sanitationRegex"
            [error]="error"
            [errorType]="errorType"
            [units]="inputUnits"
            unitPos="left"
            [options]="{size: 'small'}"
            (ngEscape)="cancel()"
            [isDisabled]="loading"
            [formControl]="inputControl"
        ></fusion-input>
        <fusion-icon class="icon-save" [name]="configByStyle.iconSave" (click)="save()" *ngIf="!loading && !error"></fusion-icon>
        <fusion-loader [status]="loading" [size]="configByStyle.loadingSize"></fusion-loader>
    </div>
</div>
