@import '../../../../../src/style/scss/v4/mixins/mixins';
@import '../../../../../src/style/scss/v4/vars/vars';
@import '../../../../../src/style/scss/v4/vars/layout';

:host {
    @extend %reset;
    height: $pageHeaderHeight;
    max-height: $pageHeaderHeight;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    .fu-header-back-button{
        @include size(40px);
        padding: 8px;
        margin-left: 16px;
        border-radius: 20px;
        @include icon-style('fu-header-back-button-icon', var(--text-secondary, #{$color-v4-text-secondary}), 24px, true, true){
            @include size(24px);
        }
        &:hover{
            background-color: var(--action-hover, #{$color-v4-action-hover});
            cursor: pointer;
        }
    }
    .fu-page-title {
        @extend %font-v4-heading-2;
        margin-left: 24px;
        margin-right: 32px;
        color: var(--text-primary, #{$color-v4-text-primary});

        &.fu-page-has-subtitle{
            margin-right: 10px;
        }
        &.fu-page-has-button-back{
            margin-left: 12px;
        }
    }
    .fu-header-delimiter{
        @include size(3px);
        border-radius: 2px;
        background-color: var(--text-primary, #{$color-v4-text-primary});
        margin-right: 8px;
    }
    .fu-page-subtitle{
        @extend %font-v4-body-2;
        margin-right: 32px;
        color: var(--text-primary, #{$color-v4-text-primary});
    }

    .fu-action-wrapper-after-teleports{
        order: 1;
    }

    .fu-flex-align-right{
        margin-left: auto;
    }
}
