@import '../../../../../src/style/scss/v4/mixins/mixins';
@import '../../../../../src/style/scss/v4/vars/vars';
@import '../../../../../src/style/scss/v4/vars/layout';
@import '../../../../../src/style/scss/v4/colors';
@import '../../../../../src/style/scss/v4/spacings';

$topRowPadding: 8px 18px;
$topRowHeight: 56px;
$drilldownHeight: 72px;

%backButton {
    @include size(40px);
    padding: 8px;
    margin-left: 16px;
    border-radius: 20px;
    @include icon-style('fu-header-back-button-icon', var(--text-secondary, #{$color-v4-text-secondary}), 24px, true, true){
        @include size(24px);
    }
    &:hover{
        background-color: var(--action-hover, #{$color-v4-action-hover});
        cursor: pointer;
    }
}

:host {
    @extend %reset;
    background: var(--background-default, #{$color-v4-background-default});
    &:not(.fu-multiline-header){
        .fu-header-main-row{
            height: $pageHeaderHeight;
            max-height: $pageHeaderHeight;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;

            .fu-header-back-button{
                @extend %backButton;
            }
            .fu-page-title {
                @extend %font-v4-heading-2;
                margin-left: 24px;
                margin-right: 32px;
                color: var(--text-primary, #{$color-v4-text-primary});

                &.fu-page-has-subtitle{
                    margin-right: 10px;
                }
                &.fu-page-has-button-back{
                    margin-left: 12px;
                }
            }
            .fu-header-delimiter{
                @include size(3px);
                border-radius: 2px;
                background-color: var(--text-primary, #{$color-v4-text-primary});
                margin-right: 8px;
            }
            .fu-page-subtitle{
                @extend %font-v4-body-2;
                margin-right: 32px;
                color: var(--text-primary, #{$color-v4-text-primary});
            }

            .fu-action-wrapper-after-teleports{
                order: 1;
            }
        }
    }
    &.fu-multiline-header{
        .fu-header-main-row{
            display: flex;
            padding: 24px 24px 8px 24px;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            .fu-header-back-button,
            .fu-page-subtitle,
            .fu-header-delimiter,
            .fu-header-action-wrapper{
                display: none;
            }
            .fu-page-title{
                @extend %font-v4-heading-1;
                color: var(--text-primary, #{$color-v4-text-primary});
            }

            &.fu-header-drilldown{
                height: $drilldownHeight;
                max-height: $drilldownHeight;
                gap: 8px;
                .fu-header-back-button{
                    display: initial;
                    @extend %backButton;
                    margin-left: 0;
                }
            }
            /* todo: remove this after approving
            &.fu-has-top-row{
                padding-top: 28px;
            }
            */
        }
        .fu-header-top-row{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(---spacing-150, #{$spacingV4-150});
            height: $topRowHeight;
            padding: $topRowPadding;
            border-bottom: 1px solid var(--common-divider, #{$color-v4-common-divider});
            &[hidden]{
                display: none;
            }
            #pageHeaderTopTeleportSlot{
                display: flex;
                width: 100%;
            }
        }
        .fu-header-bottom-row{
            display: flex;
            align-items: center;
            align-content: center;
            gap: var(---spacing-50, #{$spacingV4-50});
            flex-wrap: wrap;
            padding: 0px var(---spacing-300, #{$spacingV4-300}) var(---spacing-200, #{$spacingV4-200});
            &[hidden]{
                display: none;
            }
            #pageHeaderBottomTeleportSlot{
                display: flex;
                width: 100%;
            }
        }
        &:has(.fu-header-main-row.fu-header-drilldown){
            .fu-header-top-row,
            .fu-header-bottom-row{
                display: none;
            }
        }
    }
    .fu-flex-align-right{
        margin-left: auto;
    }

}

// for header storybook
:host-context(.header-only-story){
    .fu-header-teleport-host{
        display: flex;
        &.fu-flex-align-right{
            &:after{
                content: '#fuHeaderTeleportRight';
                margin: auto;
                color: #005BE2;
            }
        }
        &:after{
            content: '#fuHeaderTeleport';
            color: #005BE2;
        }
    }
    #pageHeaderTopTeleportSlot:not(:has(.fu-skeleton)){
        &:after{
            content: '#pageHeaderTopTeleportSlot';
            color: #005BE2;
        }
    }
    #pageHeaderBottomTeleportSlot{
        &:after{
            content: '#pageHeaderBottomTeleportSlot';
            color: #005BE2;
        }
    }
}
