@import '../../../../../src/style/scss/v4/mixins/mixins';
@import '../../../../../src/style/scss/v4/vars/vars';

$headerHeight: 64px;

:host {
    @extend %reset;
    height: $headerHeight;
    max-height: $headerHeight;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    .fu-page-title {
        @extend %font-heading-4;
        margin-left: 24px;
        margin-right: 32px ;
        color: $fu-nav-text-primary;
    }
    .fu-flex-align-right{
        margin-left: auto;
    }
}
