@import '../../../../../styles/vars';

:host {
    box-sizing: border-box;
    width: 450px;
    height: 188px;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.15);
    padding: 24px 24px 20px;
    color: $fu-light-900;
    background-color: #ffffff;
    .is-header {
        position: relative;
        @include icon-style('close', $fu-light-700, 12px, false, true) {
            cursor: pointer;
            position: absolute;
            right: -11px;
            top: -13px;
        }
    }
    .is-content{
        padding: 6px 0;
        line-height: 1.7;
        text-align: justify;
    }
    .is-footer{
        a{
            text-decoration: none;
            padding: 14px 0;
        }
    }
}
