@import '../../src/style/scss/v1/vars/mixins';
@import '../../src/style/scss/v1/vars/vars';

:host {
    position: relative;
    display: inline-block;
    @include size(13px);
    .green {
        color: var(--icon-status-color-green, #{$positive-500});
    }
    .grey {
        color: var(--icon-status-color-grey, #{$light-900});
    }
    .red {
        color: var(--icon-status-color-red, #{$negative-500});
    }
    .orange {
        color: var(--icon-status-color-orange, #{$neutral-700});
    }

    @include icon-style('status-icon', currentColor, 9px, true, true);

    &.is-animated{
        @include icon-style('status-icon', currentColor, 14px, true, true){
            position: absolute;
            top: -2px;
        }
    }
}
