/* You can add global styles to this file, and also import other style files */
@import './styles/vars.scss';

body {
    font: 13px/20px $body;
    color: $dark-300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}


.doc-page {
    padding: 30px;
}

.component-description {
    @extend %font-bodyLarge;
}

.example-content {
    display: inline-flex;
    gap: 20px;
    padding: 5px 0;
    label {
        display: block;
        @extend %font-bodySmallStrong;
        padding-left: 5px;
        margin-bottom: 5px;
    }
    &.dark-bg{
        label {
            color: $White;
        }
    }
}

.docs-tabs-holder{
    margin-bottom: 20px;
}


// override bootstrap grid padding & margin
/*.row{
    padding: 0;
    margin: 0;

    [class^="col"] {
        &:first-child{
            padding-left: 0;
            margin-left: 0;
        }

        &:last-child{
            padding-right: 0;
            margin-right: 0;
        }
    }
}*/




