@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/vars/border';
@import '../../../src/style/scss/v3/mixins/mixins';

:host {
    @extend %border-box-normalize;
    @extend %list-reset;
    position: relative;
    background: $White;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 8px;
    @extend %font-bodySmall;
    color: $fu-black-500;
    cursor: pointer;

    @include icon-style('fu-option-icon', $fu-light-600, 16px, false, true){
        @include size(16px);
    }

    img{
        @include size(20px);
        @extend %image-masked;
    }

    .fu-text-content {
        @extend %truncate-flex-child;
        .sub-text-container{
            line-height: 13px;
            color: $fu-light-900;
            @extend %font-caption;
        }
    }

    @include icon-style('fu-option-action-icon', $fu-light-600, 16px, false, true){
        @include size(16px);
        margin-left: auto;
    }
    @include icon-style('fu-option-action-icon', $fu-light-800, 16px, false, true, 0, true);

    &:hover {
        background: $fu-light-50;
    }

    &.is-has-children {
        color: $fu-light-900;
        @include icon-style('icon-arrow', $fu-light-600, 16px, true, true, -90) {
            @include size(16px);
            margin-left: auto;
        }

        .is-subgroup-options {
            display: none;
        }

        &.is-open {
            @include icon-style('icon-arrow', $fu-light-600, 16px, true, true, 360);
            padding-bottom: 0;
            margin-bottom: 2px;

            .fu-flex-row-break{
                flex-basis: 100%;
                height: 0;
            }

            .is-subgroup-options {
                flex-basis: calc(100% + 18px);
                display: block;
                margin: 0 -10px;
                padding-top: 4px;
                background-color: $White;
                .option {
                    ::ng-deep fusion-dropdown-option {
                        padding-left: 16px;
                    }
                }
            }

            &:hover {
                background: $fu-light-50;
            }
        }
    }
}

:host-context(li.option.is-selected){
    background-color: $fu-primary-100;
    color: $fu-primary-500;
    @include icon-style('fu-option-icon', $fu-primary-400, 16px, false, true);
    @include icon-style('fu-option-action-icon', $fu-primary-400, 16px, false, true);
    @include icon-style('fu-option-action-icon', $fu-primary-500, 16px, false, true, 0, true);
    .sub-text-container{
        label {
            color: $fu-primary-400;
        }
    }
}
:host-context(li.option.is-disabled){
    color: $fu-light-800;
    cursor: default;
    @include icon-style('fu-option-icon', $fu-light-600, 16px, false, true);
    .sub-text-container{
        label {
            color: $fu-light-800;
        }
    }
}
:host-context(li.option.is-with-second-line){
    height: 48px;
}
