@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/vars/border';
@import '../../../src/style/scss/v3/mixins/mixins';

$minWidth: 85px;
$borderRadius: 8px;

$optionHeight: 32px;
$optionsToShow: 8;
$optionGroupHeight: 24px;


// region dropdown options holder location
%location {
    &.options-locate-right {
        left: auto;
    }

    &.options-locate-left {
        right: auto;
    }
}
// endregion

:host {
    @extend %reset;
    @extend %list-reset;
    display: inline;
    min-width: $minWidth;
    line-height: 20px;

    .is-dropdown,
    .is-tags-holder {
        position: relative;

        // dropdown options base
        .options-dropdown {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(100% + 4px);
            min-width: var(--dropdown-overlay-min-width, 180px);
            max-height: 0;
            background: $White;
            box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.2);
            border: solid 1px $fu-light-300;
            border-radius: $borderRadius;
            display: none;
            @extend %location;
            .options-holder {
                padding: 4px;
                overflow: hidden;
                overflow-y: auto;
                @extend %customScroll;

                .fu-option-title{
                    height: 48px;
                    @extend %font-bodyMediumStrong;
                    color: $fu-black-500;
                    padding: 12px;
                    border-bottom: solid 1px $fu-light-400;
                    margin: 0 -4px;
                }
                .fu-search-holder{
                    height: 40px;
                    padding: 9px 12px 12px;
                    border-bottom: solid 1px $fu-light-400;
                    margin: 0 -4px;
                }
            }
        }

        // dropdown options opened
        &.dd-opened {
            .options-dropdown {
                display: block;
                visibility: hidden;
                overflow-y: auto;
                z-index: getZIndexLayerOffset(application, 1);
                max-height: calc(#{$optionHeight} * #{$optionsToShow} + 8px); // 8 options + padding 2*3 and border 2*1
                overflow-x: hidden;

                &.dd-disabled {
                    display: none;
                }
                // use search or auto-complete input
                &.dd-confirm {
                    max-height: calc(#{$optionHeight} * #{($optionsToShow + 1)} + 12px); //  8 options + search + padding 2*3 and border 2*1
                }

                // move it to the right component - dropdown options list
                .options-holder {
                   .options .is-hidden {
                        display: none;
                    }

                    // no-result panel (used with search or auto-complete input)
                    .options .no-results {
                        @extend %font-body;
                        background: none;
                        cursor: default;
                        padding: 8px 10px;
                        height: 32px;
                        color: $fu-light-900;
                    }
                }

                &.dd-scroll {
                    .options-holder {
                        padding-bottom: 0;
                        height: 100%;
                        max-height: calc(
                            #{$optionHeight} * (#{$optionsToShow} - 1) + (#{$optionHeight} / 2) + 5px
                        ); // 7.5 options + padding 1*3 and border 2*1
                    }
                }
            }
        }


        // multi-select bottom action panel
        .dd-actions {
            text-align: right;
            background-color: $White;
            padding: 8px 7px 7px 7px;
            border-top: solid 1px $fu-light-300;
            button + button {
                margin-left: 2px;
            }
        }

        // multi-select
        &.is-multiselect {
            &.dd-opened {
                .options-dropdown {
                    max-height: calc(#{$optionHeight} * #{($optionsToShow + 1)} + 8px);
                    &.dd-confirm {
                        max-height: calc(#{$optionHeight} * #{($optionsToShow + 1)} + 45px);
                    }
                    &.dd-scroll {
                        .options-holder {
                            padding-bottom: 0;
                            height: 100%;
                            max-height: calc(#{$optionHeight} * #{($optionsToShow - 1)} + (#{$optionHeight} / 2) + 5px);
                        }
                    }

                    .options-holder {
                        .options.multi {
                            li {
                                height: $optionHeight;
                                border-radius: $borderRadius;
                                padding: 0 8px;
                                .is-option-label {
                                    position: relative;
                                    @extend %font-body;
                                    cursor: pointer;
                                    display: block;
                                    color: $fu-dark-700;
                                    height: 100%;
                                    padding: 8px 0;
                                    fusion-checkbox{
                                        margin-right: 8px;
                                    }
                                    // option image (application image)
                                    img {
                                        @include size(20px);
                                        max-width: 20px;
                                        border-radius:  4px;
                                        vertical-align: middle;
                                        margin-right: 10px;
                                        margin-top: -2px;
                                    }
                                    @include icon-style('icon', $fu-light-600, 13px, false, true) {
                                        margin-right: 6px;
                                        vertical-align: sub;
                                        display: inline-block;
                                    }
                                    fusion-flag {
                                        margin-right: 6px;
                                    }
                                    &.has-icon{
                                        padding-right: 20px;
                                    }
                                    &.truncate{
                                        @extend %truncate;
                                    }
                                }
                                &.is-group{
                                    padding: 8px;
                                    height: $optionGroupHeight;
                                    background-color: $fu-light-200;
                                    border-radius: 4px;
                                    margin: 4px 0;
                                    &:first-child{
                                        margin-top: 0;
                                    }
                                    .is-dd-group {
                                        //@extend %font-label;
                                        text-transform: uppercase;
                                        color: $fu-light-900;
                                        cursor: default;
                                        display: block;
                                        height: $optionGroupHeight;
                                        margin: -5px 0;
                                    }
                                }
                                &.is-has-children {
                                    position: relative;
                                    color: $fu-light-900;
                                    border: solid 1px transparent;
                                    cursor: pointer;
                                    padding-left: 13px;
                                    > div{
                                        margin-top: 5px;
                                    }
                                    @include icon-style('option-icon-arrow', $fu-light-900, 8px, true, true, -90) {
                                        position: absolute;
                                        right: 7px;
                                        top: 5px;
                                    }
                                    .is-subgroup-options{
                                        display: none;
                                        margin: 5px -10px 0 -14px;
                                        padding-top: 4px;
                                        background-color: #FFF;
                                        .is-option-label{
                                            display: flex;
                                            align-content: center;
                                            align-items: center;
                                            padding-left: 5px;
                                            fusion-checkbox{
                                                margin: -5px 5px 0 5px;
                                            }
                                            > span{
                                                margin-top: 1px;
                                            }
                                        }
                                    }
                                    &.is-open{
                                        height: 100%;
                                        @include icon-style('option-icon-arrow', $fu-light-900, 8px, false, true, 360);
                                        .is-subgroup-options{
                                            display: block;
                                        }

                                    }
                                }
                                &.no-results{
                                    padding: 8px 10px;
                                    &:hover{
                                        background-color: $White;
                                    }
                                }

                                &:hover {
                                    background-color: $fu-light-100;
                                }
                            }
                        }
                    }
                }
            }
            &.is-icon-right-position.dd-opened {
                .options-dropdown .options-holder .options.multi li {
                    .is-option-label {
                        @include icon-style('icon', $fu-light-500, 13px, true, true) {
                            position: absolute;
                            right: -3px;
                            top: 8px;
                        }
                    }
                    &:hover {
                        .is-option-label{
                            @include icon-style('icon', $fu-light-700, 13px, false, true)
                        }
                    }
                }
            }
        }

        &.dd-disabled,
        &.dd-readonly {
            cursor: not-allowed;
        }
    }

    .fu-error-msg{
        @extend %font-caption;
        color: $fu-negative-700;
        margin-top: 3px;
    }
    .fu-helper-text{
        @extend %font-caption;
        color: $fu-black-200;
        margin-top: 3px;
    }

    &.fu-options-position-up{
        .is-dropdown,
        .is-tags-holder.dd-opened {
            .options-dropdown{
                top: inherit;
                bottom: calc(100% + 2px);
            }
        }
    }
}

:host-context(.fu-items-top){
    .is-dropdown{
        .options-dropdown {
            top: 0;
        }
    }
}


:host-context(fusion-chip-filter){
    .is-dropdown .options-dropdown {
        top: -4px;
        min-width: 200px;
    }
}
