<div
    class="is-dropdown"
    [id]="id"
    [style.width]="placeholderWidth"
    [clickOutsideActivate]="isOpen$ | async"
    (fusionClickOutside)="onOutsideClick($event)"
    [ngClass]="getHolderCSSClasses()"
>
    <div *ngIf="templateRef"  (click)="openDropdown($event)">
        <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
    </div>

    <ng-container *ngIf="!templateRef" [ngTemplateOutlet]="defaultTrigger"></ng-container>

    <ng-template #defaultTrigger>
        <fusion-dropdown-select
            [class.is-icon-right-position]="this.isIconRightPosition"
            (searchValueChanged)="searchValue.setValue($event)"
            (click)="openDropdown($event)"
            [configurations]="dropdownSelectConfigurations$ | async"
            #selectComponent
        >
        </fusion-dropdown-select>
    </ng-template>
    <div class="options-dropdown" [class.options-locate-left]="isLocatedLeft" [class.options-locate-right]="isLocatedRight" [ngClass]="{'dd-disabled': isDisabled, 'dd-confirm': search || autoComplete, 'dd-scroll': hasScroll}">
        <!--dropdown options holder-->
        <div class="options-holder" (scroll)="onScroll($event)" #optionsHolder>
            <ul class="options">
                <!--elements shown without selector-->
                <ng-container *ngIf="templateRef">
                    <li *ngIf="optionsTitle" class="fu-option-title">{{optionsTitle}}</li>
                    <!--search input-->
                    <ng-container *ngIf="(dropdownSelectConfigurations$ | async) as configurations">
                        <li class="fu-search-holder">
                            <fusion-dropdown-search class="fu-search-in-options"
                                                    *ngIf="configurations.isSearch && configurations.isOpen"
                                                    [formControl]="searchValue"
                                                    [placeholder]="configurations.placeholder?.search"
                                                    #searchComponent
                            ></fusion-dropdown-search>
                        </li>
                    </ng-container>
                    <!--search input-->
                </ng-container>
                <!--elements shown without selector-->
                <!--options-->
                <fusion-dropdown-options-list
                    [displayedOptions]="displayedOptionsObservable$ | async"
                    [isMultiRawDisplay]="isMultiRawDisplay"
                    [mappingOptions]="mappingOptions"
                    [selected]="selected"
                    [optionCloseIcon]="optionCloseIcon"
                    (closeIconClicked)="onCloseIconClicked($event)"
                    (changeSelected)="changeSelected($event)"
                ></fusion-dropdown-options-list>
                <!--loader holder-->
                <li [fusionDropdownLoader]="(autoComplete || search) && loading"></li>
                <!--no-result holder-->
                <li class="no-results" *ngIf="!filteredOptions?.length && !loading">No results found</li>
            </ul>
        </div>
    </div>
</div>
<!--errors holder-->
<div class="fu-error-msg" *ngIf="error">{{ error }}</div>
<!--helper holder-->
<div class="fu-helper-text" *ngIf="helper">{{helper}}</div>
