@import '../../../../styles/vars';

:host{
  .is-color-primary-500{ background-color: $primary-500;  }
  .is-color-primary-200{ background-color: $primary-200;  }
  .is-color-primary-100{ background-color: $primary-100;  }

  .is-color-dark-500{ color: $White;  background-color: $dark-500;  }
  .is-color-dark-400{ color: $White;  background-color: $dark-400;  }
  .is-color-dark-300{ color: $White;  background-color: $dark-300;  }
  .is-color-dark-100{ color: $White;  background-color: $dark-100;  }

  .is-color-light{ background-color: $light;}
  .is-color-light-900{ background-color: $light-900;}
  .is-color-light-800{ background-color: $light-800;}
  .is-color-light-700{ background-color: $light-700;}
  .is-color-light-600{ background-color: $light-600;}
  .is-color-light-500{ background-color: $light-500;}
  .is-color-light-400{ background-color: $light-400;}
  .is-color-light-300{ background-color: $light-300;}
  .is-color-light-200{ background-color: $light-200;}
  .is-color-light-100{ background-color: $light-100;}

  .is-color-negative-500{background-color: $negative-500;  }
  .is-color-negative-100{background-color: $negative-100;  }
  .is-color-negative-200{background-color: $negative-200;  }
  .is-color-negative-300{background-color: $negative-300;  }

  .is-color-neutral-500{background-color: $neutral-500;  }
  .is-color-neutral-100{background-color: $neutral-100;  }
  .is-color-neutral-200{background-color: $neutral-200;  }
  .is-color-neutral-700{background-color: $neutral-700;  }

  .is-color-positive-500{background-color: $positive-500;  }
  .is-color-positive-100{background-color: $positive-100;  }
  .is-color-positive-200{background-color: $positive-200;  }
  .is-color-positive-300{background-color: $positive-300;  }

  .is-dark-300{color: $dark-300};
  .is-light-800{color: $light-800};
  .is-light-900{color: $light-900};
  .is-primary-500{color: $primary-500};
  .is-negative-500{color: $negative-500};
  .is-positive-500{color: $positive-500};
  .is-neutral-500{color: $neutral-500};

  fusion-example-block {
    margin-bottom: 25px;
  }
}
