@import '../../../src/style/scss/v1/vars/vars';
@import '../../../src/style/scss/v1/mixins/mixins';

// inline (actions, in buttons....)
$inlineLoaderImgSize: 13px;
$inlineLoaderTextColor: $light-800;
$inlineLoaderImgColor: $light-800;

:host {
    .loader-inline {
        display: inline-flex;
        margin-left: 5px;
        vertical-align: middle;
        height: $inlineLoaderImgSize;

        //fusion-icon {
        //    ::ng-deep svg {
        //        @include size(15px);
        //        * {
        //            fill: none !important;
        //        }
        //        symbol#loading {
        //            circle {
        //                stroke: currentColor !important;
        //            }
        //        }
        //    }
        //}

        .loader-txt {
            @extend %font7;
            margin-top: -3px;
            padding-left: 4px;
            color: $inlineLoaderTextColor;
        }

        //.loader-v2{
        //    display: none;
        //}
    }
}
