<div [id]="id" (fusionClickOutside)="onOutsideClick($event)">

    <div class="selection" (click)="toggle()" [ngClass]="{isOpen: isOpen}">
        <fusion-icon [name]="{iconName: 'calendar-2', iconVersion: 'v1'}"></fusion-icon>
        <span>{{ currentSelectionFormatted }}</span>
        <fusion-icon [name]="{iconName: 'arrow-right', iconVersion: 'v1'}" class="arrow-icon"></fusion-icon>
    </div>


    <div class="overlay" #overlay *ngIf="isOpen" [class]="overlayAlign$ | async"
         [ngClass]="{visible: (overlayAlign$ | async), isOpen: isOpen, singleDatePicker: isSingleDatePicker, noPresets: !isPresetsShown}">
        <div class="presetsWrap" *ngIf="isPresetsShown">
            <ng-container [ngTemplateOutlet]="presetsHeaderTemplate || defaultPreset"></ng-container>
            <ng-template #defaultPreset>
                <ul>
                    <li
                        *ngFor="let preset of options.presets"
                        (click)="selectPreset(preset)"
                        [ngClass]="{selected: currentPreset === preset}"
                    >
                        {{ daterangeService.getPresetName(preset) }}
                    </li>
                </ul>
            </ng-template>
        </div>
        <div class="rightSide">
            <div class="calendarsWrap" [ngClass]="{large: options.size === 'large'}">
                <div class="prev" (click)="onMonthChange('previous')">
                    <fusion-icon class="icon-prev" [name]="pevIconName"></fusion-icon>
                </div>

                <fusion-calendar
                    *ngFor="let month of currentMonths"
                    (daySelected)="onSelectDay($event)"
                    [configuration]="getCalendarConfigurations(month)"
                >
                </fusion-calendar>

                <div class="next" (click)="onMonthChange('next')">
                    <fusion-icon class="icon-next" [name]="nextIconName"></fusion-icon>
                </div>
            </div>
            <fusion-modal-footer
                *ngIf="!isSingleDatePicker"
                (onSave)="apply()"
                (onCloseButtonClicked)="close()"
                saveButtonText="Apply"
            ></fusion-modal-footer>
        </div>
    </div>
</div>
