<div class="modal-footer">
    <span class="fu-error-message" [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:modalTestIdModifiers.MODAL_ERROR">{{ error }}</span>
    <fusion-button class="fu-secondary-button"
        [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:modalTestIdModifiers.MODAL_CANCEL_BUTTON"
        [class]="cancelButtonClass"
        (click)="closeButtonClicked.emit()"
        *ngIf="!cancelButtonHidden"
    >
        {{ cancelButtonText }}
    </fusion-button>
    <fusion-button class="fu-primary-button"
        [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:modalTestIdModifiers.MODAL_SUBMIT_BUTTON"
        [class]="submitButtonClass"
        [loading]="submitButtonPending"
        [disabled]="submitButtonDisabled || !!error"
        (click)="primaryButtonClicked.emit()"
    >
        {{ submitButtonText }}
    </fusion-button>
</div>
