<div class="modal-footer">
    <span class="fu-error-message">{{ error }}</span>
    <fusion-button class="fu-secondary-button"
        [class]="cancelButtonClass"
        (click)="onCloseButtonClicked.emit()"
        *ngIf="!cancelButtonHidden"
    >
        {{ cancelButtonText }}
    </fusion-button>
    <fusion-button class="fu-primary-button"
        [class]="submitButtonClass"
        [loading]="submitButtonPending"
        [disabled]="submitButtonDisabled || !!error"
        (click)="onSubmit.emit()"
    >
        {{ submitButtonText }}
    </fusion-button>
</div>
