@import '../../../../../src/style/scss/v3/vars/colors';
@import '../../../../../src/style/scss/v3/vars/fonts';
@import '../../../../../src/style/scss/v3/mixins/mixins';
@import '../../modal_vars';


%border-box-normalize{
    * {
        box-sizing: border-box;
    }
}

$borderTop: 1px solid $fu-light-400;
$padding: 20px 30px;

:host {
    @extend %border-box-normalize;
    .modal-footer {
        border-top: $borderTop;
        padding: $padding;
        box-sizing: border-box;

        div.footer {
            text-align: right;
            fusion-button {
                & + fusion-button {
                    margin-left: 7px;
                }
            }
        }
        .is-error-message {
            @extend %font-body;
            font-size: 13px;
            color: $fu-negative-500;
            margin-right: 10px;
        }
    }
}
