@import '../../../../../src/style/scss/v1/vars/vars';
@import '../../../../../src/style/scss/v2/mixins/mixins';

:host {
    .link-container {
        position: absolute;
        right: 21px;
    }
    a.fu-menu-item-link {
        text-decoration: none;
        color: var(--layout-menu-item-color,$light-100);
        font-size: 13px;
        font-weight: 400;
        label{
            cursor: pointer;
        }
    }

    &.active{
        a.fu-menu-item-link{
            color: var(--layout-menu-item-active-color, $primary);
            label{
                cursor: default;
            }
        }
    }

    @include icon-style(null, currentColor, 15px, false, true) {
        left: 20px;
        top: 17px;
        position: absolute;
    }
}

:host-context(fusion-menu.collapsed) {
    label {
        transition: opacity .3s ease;
        opacity: 0;
    }
}

:host-context(fusion-menu.collapsed.opened) {
    label {
        opacity: 1;
    }
}
