@import '../../../../src/style/scss/v4/mixins/mixins';
@import '../../../../src/style/scss/v4/vars/vars';

$primaryMenuWidth: 64px;
$secondaryMenuWidth: 200px;
$secondaryMenuLogoHolderHeight: 64px;
$secondaryMenuItemHeight: 28px;
$secondaryMenuItemTitleHeight: 36px;
$secondaryMenuItemIconSize: 18px;
$secondaryMenuItemParentIconSize: 20px;
$secondaryMenuItemOpenCloseIconSize: 12px;
$secondaryMenuItemNewTabIconSize: 16px;

:host {
    @extend %reset;
    display: block;
    background-color: var(--fu-secondary-menu-background-color, $fu-nav-secondary);
    border-right: solid 1px $fu-divider;
    margin-left: -1px;
    width: 0px;
    max-width: $secondaryMenuWidth;
    transition: width .45s ease-out;

    .fu-secondary-menu-holder {
        .fu-logo-holder {
            position: fixed;
            z-index: getZIndexLayerOffset(application, 2);
            top: 0px;
            left: calc(-1 * $secondaryMenuWidth);
            transition: left .45s ease-out;

            height: $secondaryMenuLogoHolderHeight;
            display: flex;
            align-items: center;
            padding-left: 20px;

            img {
                max-width: $secondaryMenuWidth;
                max-height: $secondaryMenuLogoHolderHeight;
            }
        }

        .fu-secondary-menu {
            opacity: 0;
            transition: opacity .25s ease-out;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 12px 24px;
            margin-top: 64px;

            overflow-y: auto;
            overflow-x: hidden;
            max-height: calc(100vh - $secondaryMenuLogoHolderHeight);
            @extend %customNavBarScroll;

            .fu-secondary-menu-item-wrapper{
                width: 100%;
                .fu-secondary-menu-item-holder {
                    width: 100%;
                    height: $secondaryMenuItemHeight;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 4px 8px;
                    gap: 14px;
                    cursor: pointer;
                    margin-bottom: 2px;
                    border: solid 1px transparent;
                    text-decoration: none;

                    &.fu-secondary-menu-item-selected {
                        border: solid 1px $fu-nav-menu-black-8;
                        border-radius: 4px;
                        background-color: $fu-nav-menu-black-5;
                        cursor: default;
                        pointer-events: none;
                    }

                    &.fu-nav-menu-title-item {
                        height: $secondaryMenuItemTitleHeight;
                        cursor: default;
                        pointer-events: none;
                        .fu-secondary-menu-item-icon-holder{
                            display: none;
                        }
                        .fu-secondary-menu-item-label {
                            @extend %font-v4-chip-label;
                            color: $fu-nav-text-secondary;
                        }
                    }

                    &:hover {
                        border-radius: 4px;
                        background-color: $fu-nav-menu-black-5;
                    }

                    &.fu-has-sub-items {
                        gap: 12px;
                        .fu-secondary-menu-item-icon-holder {
                            @include size($secondaryMenuItemParentIconSize);
                            @include icon-style('fu-secondary-menu-item-icon', $fu-nav-text-primary, $secondaryMenuItemParentIconSize, true, true) {
                                @include size($secondaryMenuItemParentIconSize);
                            }
                        }

                    }

                    .fu-secondary-menu-item-icon-holder {
                        @include size($secondaryMenuItemIconSize);
                        @include icon-style('fu-secondary-menu-item-icon', $fu-nav-text-primary, $secondaryMenuItemIconSize, true, true) {
                            @include size($secondaryMenuItemIconSize);
                        }
                    }

                    .fu-secondary-menu-item-label {
                        @extend %font-v4-subtitle-2;
                        color: $fu-nav-text-primary;
                    }

                    @include icon-style('fu-secondary-menu-item-new-tab-icon', $fu-nav-text-primary, $secondaryMenuItemNewTabIconSize, true, true){
                        @include size($secondaryMenuItemNewTabIconSize);
                        margin-left: -10px;
                    }
                    @include icon-style('fu-secondary-menu-item-parent-icon-toggle', $fu-nav-text-primary, $secondaryMenuItemOpenCloseIconSize, true, true){
                        @include size($secondaryMenuItemOpenCloseIconSize);
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                        cursor: pointer;
                    }

                    &.fu-sub-items-opened {
                        @include icon-style('fu-secondary-menu-item-parent-icon-toggle', $fu-nav-text-primary, $secondaryMenuItemOpenCloseIconSize, true, true, 90);
                    }
                }
                .fu-secondary-menu-sub-items-holder{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    transition: max-height, .45s cubic-bezier(0, 1, 0, 1);
                    max-height: 0px;
                    overflow-y: hidden;

                    &.fu-secondary-menu-sub-items-opened{
                        max-height: calc(100vh - $secondaryMenuItemHeight);
                        transition: max-height, 1s ease-out;
                    }

                    .fu-secondary-menu-item-holder{
                        .fu-secondary-menu-item-label {
                            @extend %font-v4-body-2;
                        }
                    }
                }
            }

            .truncate {
                @extend %truncate;
                width: initial;
            }
        }

    }

    &.fu-menu-open {
        width: $secondaryMenuWidth;
        .fu-secondary-menu-holder {
            .fu-logo-holder {
                left: $primaryMenuWidth;
            }
            .fu-secondary-menu {
                opacity: 1;
            }
        }
    }

    &.fu-menu-expanded{
        position: fixed;
        top: 0;
        left: $primaryMenuWidth;
        height: 100vh;
        z-index: getZIndexLayerOffset(application, 3);
    }
}
