<div class="fu-secondary-menu-holder">
    <div class="fu-logo-holder">
        <img *ngIf="menuLogoSrc" src="{{menuLogoSrc}}" alt="{{menuName}}">
    </div>
    <div class="fu-secondary-menu">
        <ng-container *ngFor="let item of menuItems">
            <ng-container *ngTemplateOutlet="menuItem;context: {item: item}"></ng-container>
        </ng-container>
    </div>
</div>


<!--region menu items templating-->
<ng-template #menuItem let-item="item">
    <!--region menu item-->
    <div class="fu-secondary-menu-item-wrapper">
        <!--region menu first level item-->
        <div class="fu-secondary-menu-item-holder"
             [ngClass]="item.cssClass"
             [class.fu-nav-menu-title-item]="item.isGroupName"
             [class.fu-has-sub-items]="!!item.children"
             [class.fu-secondary-menu-item-selected]="item === (selectedMenuItem$ | async)"
             [class.fu-sub-items-opened]="!item.closed"
             (click)="onMenuItemClicked($event, item)"
        >
            <ng-container *ngTemplateOutlet="menuItemLink; context: {item: item}"></ng-container>
        </div>
        <!--endregion menu first level item-->
        <!--region second level (child) items-->
        <ng-container *ngIf="item?.children">
            <div class="fu-secondary-menu-sub-items-holder" [class.fu-secondary-menu-sub-items-opened]="!item.closed">
                <div *ngFor="let itemChild of item.children"
                     class="fu-secondary-menu-item-holder"
                     [ngClass]="itemChild.cssClass"
                     [class.fu-nav-menu-title-item]="item.isGroupName"
                     [class.fu-has-sub-items]="!!itemChild.children"
                     [class.fu-secondary-menu-item-selected]="itemChild === (selectedMenuItem$ | async)"
                     (click)="onMenuItemClicked($event, itemChild)"
                >
                    <ng-container *ngTemplateOutlet="menuItemLink; context: {item: itemChild}"></ng-container>
                </div>
            </div>
        </ng-container>
        <!--endregion submenu items-->
    </div>
    <!--endregion menu item-->
</ng-template>
<!--endregion menu items templating-->

<!--region menu item link-->
<ng-template #menuItemLink let-item="item">
    <div class="fu-secondary-menu-item-icon-holder">
        <fusion-icon *ngIf="item.icon" class="fu-secondary-menu-item-icon" [name]="item.icon"></fusion-icon>
    </div>
    <div class="fu-secondary-menu-item-label truncate" [fusionTooltip]="item.name">{{item.name}}</div>
    <fusion-icon *ngIf="!!item.children"
                 class="fu-secondary-menu-item-parent-icon-toggle"
                 [name]="itemChildToggleIcon"
    ></fusion-icon>
    <fusion-icon *ngIf="!!item.target"
                 class="fu-secondary-menu-item-new-tab-icon"
                 [name]="itemNewTabIcon"
    ></fusion-icon>
</ng-template>
<!--endregion menu item link-->
