<div class="fu-secondary-menu-holder">
    <div class="fu-logo-holder">
        <fusion-svg *ngIf="menuLogoSrc" [path]="menuLogoSrc"></fusion-svg>
    </div>
    <div class="fu-secondary-menu">
        <ng-container *ngFor="let item of menuItems">
            <ng-container *ngTemplateOutlet="menuItem;context: {item: item}"></ng-container>
        </ng-container>
    </div>
</div>


<!--region menu items templating-->
<ng-template #menuItem let-item="item">
    <!--region menu item-->
    <div class="fu-secondary-menu-item-wrapper">
        <!--region menu first level item-->
        <ng-container  *ngTemplateOutlet="(item.route || item.redirect) ? menuItemLink : menuItemDiv; context: {item: item}"></ng-container>
        <!--endregion menu first level item-->
        <fusion-icon-button *ngIf="item.additionalAction as additionalAction"
                            class="fu-secondary-menu-quick-action"
                            size="extraSmall"
                            [iconName]="additionalAction.icon ?? 'ph/bold/plus'"
                            [fusionTooltip]="additionalAction.name"
                            [configuration]="quickActionTooltipConfiguration"
                            (click)="onMenuItemClicked($event, additionalAction)"
        ></fusion-icon-button>
        <!--region second level (child) items-->
        <ng-container *ngIf="item?.children">
            <div class="fu-secondary-menu-sub-items-holder" [class.fu-secondary-menu-sub-items-opened]="!item.closed">
                <ng-container  *ngFor="let itemChild of item.children">
                    <ng-container  *ngTemplateOutlet="(itemChild.route || itemChild.redirect) ? menuItemLink : menuItemDiv; context: {item: itemChild}"></ng-container>
                </ng-container>
            </div>
        </ng-container>
        <!--endregion submenu items-->
    </div>
    <!--endregion menu item-->
</ng-template>
<!--endregion menu items templating-->

<!--region menuitem-->
<ng-template #menuItemDiv  let-item="item">
    <div class="fu-secondary-menu-item-holder"
         [ngClass]="item.cssClass"
         [class.fu-nav-menu-title-item]="item.isGroupName"
         [class.fu-has-sub-items]="!!item.children"
         [class.fu-secondary-menu-item-selected]="item === (selectedMenuItem$ | async)"
         [class.fu-sub-items-opened]="!item.closed"
         (click)="onMenuItemClicked($event, item)"
    >
        <ng-container *ngTemplateOutlet="menuItemInnerContent; context: {item: item}"></ng-container>
    </div>
</ng-template>
<!--endregion menuitem-->

<!--region menuitem with navigation-->
<ng-template #menuItemLink  let-item="item">
    <a class="fu-secondary-menu-item-holder"
         [href]="item.route || item.redirect"
         [target]="item.target ?? '_self'"
         [ngClass]="item.cssClass"
         [class.fu-nav-menu-title-item]="item.isGroupName"
         [class.fu-has-sub-items]="!!item.children"
         [class.fu-secondary-menu-item-selected]="item === (selectedMenuItem$ | async)"
         [class.fu-sub-items-opened]="!item.closed"
         (click)="onMenuItemClicked($event, item)"
    >
        <ng-container *ngTemplateOutlet="menuItemInnerContent; context: {item: item}"></ng-container>
    </a>
</ng-template>
<!--endregion menuitem with navigation-->

<!--region menu item elements-->
<ng-template #menuItemInnerContent let-item="item">
    <div class="fu-secondary-menu-item-icon-holder" *ngIf="item.icon">
        <fusion-icon class="fu-secondary-menu-item-icon" [name]="item.icon"></fusion-icon>
    </div>
    <div class="fu-secondary-menu-item-label truncate" [fusionTooltip]="item.name">{{item.name}}</div>
    <fusion-icon *ngIf="!!item.children"
                 class="fu-secondary-menu-item-parent-icon-toggle"
                 [name]="itemChildToggleIcon"
    ></fusion-icon>
    <fusion-icon *ngIf="!!item.target"
                 class="fu-secondary-menu-item-new-tab-icon"
                 [name]="itemNewTabIcon"
    ></fusion-icon>
</ng-template>
<!--endregion menu item elements-->
