@import "../../../../../src/style/scss/v1/vars/vars";
@import "../../../../../src/style/scss/v1/mixins/mixins";
@import "../../../../../src/style/scss/v1/vars/colors";

:host {
  &:hover{
    background-color: $light-200;
  }
  &.is-selected {
    background-color: $primary-100;
  }
  &.is-row-disabled {
    td {
      color: $light-800;
      pointer-events: none;
      fusion-icon{
        opacity: 0.6;
      }
    }
  }
}
