/*!
 * Created on 2020.4.20 By Andy Kononenko (andyk@ironsrc.com)
 */

@import "../../src/style/scss/v2/vars/vars";

:host.fu-style-v2{
    .fusion-error {
        margin-top: 5px;
        line-height: 14px;
        @extend %font-captionRegular;
        color: $fu-negative-700;
    }
}
