@import '../../../src/style/scss/v2/vars/vars';

:host.fu-style-v3,
:host.fu-style-v2 {
    cursor: default;
    color: $fu-light-900;
    padding: 5px 10px;
    height: 32px;
    background: #fff;
    position: relative;
    display: block;
    fusion-loader-inline{
        position: absolute;
        right: 13px;
        top: 4px;
    }
}
