@import '../../../src/style/scss/v1/vars/colors';
@import '../../../src/style/scss/mixins/mixins';

:host.fu-style-v1 {
    cursor: default;
    color: $light-800;
    padding: 5px 15px 5px 5px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: inherit;
}
