@import '../../src/style/scss/vars/vars';

:host {
    .canvas-holder{
        height: var(--chart-canvas-height, 100%);
        position: relative;
        canvas{
            position: absolute;
        }
        .summary-holder{
            position: absolute;
            display: block;
            text-align: center;
            top: 45%;
            width: 100%;
            &.fu-summary-with-label{
                top: 38%;
            }
        }
    }
    .chart-nodata{
        text-align: center;
        height: var(--chart-canvas-height, 100%);
        padding-top: 148px;
        .no-data-img{
            display: none;
        }
    }
}
