@import '../../../../styles/vars';

:host{
    .row{
        margin-bottom: 20px;
        label, .fu-label{
            @extend %font-label;
            color: $fu-dark-200;
            margin-bottom: 10px;
        }
    }
}
