@import '../../../../../src/style/scss/v2/vars/vars';
@import '../../../../../src/style/scss/v2/vars/border';
@import '../../../../../src/style/scss/v2/mixins/mixins';

:host {
    .is-dropdown-dual-multi-select-header {
        @extend %border-box-normalize;
        height: 48px;
        width: 528px;
        border-bottom: 1px solid #e5e7e9;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .fu-search-bar {
            padding: 0 8px;
        }
        .fu-label{
            font-size: 13px;
            padding-left: 9px;
            font-family: $groteskDSPro75Bd;
            font-weight: 900;
        }
    }
}
