@import '../../../src/style/scss/v3/vars/colors';
@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/vars/border';
@import '../../../src/style/scss/v3/mixins/mixins';

$clearIconColor: #DADADA;

%icons-positions{
    position: absolute;
    right: -15px;
    top: 2px;
}

:host {
    .search-panel {
        position: relative;
        @include icon-style('fu-icon-search', $fu-light-700, 16px, true, true){
            @extend %icons-positions;
            @include size(16px);
        }
        @include icon-style('fu-icon-clear', $clearIconColor, 16px, true, true){
            @extend %icons-positions;
            @include size(16px);
            cursor: pointer;
        }
        input {
            @extend %font-bodySmall;
            letter-spacing: 0.24px;
            border: none;
            outline: none;
            background-color: transparent;
            color: $fu-black-500;
            width: 100%;

            &::placeholder {
                color: $fu-light-800;
            }
        }
    }
    &.fu-search-in-options{
        .search-panel{
            input {
                margin-left: 16px;
                width: calc(100% - 16px - 16px);
            }
            .fu-icon-search{
                left: -2px;
                top: 3px;
            }
            .fu-icon-clear {
                right: -5px;
                top: 4px;
            }
        }
    }
}
