@import '../../../src/style/scss/v3/vars/colors';
@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/vars/border';
@import '../../../src/style/scss/v3/mixins/mixins';

$clearIconColor: #DADADA;

:host {
    .search-panel {
        position: relative;
        margin-bottom: 10px;
        padding-right: 5px;
        @include icon-style('fu-icon-search', $fu-light-700, 16px, true, true){
            position: absolute;
            right: -15px;
            top: 2px;
        }
        @include icon-style('fu-icon-clear', $clearIconColor, 16px, true, true){
            position: absolute;
            right: -15px;
            top: 2px;
        }
        input {
            @extend %font-bodySmall;
            letter-spacing: 0.24px;
            border: none;
            outline: none;
            background-color: transparent;
            color: $fu-black-500;
            width: 100%;

            &::placeholder {
                color: $fu-light-800;
            }
        }
    }
}
