@import '../../../src/style/scss/v3/vars/colors';
@import '../../../src/style/scss/v3/vars/border';

:host {
    .search-panel {
        color: white;
        border: none;
        background-color: transparent;
        margin-left: -8px;
        margin-right: -25px;
    }
    pointer-events: none;
}
