<div class="is-dropdown-dual-multi-select-header">
    <div class="fu-label-holder">
        <span class="fu-label">{{title}}</span>
    </div>
    <div class="fu-search-holder" (click)="setFocusToInput()">
        <div class="fu-search-bar">
            <fusion-icon class="fu-icon-search" [name]="searchIcon"></fusion-icon>
            <input #input
                   [attr.data-testid]="testId+'--'+testIdIncludeExcludeModifiers.SEARCH_INPUT"
                   autocomplete="off"
                   minlength="1"
                   [placeholder]="'Search'"
                   [formControl]="searchControl"
            />
            <fusion-icon class="fu-icon-clear" *ngIf="input.value" [name]="searchClearIcon" (click)="clearSearch()"></fusion-icon>
        </div>
    </div>
</div>
