@import '../../../../../src/style/scss/v3/vars/vars';
@import '../../../../../src/style/scss/v3/vars/border';
@import '../../../../../src/style/scss/v3/mixins/mixins';

$clearIconColor: #DADADA;

:host {
    .is-dropdown-dual-multi-select-header {
        @extend %border-box-normalize;
        height: 55px;
        width: 100%;
        border-bottom: 1px solid $fu-light-400;
        display: flex;
        align-items: center;
        .fu-search-holder {
            height: 100%;
            width: 100%;
            flex-grow: 2;
            border-left: 1px solid $fu-light-400;
            display: flex;
            align-items: center;
            .fu-search-bar {
                width: 100%;
                margin: 0 24px 0 16px;
                display: flex;
                align-content: center;
                position: relative;
                fusion-icon.fu-icon-search {
                    color: $fu-light-700;
                    @include size(16px);
                }
                fusion-icon.fu-icon-clear {
                    color:$fu-light-500;
                    @include size(16px);
                    cursor: pointer;
                    &:hover{
                        color: $fu-light-800;
                    }
                }
                input{
                    @extend %font-bodySmall;
                    letter-spacing: 0.24px;
                    line-height: 15.51px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: $fu-black-500;
                    height: 16px;
                    width: calc(100% - 32px);
                    padding-left: 7px;
                    &::placeholder {
                        color: $fu-light-800;
                    }
                }
            }
        }
        .fu-label-holder {
            height: 100%;
            display: flex;
            align-items: center;
            .fu-label{
                white-space: nowrap;
                color: $fu-black-500;
                @extend %font-bodyMediumStrong;
                padding: 0 24px;
            }
        }

    }
}
