@import '../../../src/style/scss/v1/vars/colors';
@import "../../../src/style/scss/v1/vars/border";

:host.fu-style-v1 {
  .search-panel {
    color: white;
    position: relative;
    height: 40px;
    padding: 0 10px;
    @extend %borderBottom;
  }
}
