@import '../../../src/style/scss/v2/vars/colors';
@import '../../../src/style/scss/v2/vars/border';

:host.fu-style-v3,
:host.fu-style-v2 {
    .search-panel {
        color: white;
        border: none;
        background-color: transparent;
        margin-left: -8px;
        margin-right: -25px;
    }
}
