<div class="is-datepicker">
  <div *ngIf="dropDownStyle; else inputStyle">
    <div class="is-datepicker-select" (click)="onInputFocus()" [ngClass]="{'is-disabled': isDisabled}">
      <label class="truncate">
        <fusion-icon [name]="{iconName:'calendar-2', iconVersion: 'v2'}"></fusion-icon>
        {{label}}</label>
    </div>
  </div>
  <ng-template #inputStyle>
    <fusion-input *ngIf="!dropDownStyle"
                  [icon]="{iconName: 'calendar-2', iconVersion:'v2'}"
                  [isDisabled]="isDisabled"
                  formControlName="dateVal"
                  [placeholder]="'YYYY-MM-DD'"
                  (ngFocus)="onInputFocus()"
                  [error]="error"></fusion-input>
  </ng-template>
</div>
