@import '../../../src/style/scss/vars/vars';
@import '../../../src/style/scss/vars/mixins';
@import '../../../src/style/scss/vars/border';

$datepickerWidth: 250px;
$partsLeftMargin: 20px;

.is-datepicker{
  display: inline-block;
  width: $datepickerWidth;
  vertical-align: bottom;
  .is-datepicker-select{
    label{
      @extend %font12;
      color: $dark-300;
      cursor: pointer;
      display: block;
      border-radius: 3px;
      background-image: linear-gradient(to bottom, #fff, $light-300);
      border: 1px solid $light-500;
      height: 32px;
      line-height: 30px;
      padding-left: 10px;
      position: relative;
      @extend %truncate;
      &:after {
        @extend %drop-arrow
      };
      @include icon-style('calendar-2', $light-800, 15px, true, true){
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
    &.is-disabled{
      label{
        color: $light-800;
        cursor: default;
        &:after {
          border-color: $light-700 transparent transparent;
        }
      }
    }
  }
  .fu-input-holder{
    &:after {
      @extend %drop-arrow
    }
    &.is-disabled{
      &:after {
        border-color: $light-700 transparent transparent;
      }
    }
  }
}
