@import '../../../../../src/style/scss/v2/vars/vars';
@import '../../../../../src/style/scss/v2/mixins/mixins';

$monthPickerHeight: 40px;
$monthPickerBorder: solid 1px $fu-light-500;
$monthPickerBorderRadius: 4px;
$monthPickerPadding: 12px;
$monthPickerErrorBGColor: $fu-negative-100;


:host {
    @extend %border-box-normalize;
    height: var(--fu-month-picker-height, #{$monthPickerHeight});
    border: none;
    border-radius: var(--fu-month-picker-border-radius, #{$monthPickerBorderRadius});
    color: var(--fu-month-picker-color, #{$fu-dark-500});
    background-color:  var(--fu-month-picker-background-color, #{$fu-light-100});
    @extend %font-body;
    padding: $monthPickerPadding;

    @include icon-style('icon-arrow', var(--fu-month-picker-arrow-icon-color, #{$fu-dark-200}), var(--fu-month-picker-arrow-icon-size, 8px), true, true) {
        position: absolute;
        right: 12px;
    }

    .fu-calendar-icon{
        display: none;
    }

    &.fu-opened {
        @include icon-style('icon-arrow', var(--fu-month-picker-arrow-icon-color, #{$fu-dark-200}), var(--fu-month-picker-arrow-icon-size, 8px), true, true, 180);
        border-bottom: var(--fu-month-picker-opened-border-bottom, solid 2px #{$fu-primary-500});
        padding-bottom: 10px;
    }

    &.fu-disabled {
        color: var(--fu-month-picker-disabled-color, #{$fu-light-900});
        @include icon-style('icon-arrow', var(--fu-month-picker-arrow-icon-disabled-color, #{$fu-light-700}), var(--fu-month-picker-arrow-icon-size, 8px), true, true);
    }

    .fu-value-selected {
        margin-left: 3px;
    }
}

:host-context(.ng-invalid){
    background-color:  var(--fu-month-picker-invalid-background-color, #{$monthPickerErrorBGColor});
    &.fu-opened {
        background-color:  var(--fu-month-picker-background-color, #{$fu-light-100});
    }
}
