@import '../../../../src/style/scss/v4/colors';
@import '../../../../src/style/scss/v4/spacings';
@import '../../../../src/style/scss/v4/border-radius';
@import '../../../../src/style/scss/v4/vars/fonts';

:host {
    margin: 0;
    padding: 0;
    user-select: none;
    .fu-tab-content{
        box-sizing: border-box;
        min-height: var(--spacing-600, #{$spacingV4-600});
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-100, #{$spacingV4-100});
        padding: var(--spacing-200, #{$spacingV4-200}) var(--spacing-300, #{$spacingV4-300});
        @extend %font-v4-tab-label-1;
        color: var(--action-active, #{$color-v4-action-active});
        &:hover{
            cursor: pointer;
            color: var(--text-primary, #{$color-v4-text-primary});
        }
    }
    &[tab-disabled],
    &[tab-selected]{
        pointer-events: none;
        touch-callout: none;
    }

    &[tab-disabled] .fu-tab-content{
        color: var(--action-disabled, #{$color-v4-action-disabled});
        cursor: default;
    }
    &[tab-selected] .fu-tab-content{
        @extend %font-v4-tab-label-2;
        color: var(--text-primary, #{$color-v4-text-primary});
        border-bottom: 2px solid var(--primary-main, #{$color-v4-primary-main});
        cursor: default;
        padding-bottom: calc(var(--spacing-200, #{$spacingV4-200}) - 2px);
    }
}

:host-context(.fu-tabs-page) {
    margin-bottom: -1px;
    .fu-tab-content{
        padding: var(--spacing-200, #{$spacingV4-200}) 0;
    }
    &[tab-selected] .fu-tab-content{
        padding-bottom: calc(var(--spacing-200, #{$spacingV4-200}) - 2px);
    }
}
