@import '../../../../src/style/scss/v4/colors';
@import '../../../../src/style/scss/v4/spacings';
@import '../../../../src/style/scss/v4/border-radius';
@import '../../../../src/style/scss/v4/vars/fonts';

$paddingAll: 16px 24px;
$paddingVerticalOnly: 16px 0;
$tabInnerGap: 8px;

:host {
    margin: 0;
    padding: 0;
    user-select: none;

    .fu-tab-content{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $tabInnerGap;

        padding: $paddingAll;
        @extend %font-v4-tab-label-1;
        color: var(--action-active, #{$color-v4-action-active});
        &:hover{
            cursor: pointer;
            color: var(--text-primary, #{$color-v4-text-primary});
        }
        &.fu-on-page{
            padding: $paddingVerticalOnly;
        }
    }
    &[tab-disabled],
    &[tab-selected]{
        pointer-events: none;
        touch-callout: none;
    }

    &[tab-disabled] .fu-tab-content{
        color: var(--action-disabled, #{$color-v4-action-disabled});
        cursor: default;
    }
    &[tab-selected] .fu-tab-content{
        padding-bottom: 14px;
        @extend %font-v4-tab-label-2;
        color: var(--text-primary, #{$color-v4-text-primary});
        border-bottom: 2px solid var(--primary-main, #{$color-v4-primary-main});
        cursor: default;
    }
}
