@import '../../../../../src/style/scss/v3/vars/vars';
@import '../../../../../src/style/scss/v3/mixins/mixins';

$v3-rowTotalsHeight: 32px;
$v3-rowSmallHeight: 32px;
$v3-rowDefaultHeight: 48px;
$v3-rowBigHeight: 48px;
$v3-bodyBorder: 1px solid $fu-light-400;
$v3-cellColor: $fu-black-500;
$v3-cellActionIconSize: 16px;


:host {
    position: relative;
    padding: 0 16px;
    height: $v3-rowDefaultHeight;
    @extend %font-bodySmall;
    color: $v3-cellColor;
    word-break: break-all;
    max-width: 350px;
    border-top: $v3-bodyBorder;
    border-bottom: $v3-bodyBorder;
    &:first-child {
        border-left: none;
    }
    &:last-child {
        border-right: none;
    }
    & > div {
        line-height: 1;
        vertical-align: middle;
        &.right {
            text-align: right;
            float: none;
        }
        &.center {
            text-align: center;
        }
        &.checkbox-cell {
            margin: 0 auto;
            text-align: center;
            height: 14px;
        }
    }

    .is-ellipsis-rows-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &.is-inline-removable {
        div.fu-cell-action-button {
            @include size(32px);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.24);
            background-color: $White;
            border-radius: 32px;
            position: absolute;
            right: 12px;
            top: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            visibility: hidden;
            @include icon-style('fu-table-action-icon', $fu-light-900, $v3-cellActionIconSize, false, true){
                @include size($v3-cellActionIconSize);
            }
            @include icon-style('fu-table-multi-action-icon', $fu-light-900, 24px, false, true){
                @include size(24px);
            }
        }
    }

    @include icon-style('infoRowIcon', $v3-cellColor, 11px, false, true) {
        visibility: hidden;
        position: absolute;
        right: 25px;
        top: 8px;
    }

    .loader-holder {
        position: relative;
        top: 9px;
        width: 20px;
    }
    .truncate{
        @extend %truncate;
    }
}

:host-context(.is-row-height-big) {
    height: $v3-rowBigHeight;
    div.fu-cell-action-button {
        top: 10px;
    }
}
/*
:host-context(.is-row-height-small) {
    height: $v3-rowSmallHeight;
    div.fu-cell-action-button {
        top: 4px;
    }
}
*/
:host-context(tr:hover).is-inline-removable {
    div.fu-cell-action-button {
        visibility: visible;
    }
}
:host-context(tr.is-with-totals) {
    height: $v3-rowTotalsHeight;
    @extend %font-bodySmallStrong;
    letter-spacing: .5px;
}
