@import '../../../../styles/vars';

:host {
    .is-dropdown-holder {
        width: 100%;
        margin-bottom: 30px;
        &.fixed-width{
            width: 280px;
            display: inline-block;
            margin-right: 15px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .is-page-header-actions-holder{
        height: 40px;
        border-bottom: solid 1px $light-500;
        margin: -61px -15px 0 -15px;
        padding: 0;
        &.row{
            div[class*="col-"]{
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
    .is-sublabel{
        @extend %font11;
        color: $light-800;
        margin-bottom: 5px;
        display: block;
    }
}
