@import '../../../src/style/scss/v1/vars/vars';

:host {
    @extend %list-reset;
    @extend %border-box-normalize;
    .option {
        .is-dd-group {
            @extend %font10;
            text-transform: uppercase;
            color: $light-800;
            background-color: $light-300;
            cursor: default;
            padding: 5px 11px 4px;
            display: block;
            line-height: 1;
        }

        ::ng-deep .is-id {
            @extend %font13;
            color: $light-800;
        }
    }
}
