@import '../../../../src/style/scss/v4/mixins/mixins';
@import '../../../../src/style/scss/v4/vars/vars';
@import '../../../../src/style/scss/v4/vars/borders';

$menuWidth: 296px;
$userIconSize: 32px;
$menuItemHeight: 32px;
$menuItemIconSize: 20px;
$menuItemHoverColor: #F5F5F5;


:host{
    @extend %reset;
    display: block;
    position: absolute;
    z-index: getZIndexLayerOffset(application, 4);
    bottom: 0;
    left: 0;
    .fu-pop-menu{
        display: block;
        width: $menuWidth;
        padding: 0 8px;
        background-color: $fu-nav-menu-white-100;
        box-shadow: $boxShadowV4-LG;
        border-radius: $borderRadius;

        .truncate{
            @extend %truncate;
        }

        .fu-pop-menu-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 14px 16px 14px 8px;
            gap: 16px;
            border-bottom: $borderLine;
            height: 72px;

            .fu-user-icon-holder{
                display: flex;
                align-items: center;
                justify-items: center;
                @include icon-style('fu-user-icon', $color-v4-action-active, $userIconSize, true, true) {
                    @include size($userIconSize);
                }
                .fu-user-avatar{
                    @include size($userIconSize);
                    border: solid 1px $fu-nav-text-primary;
                    border-radius: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .fu-user-data-holder{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                width: calc(#{$menuWidth} - 88px); // 88px = 8px +8px + 32px + 16px + 16px + 8px
                .fu-user-name{
                    cursor: default;
                    @extend %font-v4-heading-4;
                    color: $color-v4-text-primary;
                }
                .fu-user-email{
                    cursor: default;
                    @extend %font-v4-caption;
                    color: $color-v4-text-secondary;
                }
            }
        }

        a {
            text-decoration: none;
        }
        .fu-pop-menu-items{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 0px;
            gap: 2px;
            .fu-pop-menu-item{
                height: $menuItemHeight;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 6px 12px;
                gap: 8px;
                border-radius: 4px;

                @extend %font-v4-body-2;
                color: $color-v4-text-primary;

                @include icon-style('fu-pop-menu-icon', $fu-icon-drop, $menuItemIconSize, true, true) {
                    @include size($menuItemIconSize);
                }

                &:hover{
                    background-color: $menuItemHoverColor;
                }
            }
            .fu-pop-menu-item-delimiter{
                content: '';
                height: 6px;
                width: 100%;
                border-bottom: $borderLine;
                margin-bottom: 6px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
