@import '../../../../../styles/vars';


.is-color-items-holder{
  flex-wrap: wrap;
  display: flex;
  .is-color-item{
      min-width: 187px;
      margin: 15px 0;
      @include media-breakpoint-between('md','lg') {
          min-width: 139px;
      }
      @include media-breakpoint-between('lg','xl') {
          min-width: 163px;
      }
      @include media-breakpoint-between('sm','md') {
          min-width: 167px;
      }
      .color-sample{
          width: 40px;
          height: 40px;
          border-radius: 40px 0 0 0;
          display: inline-block;
      }
      .color-names{
          padding-left: 4px;
          display: inline-block;
          vertical-align: super;
          .type-name{
              @extend %font5;
          }
      }
  }
}
