@import '../../../../../src/style/scss/v3/vars/vars';
@import '../../../../../src/style/scss/v3/mixins/mixins';

$v3-bodyBorder: 1px solid $fu-light-400;

%left-sticky {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
}

:host {
    td:not(:last-child){
        border-right: var(--table-body-border, none);
    }
    &:nth-child(odd){
        background-color: var(--table-odd-row-background-color ,$White);
    }

    &:nth-child(even){
        background-color: var(--table-even-row-background-color ,$White);
    }

    &:hover,
    &:has(.fu-button-holder.fu-row-menu-shown){
        td {
            background-color: $fu-light-50;
            &.inner-row,
            &.sticky-left{
                background-color: $fu-light-50;
            }
        }
    }

    &.is-row-disabled,
    &.is-row-in-request {
        td {
            position: relative;
            &::after{
                content: '';
                background-color: $White;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                opacity: 0.7;
            }
        }
    }

    /*&.is-row-selected,*/
    &.is-row-expanded{
        background-color: $fu-light-200;
    }

    td {
        &.inner-row {
            background-color: rgba(229, 231, 233, 0.4);
        }
        &.expand-cell {
            width: 24px;
            text-align: center;
            border-top: $v3-bodyBorder;
            border-bottom: $v3-bodyBorder;
            @include icon-style('icon-expand', $fu-dark-200, (height: 8px, width: 5px), true, true) {
                cursor: pointer;
            }
            &.expanded {
                @include icon-style('icon-expand', $fu-dark-200, (height: 8px, width: 5px), true, true, 90);
            }
            &.inner-row {
                border: none;
            }
        }

        &.sticky-left {
            background-color: $White;
            position: sticky;
            left: 0;
            z-index: 2;
        }
        &.fu-border-left{
            border-left: solid 1px $fu-light-400;
        }

    }

    &.is-with-totals {
        &:hover td {
            background-color: $White;
        }
    }

    &.is-inner-row-expandable{
        td {
            &.expand-cell.inner-row{
                border-top: $v3-bodyBorder;
                border-bottom: $v3-bodyBorder;
            }
            &.inner-row {
                background-color: $fu-light-200;
            }
        }
        &:hover{
            td{
                background-color: $fu-light-100;
            }
        }
    }
}

:host-context(.on-scroll-right) {
    .sticky-left {
        &.display-shadow-on-scroll {
            &::after {
                @extend %left-sticky;
                width: 1px;
                right: 0;
                box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.6);
            }

            &.after-sticky::before {
                content: '';
                width: 100%;
                height: 26px;
                position: absolute;
                bottom: -27px;
                left: 0;
                box-shadow: 4px 3px 5px 0 $fu-light-500;
                background-color: $fu-light-100;
            }
        }
    }
}
