<ng-container *ngFor="let expandCell of expandCellCount | async; let isLast = last">
    <td *ngIf="cellShown | generic:'cell-expand'"
        class="expand-cell"
        [class.total-row]="isRowTotal"
        [class.expanded]="isExpanded"
        [class.inner-row]="isInnerRow"
        [class.sticky-left]="options?.rowsExpandableOptions?.sticky"
        [attr.rowspan]="attrRowspan | generic:'cell-expand'"
    >
        <fusion-icon
            *ngIf="isLast && showExpandIcon()"
            class="icon-expand"
            [name]="expandArrowIconName"
            (click)="expandRow.emit({rowIndex: rowIndex, row: row, isExpanded: !isExpanded})"
        >
        </fusion-icon>
    </td>
</ng-container>
<ng-container *ngFor="let column of columns; trackBy: trackByFn; let columnIndex = index; let isLast = last;">
    <td *ngIf="cellShown | generic:column.key"
        fusionTableCell
        [fusionTooltip]="columnsData[columnIndex]?.tooltip"
        [data]="row[column.key]"
        [row]="row"
        [rowIndex]="rowIndex"
        [rowSpanIndex]="rowSpanIndex"
        [column]="column"
        [options]="options"
        [position]="{x: rowIndex, y: columnIndex}"
        [isRemove]="columnsData[columnIndex]?.isRemove"
        [infoIconTooltip]="columnsData[columnIndex]?.infoIconOnHoverTooltip"
        [isRowSelected]="isRowSelected"
        [isLastColumn]="isLast"
        [isReadOnly]="isRowReadOnly"
        [customClass]="row['customClass']"
        [class]="columnsData[columnIndex]?.classes"
        [class.cell-tooltip]="columnsData[columnIndex]?.hasTooltip"
        [class.after-sticky]="hasAfterSticky"
        [class.inner-row]="isInnerRow"
        [ngStyle]="columnsData[columnIndex]?.styles"
        [style.width]="columnsData[columnIndex]?.width"
        [attr.colspan]="columnsData[columnIndex]?.colspan"
        [attr.rowspan]="attrRowspan | generic:column.key"
        (remove)="rowRemoved.emit()"
        (selectedChange)="selectedChange.emit($event)"
        (dataChange)="onDataChange($event, column.key)"
    ></td>
</ng-container>
