<div class="chip-filters-container">
    <ng-content></ng-content>
    <ng-container *ngIf="showAddFilter$ | async">
        <fusion-chip-filter [isDynamicContent]="true" [configuration]="{id: addFilterIndex,mode:'add', disabled: (disableAddFilter$ | async)}">
            <div class="fu-chip-content">
                <span>
                    <fusion-icon name="tune"></fusion-icon>
                    Add filters
                </span>
            </div>
            <div class="filter-element" #addFilter>
                <fusion-dropdown
                    [optionsTitle]="addFiltersTitle"
                    [search]="isSearch"
                    [options]="options$ | async"
                    [formControl]="addFilterControl"
                >
                </fusion-dropdown>
            </div>
        </fusion-chip-filter>
    </ng-container>
</div>
