<div class="chip-filters-container" style="color: #1a7f37"
     [attr.data-testid]="testId">
    <ng-content></ng-content>
    <ng-container *ngIf="(options$ | async).length">
        <fusion-chip-filter [isDynamicContent]="true" [testId]="testId"
                            [configuration]="{id: addFilterIndex,mode:'add', disabled: (disableAddFilter$ | async)}">
            <div class="fu-chip-content">
                <span>
                    <fusion-icon [name]="addFilterIcon"></fusion-icon>
                    Add filters
                </span>
            </div>
            <div class="filter-element" #addFilter>
                <fusion-dropdown
                    [testId]="testId"
                    [optionsTitle]="addFiltersTitle"
                    [search]="isSearch"
                    [options]="options$ | async"
                    [formControl]="addFilterControl"
                >
                </fusion-dropdown>
            </div>
        </fusion-chip-filter>
    </ng-container>
</div>
