@import '../../../../../src/style/scss/v2/vars/vars';
@import '../../../../../src/style/scss/v2/vars/border';
@import '../../../../../src/style/scss/v2/mixins/mixins';

%iconLeft{
    left: 10px;
    & + input {
        padding-left: 32px;
        padding-right: 10px;
    }
}

%iconRight{
    right: 10px;
    & + input {
        padding-left: 10px;
        padding-right: 32px;
    }
}

%actionButtonDisabled {
    pointer-events: none;
    cursor: default;
    color: $fu-light-700;
}

:host-context(.fu-input-holder) {
    // Icon
    i.fu-input-icon {
        @include size(14px);
        @include icon-style(null, $fu-light-700, 14px, false, true);
        position: absolute;
        top: 13px;

        &.left {
            @extend %iconLeft;
        }

        &.right {
            @extend %iconRight;
        }

        &.loading{
            @extend %iconRight;
            &.left {
                @extend %iconLeft;
            }
        }
    }

    // Validation Icon
    .fu-validation-icon-holder {
        position: absolute;
        top: 13px;
        right: 11px;
    }

    // password toggle shown icon
    i.fu-toggle-pass {
        @include size(14px);
        @include icon-style(null, $fu-light-700, 14px, false, true);
        position: absolute;
        top: 13px;
        right: 12px;
        cursor: pointer;
    }

    // action button
    button {
        // hide loader from v1
        fusion-icon.loading {
            display: none;
        }

        order: 2;
        cursor: pointer;
        box-sizing: border-box;
        padding: 14px 10px 11px;
        position: absolute;
        outline: none;
        border: none;
        background-color: transparent;
        color: $fu-light-700;
        width: 129px;
        right: 0;
        @extend %font-bodyStrong;
        line-height: 1.33;
        @include icon-style('button-icon', $fu-light-700, 11px, false, true) {
            height: 11px;
            vertical-align: middle;
            margin-right: 8px;
        }

        &:hover {
            color: $fu-primary-500;
            @include icon-style('button-icon', $fu-primary-500, 11px, false, true);
        }

        &.is-loading {
            cursor: not-allowed;
            text-align: right;
            padding: 13px 10px 11px;

            .fu-action-button-text,
            .button-icon {
                display: none;
            }
        }

        &.fu-error {
            @extend %actionButtonDisabled;
        }
    }
}

:host-context(.fu-input-holder.focused) {
    .fu-validation-icon-holder {
        display: none;
    }

    button {
        color: $fu-primary-500;
        @include icon-style('button-icon', $fu-primary-500, 11px, false, true);

        &.fu-error {
            @extend %actionButtonDisabled;
            @include icon-style('button-icon', $fu-light-700, 11px, false, true);
        }
    }
}

:host-context(.fu-input-holder.fu-input-small) {
    i.fu-input-icon {
        top: 8px;
    }

    i.fu-toggle-pass {
        top: 9px;
    }

    .fu-validation-icon-holder {
        top: 10px;
    }
}

:host-context(.fu-input-holder.fu-error-error) {
    .fu-validation-icon-holder {
        @include icon-style('icon-validation', $fu-negative-500, 14px, false, true);
    }
}

:host-context(.fu-input-holder.fu-error-warning) {
    .fu-validation-icon-holder {
        @include icon-style('icon-validation', $fu-neutral-500, 14px, false, true);
    }
}

:host-context(.fu-input-holder.fu-has-search-icon ) {
    .fu-search-icon-holder {
        position: absolute;
        left: 12px;
        z-index: 2;
        top: var(--search-icon-top, 12px);
        color: var(--search-icon-color, #{$fu-light-700});
        @include icon-style('icon-search', currentColor, 12px, false, true);
    }

    .fu-clear-input {
        cursor: pointer;
        position: absolute;
        left: 12px;
        z-index: 2;
        top: 12px;
        @include icon-style('icon-clear-search', $fu-light-500, 12px, false, true);

        &.focused {
            @include icon-style('icon-clear-search', $fu-light-500, 12px, false, true);
        }

        //@include icon-style('icon-clear-search', $fu-light-900, 12px, false, true, 0, true);
    }
}

:host-context(.fu-input-holder.fu-has-search-icon.focused ) {
    @include icon-style('icon-search', currentColor, 12px, false, true);
}

:host-context(.fu-input-holder.fu-has-search-icon.fu-search-icon-right-position ) {
    .fu-search-icon-holder {
        right: 12px;
        left: inherit;
    }

    .fu-clear-input {
        left: inherit;
        right: var(--clear-input-right, 12px);
    }
}

:host-context(.fu-input-holder.fu-has-search-icon.fu-input-small) {
    .fu-search-icon-holder {
        top: var(--search-icon-top, 4px);
    }
    .fu-clear-input {
        top: 4px;
    }
    i.loading{
        top: 5px;
    }
}

:host-context(.fu-input-holder.fu-has-search-icon.fu-rounded) {
    .fu-search-icon-holder {
        top: var(--search-icon-top, 2px);
        left: 10px;
        right: inherit;
        color: var(--search-icon-color, #{$fu-light-700});
        @include icon-style('icon-search', currentColor, 12px, false, true);

        &.focused {
            color: var(--search-icon-focused-color, #{$fu-primary-500});
            @include icon-style('icon-search', currentColor, 12px, false, true);
        }
    }
    .fu-clear-input {
        top: var(--clear-input-top, 2px);
        left: var(--clear-input-left, 10px);
        right: inherit;
        @include icon-style('icon-clear-search', $fu-light-500, 12px, false, true) ;
        @include icon-style('icon-clear-search', $fu-light-900, 12px, false, true, 0, true);
    }
}

:host-context(.fu-input-holder.fu-has-search-icon.fu-search-icon-right-position.fu-rounded) {
    .fu-search-icon-holder {
        top: var(--search-icon-top, 3px);
        right: 10px;
        left: inherit;
    }

    .fu-clear-input {
        right: var(--clear-input-right, 7px);
        left: inherit;
    }
}

:host-context(.fu-input-holder.fu-has-search-icon.fu-rounded.medium) {
    .fu-search-icon-holder{
        top: var(--search-icon-top, 6px);
    }

    .fu-clear-input {
        top: var(--clear-input-top, 7px);
    }
}

