<button [class]="buttonClass" [class.fu-loading]="loading" [disabled]="disabled || loading">
    <fusion-icon *ngIf="startIconName" class="fu-button-start-icon" [name]="startIconName"></fusion-icon>
    <div class="fu-button-content"><ng-content></ng-content></div>
    <fusion-icon *ngIf="endIconName" class="fu-button-end-icon" [name]="endIconName"></fusion-icon>
    <div class="fu-button-loading">
        <svg class="fu-circle-svg" width="16" height="16" style="padding: 2px;"><circle cx="50%" cy="50%" r="43.75%" style="stroke-width: 2;"></circle></svg>
    </div>
</button>
