@import '../../../src/style/scss/v2/vars/vars';
@import '../../../src/style/scss/v2/vars/mixins';
@import '../../../src/style/scss/v2/vars/colors';

:host{
    @extend %border-box-normalize;

    @include icon-style('open-close', $fu-dark-300, 8px, false, true){
        position: absolute;
        right: 11px;
    }

    .accordion-header{
        border-bottom: solid 1px $fu-light-300;
        display: block;
        height: 40px;
        color: $fu-dark-300;
        padding: 10px;
        position: relative;
        @extend %font-body;
        &:hover{
            background-color: $fu-light-100;
            cursor: pointer;
        }

        &.opened{
            border-bottom-color: transparent;
            @include icon-style('open-close', $fu-dark-300, 8px, false, true, 90);
        }

        &.icon-position-left{
            padding-left: 29px;
            .open-close{
                left: 11px;
            }
        }
    }
}
