@import '../../../src/style/scss/v4/app';

$navigationPanelMaxWidth: 276px;
$pageHeaderHeight: 64px;

:host{
    @extend %reset;
    .fu-layout{
        display: grid;
        grid-template-columns: min-content 1fr;
        width: 100vw;
        height: 100vh;
        .fu-left-navigation{
            display: block;
            height: 100%;
            max-width: $navigationPanelMaxWidth;
        }
        .fu-main-page{
            .fu-page-header{
                height: $pageHeaderHeight;
            }
            .fu-page-content{


            }
        }
    }
}

