<div class="fu-layout">
    <!--navigation-->
    <div class="fu-left-navigation">
        <fusion-navigation-menu
            [layoutUser]="layoutUser$ | async"
            [menuItems]="navigationMenu$ | async"
            (menuItemClicked)="onMenuItemClick($event)"
        ></fusion-navigation-menu>
    </div>
    <!--navigation-->
    <div class="fu-main-page">
        <!--main header-->
        <div class="fu-page-header">header</div>
        <!--main header-->
        <!--main content-->
        <div class="fu-page-content">content</div>
        <!--main content-->
    </div>
</div>
