<div class="fu-layout">
    <!--navigation-->
    <div class="fu-left-navigation">
        <fusion-navigation-menu #navigationMenu
            [primaryMenuItemMode]="primaryMenuItemMode"
            [layoutUser]="layoutUser"
            [menuItems]="navigationMenu$ | async"
            (menuItemClicked)="menuItemClick.emit($event)"
        ></fusion-navigation-menu>
    </div>
    <!--navigation-->
    <div class="fu-main-page">
        <!--main header-->
        <div class="fu-page-header" [class.fu-page-header-multiline]="headerContent?.multiline">
            <fusion-layout-header
                [class.fu-multiline-header]="headerContent?.multiline"
                [headerContent]="headerContent"
                [teleportElements]="teleportElements"
                (backButtonClicked)="pageBackButtonClicked.emit($event)"
            ></fusion-layout-header>
        </div>
        <!--main header-->
        <!--main content-->
        <div #mainContent class="main-content" id="main-view" [class.fu-menu-expanded-opened]="!navigationMenu.isSecondaryMenuExpandable && (navigationMenu.secondaryMenuOpen$ | async) && (navigationMenu.secondaryMenuItems$ | async).length">
            <div class="page-view">
                <div class="app-route-content-holder">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
        <!--main content-->
    </div>
</div>
