@import '../../../src/style/scss/v4/vars/vars';

$navigationPanelMaxWidth: 265px;
$pageHeaderHeight: 64px;

$menuPrimaryWidth: 64px;
$menuSecondaryWidth: 200px;

:host{
    @extend %reset;
    @extend %font-v4-regular;
    .fu-layout{
        display: grid;
        grid-template-columns: min-content 1fr;
        width: 100vw;
        height: 100vh;
        .fu-left-navigation{
            display: block;
            height: 100%;
            max-width: $navigationPanelMaxWidth;
        }
        .fu-main-page{
            .fu-page-header{
                height: $pageHeaderHeight;
                border-bottom: solid 1px $fu-divider;
            }
            .main-content{
                height: calc(100vh - var(--lauout-header-height, #{$pageHeaderHeight}));
                overflow-y: auto;
                .page-view {
                    height: 100%;
                    width: calc(100vw - #{$menuPrimaryWidth} - #{$menuSecondaryWidth});
                    transition: width .45s ease-out;
                    &.fu-menu-collapsed{
                        width: calc(100vw - #{$menuPrimaryWidth});
                    }
                    .app-route-content-holder{
                        height: 100%;
                    }
                }
            }
        }
    }
}

