<div class="fu-layout">
    <!--navigation-->
    <div class="fu-left-navigation">
        <fusion-navigation-menu #navigationMenu
            [layoutUser]="layoutUser"
            [menuItems]="navigationMenu$ | async"
            (menuItemClicked)="menuItemClick.emit($event)"
        ></fusion-navigation-menu>
    </div>
    <!--navigation-->
    <div class="fu-main-page">
        <!--main header-->
        <div class="fu-page-header">
            <fusion-layout-header
                [headerContent]="headerContent"
                (backButtonClicked)="pageBackButtonClicked.emit($event)"
            ></fusion-layout-header>
        </div>
        <!--main header-->
        <!--main content-->
        <div #mainContent class="main-content" id="main-view">
            <div class="page-view" [class.fu-menu-collapsed]="navigationMenu.isSecondaryMenuExpandable">
                <div class="app-route-content-holder">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
        <!--main content-->
    </div>
</div>
