@if (!(isEditMode$ | async)) {
    <div class="fu-edit-value-wrapper"
         [class.fu-read-only]="readOnly"
         [class.fu-number]="isNumber"
         (click)="goToEditMode()"
    >
        @switch (type) {
            @case (1) {
                <span class="fu-edit-value">{{ inputValue | number: pipeOptions }}</span>
            }
            @case (2) {
                <span class="fu-edit-value">{{ inputValue | currency
                    : currencyPipeParameters?.currencyCode || undefined
                    : currencyPipeParameters?.display || (currencyPipeParameters ? undefined : '$')
                    : currencyPipeParameters?.digitsInfo || undefined }}</span>
            }
            @case (3) {
                <span class="fu-edit-value">{{ inputValue | number: pipeOptions }}%</span>
            }
            @default{
                <span class="fu-edit-value">{{ inputValue }}</span>
            }
        }
    </div>
} @else {
    <div class="fu-edit-input-wrapper" #inputWrapper>
        <fusion-input #inputComponent
                [formControl]="inputControl"
                [type]="inputType"
                [inlineErrorText]="error"
                [prefix]="inputPrefix"
                [suffix]="inputSuffix"
                [showApply]="true"
                [disabled]="disabled"
                (applyButtonClicked)="save()"
                (keydown.enter)="save()"
                (keydown.escape)="cancel()"
        ></fusion-input>
    </div>
}

