@import '../../../src/style/scss/v3/vars/vars';
@import '../../../src/style/scss/v3/mixins/mixins';
@import '../../../src/style/scss/v3/vars/border';


%iconRight{
    right: 10px;
}

:host {
    @extend %reset;
    .is-dropdown-dual-multi-select {
        position: relative;
        text-align: left;
        .dropdown-dual-multi-select-layout {
            &.fu-options-position-left {
                right:0;
                left: inherit;
            }
        }
        .dropdown-dual-multi-select-layout {
            animation: fadeIn 0.6s 1 ease-out;
            z-index: 1000;
            position: absolute;
            background-color: #fff;
            color: #7b838c;
            box-shadow: 0 2px 4px 0 #00000026;
            border-radius: 8px;
            overflow: hidden;
            width: 545px;
            max-width: 545px;
            height: 361px;
            max-height: 361px;
            border: 1px solid $fu-light-400;
        }
        .dropdown-dual-multi-select-button {
            cursor: pointer;
            max-width: 240px;
            font-size: 12px;
            .dual-select-button {
                width: 100%;
                height: 40px;
                cursor: pointer;
                border-radius: 8px;
                padding: 0 6px 0 11px;
                background: $fu-light-100;
                color: $fu-black-500;
                display: flex;
                align-items: center;
                justify-content: space-between;
                user-select: none;
                position: relative;
                .fu-dual-multi-select-placeholder{
                    @extend %font-bodySmall;
                    line-height: 15.51px;
                    letter-spacing: 0.24px;
                }
                &.btn-disabled {
                    cursor: not-allowed;
                    &:hover {
                        border-color: #dddfe1;
                    }
                }
                i.icon {
                    position: absolute;
                    top: 13px;
                    @include icon-style('angle-down', $fu-light-900, 16px, true, true){
                        @include size(16px);
                    }
                    &.right {
                        @extend %iconRight;
                    }
                }
            }
        }
    }
}

:host-context(fusion-chip-filter) {
    .fu-chip-content-default{
        display: flex;
        gap: 4px;
        .fu-chip-label {
            @extend %font-bodySmall;
        }
        .fu-chip-text {
            @extend %font-bodySmallStrong;
        }
    }
}
