<div class="modal-header" *ngIf="headerText">
    <div class="modal-header-title" [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:modalTestIdModifiers.MODAL_TITLE">{{ headerText }}</div>
    <fusion-icon class="fu-info"
                 *ngIf="infoText"
                 [name]="infoIcon"
                 [fusionTooltip]="infoText"
    ></fusion-icon>
    <fusion-icon class="fu-close"
                 *ngIf="showCloseButton"
                 [name]="closeButtonIcon"
                 [attr.data-testid]="testIdsService.getTestAttribute.bind(this) | generic:testId:modalTestIdModifiers.MODAL_CLOSE_BUTTON"
                 (click)="closeModal.emit()"
    ></fusion-icon>
</div>
