@import '../../../../../src/style/scss/v3/vars/fonts';
@import '../../../../../src/style/scss/v3/mixins/mixins';
@import '../../../../../src/style/scss/v3/vars/colors';
@import '../../modal_vars';

%border-box-normalize{
    * {
        box-sizing: border-box;
    }
}

$borderBottom: 1px solid $fu-light-400;
$height: $modalHeaderHeight;
$padding: 16px 16px 16px 24px;


:host {
    @extend %border-box-normalize;
    .modal-header {
        box-sizing: border-box;
        @extend %font-bodyMediumStrong;
        color: $fu-black-500;
        height: $height;
        padding: $padding;
        border-bottom: $borderBottom;

        @include icon-style('close', $fu-light-500, 20px, true, true) {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            right: 18px;
            top: 16px;
        }
        @include icon-style('close', $fu-light-800, 20px, true, true, 0, true);
    }
}
