@import '../../../src/style/scss/v1/mixins/mixins';
@import '../../../src/style/scss/v1/vars/vars';
@import '../../../src/style/scss/v1/vars/border';

$iconsWidth: 46px;

:host {
    @extend %reset;
    height: 100%;
    width: 100%;
    @extend %list-reset;

    .is-list-holder {
        height: 100%;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;

        .option{
            @include icon-style('clear-full-circle', ('.background': $light-600, '.inner':$White), 10px, false, true);
            @include icon-style('check-v-2', $dark-300, 10px, false, true);

            width: 100%;
            @extend %borderBottom;
            padding: 4px 10px 4px 0;

            @extend %font12;
            color: $dark-300;
        }

        .option-label{
            width: calc(100% - #{$iconsWidth});
            vertical-align: middle;
            line-height: 15px;
        }

        .checkIcon{
            vertical-align: middle;
            margin-right: 12px;
        }

        .removeIcon{
            vertical-align: middle;
            float: right;
            cursor: pointer;
            margin-top: 2px;
        }

        &.frame {
            @extend %border;
            background-color: $light-100;
            height: 100%;
            ul{
                padding-left: 14px;
                padding-right: 14px;
                li{
                    &:last-child {
                        margin-bottom: 3px;
                        .option{
                            border-bottom: none;
                        }
                    }
                    &:first-child{
                        margin-top: 3px;
                    }
                }
            }
        }
    }

    .title{
        @extend %font6;
        color: $light-800;
        margin-bottom: 10px;
    }

    .truncate{
        @extend %truncate;
    }
}
