@import "../../../../../fusion-ui/src/style/scss/v1/vars/vars";
@import "../../../../../fusion-ui/src/style/scss/v1/mixins/mixins";
@import "../../../../../fusion-ui/src/style/scss/v1/vars/colors";

@include icon-style(null, $light-800, 17px, false, true) {
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}
