:host {
  width: 328px;
  height: 172px;
  pointer-events: none;
  border-radius: 3px;
  background: #12243D;
  color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .exmpl-link{
   margin-bottom: 26px;
    span{
      color: #3091F6;
    }
  }
}